Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

refactor(backend): Geminiレビューコメントに対応
  apps/backend/src/modules/payment-status/application/services/payment-status-update-scheduler.service.spec.ts
  apps/backend/src/modules/payment-status/application/services/payment-status-update-scheduler.service.ts
  apps/backend/src/modules/payment-status/application/use-cases/update-payment-status.use-case.ts
  apps/backend/src/modules/payment-status/domain/entities/payment-status-record.entity.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.spec.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.ts
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.ts
Due: unit, e2e-backend

docs: Gemini PR#331レビューから学習した観点をルールに追加
  .cursor/rules/02-code-standards.md
Due: none

fix(backend): UnitテストのCIエラーを修正
  apps/backend/jest.setup.ts
  apps/backend/package.json
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.spec.ts
Due: none

fix(payment-status): Geminiレビュー指摘事項を修正
  apps/backend/src/modules/payment-status/application/services/payment-status-update-scheduler.service.ts
  apps/backend/src/modules/payment-status/application/use-cases/update-payment-status.use-case.spec.ts
  apps/backend/src/modules/payment-status/application/use-cases/update-payment-status.use-case.ts
  apps/backend/src/modules/payment-status/domain/entities/payment-status-record.entity.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.spec.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.ts
Due: unit, e2e-backend

docs(rules): Gemini PR#331レビュー観点を追加
  .cursor/rules/02-code-standards.md
Due: none

fix(payment-status): saveメソッドで副作用を避けるため新しい配列を作成
  .cursor/rules/02-code-standards.md
Due: none

fix(payment-status): saveメソッドで副作用を避けるため新しい配列を作成
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.ts
Due: unit, e2e-backend

feat(backend): FR-014 支払いステータス管理機能の実装 (#331)
  .cursor/rules/02-code-standards.md
  apps/backend/jest.setup.ts
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/modules/aggregation/domain/repositories/aggregation.repository.interface.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.ts
  apps/backend/src/modules/payment-status/application/services/payment-status-update-scheduler.service.spec.ts
  apps/backend/src/modules/payment-status/application/services/payment-status-update-scheduler.service.ts
  apps/backend/src/modules/payment-status/application/use-cases/get-payment-status-history.use-case.spec.ts
  apps/backend/src/modules/payment-status/application/use-cases/get-payment-status-history.use-case.ts
  apps/backend/src/modules/payment-status/application/use-cases/update-payment-status.use-case.spec.ts
  apps/backend/src/modules/payment-status/application/use-cases/update-payment-status.use-case.ts
  apps/backend/src/modules/payment-status/domain/entities/payment-status-history.entity.spec.ts
  apps/backend/src/modules/payment-status/domain/entities/payment-status-history.entity.ts
  apps/backend/src/modules/payment-status/domain/entities/payment-status-record.entity.spec.ts
  apps/backend/src/modules/payment-status/domain/entities/payment-status-record.entity.ts
  apps/backend/src/modules/payment-status/domain/enums/payment-status.enum.ts
  apps/backend/src/modules/payment-status/domain/repositories/payment-status.repository.interface.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.spec.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.ts
  apps/backend/src/modules/payment-status/payment-status.module.ts
  apps/backend/src/modules/payment-status/payment-status.tokens.ts
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.spec.ts
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.ts
  apps/backend/src/modules/payment-status/presentation/dto/payment-status.dto.ts
  apps/backend/src/modules/payment-status/presentation/dto/update-payment-status.dto.ts
Due: unit, e2e-backend

docs: FR-015詳細設計書のREADMEとクラス図を作成
  docs/detailed-design/FR-015_inconsistency-alert/README.md
  docs/detailed-design/FR-015_inconsistency-alert/class-diagrams.md
Due: none

docs: FR-015詳細設計書のシーケンス図と入出力設計を追加
  docs/detailed-design/FR-015_inconsistency-alert/input-output-design.md
  docs/detailed-design/FR-015_inconsistency-alert/sequence-diagrams.md
Due: none

docs: Geminiレビュー対応 - エラーコード統一、DTO冗長性解消、責務分離改善
  docs/detailed-design/FR-015_inconsistency-alert/README.md
  docs/detailed-design/FR-015_inconsistency-alert/class-diagrams.md
  docs/detailed-design/FR-015_inconsistency-alert/input-output-design.md
  docs/detailed-design/FR-015_inconsistency-alert/sequence-diagrams.md
Due: none

docs: Alertエンティティ定義からisRead/isResolvedを削除
  docs/detailed-design/FR-015_inconsistency-alert/README.md
Due: none

docs: Geminiレビューから学んだ観点をルールに追加
  .cursor/rules/02-code-standards.md
Due: none

docs: Geminiレビュー対応 - バリデーションルールとシーケンス図を修正
  docs/detailed-design/FR-015_inconsistency-alert/input-output-design.md
  docs/detailed-design/FR-015_inconsistency-alert/sequence-diagrams.md
Due: none

feat(backend): Domain層の実装 - Alertエンティティ、Enum、Value Object、Repositoryインターフェース
  apps/backend/src/modules/alert/domain/entities/alert.entity.ts
  apps/backend/src/modules/alert/domain/enums/action-type.enum.ts
  apps/backend/src/modules/alert/domain/enums/alert-level.enum.ts
  apps/backend/src/modules/alert/domain/enums/alert-status.enum.ts
  apps/backend/src/modules/alert/domain/enums/alert-type.enum.ts
  apps/backend/src/modules/alert/domain/errors/alert.errors.ts
  apps/backend/src/modules/alert/domain/repositories/alert.repository.interface.ts
  apps/backend/src/modules/alert/domain/value-objects/alert-action.vo.ts
  apps/backend/src/modules/alert/domain/value-objects/alert-details.vo.ts
Due: unit, e2e-backend

fix(backend): 重複インポートとPrettierエラーを修正
  apps/backend/src/modules/alert/alert.tokens.ts
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.ts
  apps/backend/src/modules/alert/application/use-cases/get-alerts.use-case.ts
  apps/backend/src/modules/alert/application/use-cases/mark-alert-as-read.use-case.ts
  apps/backend/src/modules/alert/application/use-cases/resolve-alert.use-case.ts
  apps/backend/src/modules/alert/domain/services/alert.service.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.ts
Due: unit, e2e-backend

feat(backend): Presentation層の実装 - AlertControllerとDTO
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.ts
  apps/backend/src/modules/alert/presentation/dto/alert.dto.ts
  apps/backend/src/modules/alert/presentation/dto/create-alert.dto.ts
  apps/backend/src/modules/alert/presentation/dto/resolve-alert.dto.ts
Due: unit, e2e-backend

feat(backend): AlertModuleを追加し、型エラーを修正
  apps/backend/src/app.module.ts
  apps/backend/src/modules/alert/alert.module.ts
  apps/backend/src/modules/alert/domain/entities/alert.entity.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.ts
Due: unit, e2e-backend

feat(frontend): アラート機能のフロントエンド実装
  apps/frontend/src/app/alerts/[id]/page.tsx
  apps/frontend/src/app/alerts/page.tsx
  apps/frontend/src/components/alerts/AlertBadge.tsx
  apps/frontend/src/components/alerts/AlertList.tsx
  apps/frontend/src/lib/api/alerts.ts
  apps/frontend/src/utils/alert.utils.ts
Due: unit

test(backend): AlertモジュールのDomain層テストを実装
  apps/backend/src/modules/alert/domain/entities/alert.entity.spec.ts
  apps/backend/src/modules/alert/domain/services/alert.service.spec.ts
  apps/backend/src/modules/alert/domain/value-objects/alert-action.vo.spec.ts
  apps/backend/src/modules/alert/domain/value-objects/alert-details.vo.spec.ts
Due: none

fix(test): Discrepancyコンストラクタのパラメータを修正
  apps/backend/src/modules/alert/domain/services/alert.service.spec.ts
Due: none

fix(test): 引落未検出テストケースを修正
  apps/backend/src/modules/alert/domain/services/alert.service.spec.ts
Due: none

fix(test): ReconciliationSummaryのバリデーションを修正
  apps/backend/src/modules/alert/domain/services/alert.service.spec.ts
Due: none

fix(test): 複数候補テストケースのReconciliationSummaryを修正
  apps/backend/src/modules/alert/domain/services/alert.service.spec.ts
Due: none

fix(test): AlertDetailsのバリデーションテストを修正
  apps/backend/src/modules/alert/domain/value-objects/alert-details.vo.spec.ts
Due: none

fix(test): AlertDetailsの不要なバリデーションテストを削除
  apps/backend/src/modules/alert/domain/value-objects/alert-details.vo.spec.ts
Due: none

test(backend): Application層のUseCaseテストを実装
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.spec.ts
  apps/backend/src/modules/alert/application/use-cases/get-alerts.use-case.spec.ts
  apps/backend/src/modules/alert/application/use-cases/mark-alert-as-read.use-case.spec.ts
  apps/backend/src/modules/alert/application/use-cases/resolve-alert.use-case.spec.ts
Due: none

test(backend): Infrastructure層とPresentation層のテストを実装
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.spec.ts
Due: none

fix(test): AlertControllerテストのモックを修正
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.spec.ts
Due: none

fix(test): JsonAlertRepositoryテストを修正
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.spec.ts
Due: none

fix(test): AlertControllerテストのパラメータ順序を修正
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.spec.ts
Due: none

test(backend): AlertモジュールのE2Eテストを実装
  apps/backend/test/alert.e2e-spec.ts
Due: none

fix(test): Alert E2Eテストを修正
  apps/backend/test/alert.e2e-spec.ts
Due: none

test(backend): Alertモジュールのテストカバレッジを拡充
  apps/backend/src/modules/alert/domain/entities/alert.entity.spec.ts
  apps/backend/src/modules/alert/domain/errors/alert.errors.spec.ts
  apps/backend/src/modules/alert/domain/value-objects/alert-details.vo.spec.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
  apps/backend/test/alert.e2e-spec.ts
Due: none

fix(test): JsonAlertRepositoryのfindUnresolvedテストを修正
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
Due: none

fix(test): findUnresolvedテストの期待値を修正
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
Due: none

fix(test): findUnresolvedテストを修正
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
Due: none

fix(backend): JsonAlertRepositoryのコンストラクタからensureDataDirectory呼び出しを削除
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.ts
Due: unit, e2e-backend

fix(backend): CreateAlertUseCaseでカスタム例外を使用
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.ts
  apps/backend/src/modules/reconciliation/domain/errors/reconciliation.errors.ts
Due: unit, e2e-backend

refactor(backend): AlertエンティティのmarkAsReadを不変に変更
  apps/backend/src/modules/alert/application/use-cases/mark-alert-as-read.use-case.ts
  apps/backend/src/modules/alert/domain/entities/alert.entity.ts
Due: unit, e2e-backend

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
