Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

docs: Geminiレビューで学んだ観点をルールファイルに追加
  .cursor/rules/02-code-standards.md
Due: none

feat: FR-009全PhaseのIssue作成データを追加
  scripts/github/issues/issue-data/fr-009-phase3-infrastructure.json
  scripts/github/issues/issue-data/fr-009-phase4-application.json
  scripts/github/issues/issue-data/fr-009-phase5-presentation.json
  scripts/github/issues/issue-data/fr-009-phase6-frontend.json
  scripts/github/issues/issue-data/fr-009-phase7-integration.json
Due: none

chore: 不要なIssueデータファイルを削除
  scripts/github/issues/issue-data/fr-009-phase3-infrastructure.json
  scripts/github/issues/issue-data/fr-009-phase4-application.json
  scripts/github/issues/issue-data/fr-009-phase5-presentation.json
  scripts/github/issues/issue-data/fr-009-phase6-frontend.json
  scripts/github/issues/issue-data/fr-009-phase7-integration.json
Due: none

refactor: Geminiレビュー対応 (第2弾) (#291)
  apps/backend/src/modules/category/domain/entities/merchant.entity.ts
  apps/backend/src/modules/category/domain/services/merchant-matcher.service.ts
  apps/backend/src/modules/category/domain/services/subcategory-classifier.service.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.ts
  apps/backend/src/modules/category/domain/value-objects/classification-confidence.vo.ts
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  scripts/github/issues/issue-data/coverage-script-fix.json
Due: unit, e2e-backend

docs: Geminiレビュー(第2弾)で学んだ観点をルールに追加
  .cursor/rules/02-code-standards.md
Due: none

feat(category): Domain層ユニットテスト実装 (#291)
  apps/backend/src/modules/category/domain/entities/merchant.entity.spec.ts
  apps/backend/src/modules/category/domain/entities/subcategory.entity.spec.ts
  apps/backend/src/modules/category/domain/services/keyword-matcher.service.spec.ts
  apps/backend/src/modules/category/domain/services/merchant-matcher.service.spec.ts
  apps/backend/src/modules/category/domain/services/subcategory-classifier.service.spec.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.spec.ts
  apps/backend/src/modules/category/domain/value-objects/classification-confidence.vo.spec.ts
  apps/backend/src/modules/category/domain/value-objects/subcategory-classification.vo.spec.ts
Due: none

fix(category): テキスト正規化の改善とルールファイル更新 (#291)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/category/domain/services/keyword-matcher.service.spec.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.spec.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.ts
Due: unit, e2e-backend

fix(category): テキスト正規化の改善とルールファイル更新 (#291) (#300)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/category/domain/services/keyword-matcher.service.spec.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.spec.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.ts
Due: unit, e2e-backend

feat: FR-009 Phase 1 Domain層実装 (#290) (#291)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/category/domain/entities/merchant.entity.spec.ts
  apps/backend/src/modules/category/domain/entities/merchant.entity.ts
  apps/backend/src/modules/category/domain/entities/subcategory.entity.spec.ts
  apps/backend/src/modules/category/domain/entities/subcategory.entity.ts
  apps/backend/src/modules/category/domain/enums/classification-reason.enum.ts
  apps/backend/src/modules/category/domain/repositories/merchant.repository.interface.ts
  apps/backend/src/modules/category/domain/repositories/subcategory.repository.interface.ts
  apps/backend/src/modules/category/domain/services/keyword-matcher.service.spec.ts
  apps/backend/src/modules/category/domain/services/keyword-matcher.service.ts
  apps/backend/src/modules/category/domain/services/merchant-matcher.service.spec.ts
  apps/backend/src/modules/category/domain/services/merchant-matcher.service.ts
  apps/backend/src/modules/category/domain/services/subcategory-classifier.service.spec.ts
  apps/backend/src/modules/category/domain/services/subcategory-classifier.service.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.spec.ts
  apps/backend/src/modules/category/domain/utils/text-normalizer.util.ts
  apps/backend/src/modules/category/domain/value-objects/classification-confidence.vo.spec.ts
  apps/backend/src/modules/category/domain/value-objects/classification-confidence.vo.ts
  apps/backend/src/modules/category/domain/value-objects/subcategory-classification.vo.spec.ts
  apps/backend/src/modules/category/domain/value-objects/subcategory-classification.vo.ts
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  libs/types/src/enums/category-type.enum.ts
  libs/types/src/index.ts
  libs/types/src/report.types.ts
  libs/types/src/transaction.types.ts
  scripts/github/issues/issue-data/coverage-script-fix.json
  scripts/github/issues/issue-data/rule-consolidation.json
  scripts/github/issues/issue-data/status-change-failure.json
  scripts/github/issues/issue-data/status-change-failure.yml
Due: unit, e2e-backend

feat(category): Phase 3 Infrastructure層実装
  apps/backend/src/migrations/1732400000000-AddSubcategoriesAndMerchantsTables.ts
  apps/backend/src/modules/category/domain/repositories/merchant.repository.interface.ts
  apps/backend/src/modules/category/infrastructure/entities/merchant.orm-entity.ts
  apps/backend/src/modules/category/infrastructure/entities/subcategory.orm-entity.ts
  apps/backend/src/modules/category/infrastructure/repositories/merchant-typeorm.repository.spec.ts
  apps/backend/src/modules/category/infrastructure/repositories/merchant-typeorm.repository.ts
  apps/backend/src/modules/category/infrastructure/repositories/subcategory-typeorm.repository.spec.ts
  apps/backend/src/modules/category/infrastructure/repositories/subcategory-typeorm.repository.ts
  apps/backend/src/modules/category/infrastructure/seeds/merchants.seed.ts
  apps/backend/src/modules/category/infrastructure/seeds/seed.runner.ts
  apps/backend/src/modules/category/infrastructure/seeds/subcategories.seed.ts
Due: unit, e2e-backend

fix(category): PR #301 Geminiレビュー対応
  .cursor/rules/02-code-standards.md
  apps/backend/src/migrations/1732400000000-AddSubcategoriesAndMerchantsTables.ts
  apps/backend/src/modules/category/infrastructure/repositories/merchant-typeorm.repository.spec.ts
  apps/backend/src/modules/category/infrastructure/seeds/seed.runner.ts
Due: unit, e2e-backend

fix(category): PR #301 Geminiレビュー対応 (#302)
  .cursor/rules/02-code-standards.md
  apps/backend/src/migrations/1732400000000-AddSubcategoriesAndMerchantsTables.ts
  apps/backend/src/modules/category/infrastructure/repositories/merchant-typeorm.repository.spec.ts
  apps/backend/src/modules/category/infrastructure/seeds/seed.runner.ts
Due: unit, e2e-backend

feat(category): FR-009 Phase 3 Infrastructure層実装 #294 (#301)
  .cursor/rules/02-code-standards.md
  apps/backend/src/migrations/1732400000000-AddSubcategoriesAndMerchantsTables.ts
  apps/backend/src/modules/category/domain/repositories/merchant.repository.interface.ts
  apps/backend/src/modules/category/infrastructure/entities/merchant.orm-entity.ts
  apps/backend/src/modules/category/infrastructure/entities/subcategory.orm-entity.ts
  apps/backend/src/modules/category/infrastructure/repositories/merchant-typeorm.repository.spec.ts
  apps/backend/src/modules/category/infrastructure/repositories/merchant-typeorm.repository.ts
  apps/backend/src/modules/category/infrastructure/repositories/subcategory-typeorm.repository.spec.ts
  apps/backend/src/modules/category/infrastructure/repositories/subcategory-typeorm.repository.ts
  apps/backend/src/modules/category/infrastructure/seeds/merchants.seed.ts
  apps/backend/src/modules/category/infrastructure/seeds/seed.runner.ts
  apps/backend/src/modules/category/infrastructure/seeds/subcategories.seed.ts
Due: unit, e2e-backend

feat(frontend): FR-009 Phase 6 - サブカテゴリ型定義・APIクライアント・ストア・基本コンポーネント実装 (#297)
  apps/frontend/src/components/subcategories/ClassificationBadge.tsx
  apps/frontend/src/components/subcategories/SubcategorySelector.tsx
  apps/frontend/src/lib/api/subcategories.ts
  apps/frontend/src/stores/subcategory.store.ts
  libs/types/src/index.ts
  libs/types/src/subcategory.types.ts
Due: unit

feat(frontend): TransactionClassificationPage実装 - 取引分類ページ (#297)
  apps/frontend/src/app/classification/page.tsx
  apps/frontend/src/components/subcategories/TransactionClassificationPage.tsx
  apps/frontend/src/lib/api/transactions.ts
  libs/types/src/transaction.types.ts
Due: unit

feat(frontend): TransactionDetailModal実装 - 取引詳細モーダル (#297)
  apps/frontend/src/components/subcategories/TransactionClassificationPage.tsx
  apps/frontend/src/components/subcategories/TransactionDetailModal.tsx
Due: unit

fix(e2e): FR-008とFR-009のページを分離し、E2Eテストを修正 (#297)
  apps/frontend/e2e/classification.spec.ts
  apps/frontend/e2e/transaction-classification.spec.ts
  apps/frontend/src/app/category-classifier/page.tsx
Due: unit

fix(e2e): FR-009のE2Eテストを取引データがない場合にも対応 (#297)
  apps/frontend/e2e/transaction-classification.spec.ts
Due: none

test(frontend): サブカテゴリコンポーネントの単体テスト実装 (#297)
  apps/frontend/src/components/subcategories/__tests__/ClassificationBadge.test.tsx
  apps/frontend/src/components/subcategories/__tests__/SubcategorySelector.test.tsx
  apps/frontend/src/components/subcategories/__tests__/TransactionClassificationPage.test.tsx
Due: unit

feat(frontend): Storybook設定とストーリー追加 (#297)
  apps/frontend/.storybook/main.ts
  apps/frontend/.storybook/preview.ts
  apps/frontend/package.json
  apps/frontend/src/components/subcategories/ClassificationBadge.stories.tsx
  apps/frontend/src/components/subcategories/SubcategorySelector.stories.tsx
  apps/frontend/tsconfig.json
  pnpm-lock.yaml
Due: unit

fix(frontend): Storybook設定のautodocsオプション修正 (#297)
  apps/frontend/.storybook/main.ts
Due: none

fix(frontend): Geminiレビュー対応 - パフォーマンス最適化とイミュータブル更新 (#297)
  .cursor/rules/02-code-standards.md
  apps/frontend/src/components/subcategories/ClassificationBadge.tsx
  apps/frontend/src/components/subcategories/TransactionClassificationPage.tsx
  apps/frontend/src/components/subcategories/TransactionDetailModal.tsx
  apps/frontend/src/utils/classification.utils.ts
  libs/types/src/transaction.types.ts
Due: unit

fix: Geminiレビュー対応 - パフォーマンス最適化とE2Eテスト改善
  .cursor/rules/02-code-standards.md
  apps/frontend/e2e/transaction-classification.spec.ts
  apps/frontend/src/components/subcategories/SubcategorySelector.tsx
  apps/frontend/src/stores/subcategory.store.ts
Due: unit

fix: テストエラー修正 - buildTreeのundefinedチェックとE2Eテストのセレクタ修正
  apps/frontend/e2e/transaction-classification.spec.ts
  apps/frontend/src/components/subcategories/SubcategorySelector.tsx
Due: unit

feat(frontend): FR-009 Phase 6 - 詳細費目分類機能のFrontend実装（UI） (#297) (#303)
  .cursor/rules/02-code-standards.md
  apps/frontend/.storybook/main.ts
  apps/frontend/.storybook/preview.ts
  apps/frontend/e2e/classification.spec.ts
  apps/frontend/e2e/transaction-classification.spec.ts
  apps/frontend/package.json
  apps/frontend/src/app/category-classifier/page.tsx
  apps/frontend/src/app/classification/page.tsx
  apps/frontend/src/components/subcategories/ClassificationBadge.stories.tsx
  apps/frontend/src/components/subcategories/ClassificationBadge.tsx
  apps/frontend/src/components/subcategories/SubcategorySelector.stories.tsx
  apps/frontend/src/components/subcategories/SubcategorySelector.tsx
  apps/frontend/src/components/subcategories/TransactionClassificationPage.tsx
  apps/frontend/src/components/subcategories/TransactionDetailModal.tsx
  apps/frontend/src/components/subcategories/__tests__/ClassificationBadge.test.tsx
  apps/frontend/src/components/subcategories/__tests__/SubcategorySelector.test.tsx
  apps/frontend/src/components/subcategories/__tests__/TransactionClassificationPage.test.tsx
  apps/frontend/src/lib/api/subcategories.ts
  apps/frontend/src/lib/api/transactions.ts
  apps/frontend/src/stores/subcategory.store.ts
  apps/frontend/src/utils/classification.utils.ts
  apps/frontend/tsconfig.json
  libs/types/src/index.ts
  libs/types/src/subcategory.types.ts
  libs/types/src/transaction.types.ts
  pnpm-lock.yaml
Due: unit

feat(frontend): クレジットカード管理画面の基本構造を実装 (#113)
  apps/frontend/src/app/credit-cards/page.tsx
  apps/frontend/src/components/credit-cards/CreditCardManagementPage.tsx
  apps/frontend/src/lib/api/credit-cards.ts
  libs/types/src/credit-card.types.ts
  libs/types/src/index.ts
Due: unit

feat(category): FR-009 Application層UseCase実装とユニットテスト追加
  apps/backend/src/modules/category/application/use-cases/classify-subcategory.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/classify-subcategory.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories-by-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories-by-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories.use-case.ts
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.ts
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/category/domain/repositories/merchant.repository.interface.ts
  apps/backend/src/modules/category/domain/repositories/subcategory.repository.interface.ts
  apps/backend/src/modules/category/domain/services/merchant-matcher.service.ts
  apps/backend/src/modules/category/domain/services/subcategory-classifier.service.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/transaction.module.ts
Due: unit, e2e-backend

fix(category): 循環依存をforwardRef()で解決
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/transaction/transaction.module.ts
Due: unit, e2e-backend

fix(category): ClassifySubcategoryUseCaseから未使用のsubcategoryRepositoryを削除
  apps/backend/src/modules/category/application/use-cases/classify-subcategory.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories-by-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories-by-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories.use-case.ts
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.ts
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/category/domain/services/subcategory-tree-builder.service.ts
Due: unit, e2e-backend

docs: Geminiレビューから学んだ観点をコード品質基準に追加
  .cursor/rules/02-code-standards.md
Due: none

fix(category): UpdateTransactionSubcategoryUseCaseのパフォーマンス改善とデータ整合性検証追加
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.ts
Due: unit, e2e-backend

fix(category): トランザクション内でnew Date()を1回だけ生成
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.ts
  apps/backend/src/modules/category/domain/services/subcategory-tree-builder.service.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction-category-change-history.repository.interface.ts
Due: unit, e2e-backend

docs: タイムスタンプ管理とAPIレスポンス最適化の観点をコード品質基準に追加
  .cursor/rules/02-code-standards.md
Due: none

feat(category): FR-009 Application層UseCase実装とユニットテスト追加 (#305)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/category/application/use-cases/classify-subcategory.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/classify-subcategory.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories-by-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories-by-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-subcategories.use-case.ts
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/update-transaction-subcategory.use-case.ts
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/category/domain/repositories/merchant.repository.interface.ts
  apps/backend/src/modules/category/domain/repositories/subcategory.repository.interface.ts
  apps/backend/src/modules/category/domain/services/merchant-matcher.service.ts
  apps/backend/src/modules/category/domain/services/subcategory-classifier.service.ts
  apps/backend/src/modules/category/domain/services/subcategory-tree-builder.service.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction-category-change-history.repository.interface.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/transaction.module.ts
Due: unit, e2e-backend

fix(coverage): coverage-final.jsonに対応したカバレッジレポート生成スクリプトの修正 (#299)
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  scripts/test/generate-coverage-report.sh
Due: none

fix(lint): .gitignoreと整合性を取るためESLintのignoresを更新 (#299)
  apps/frontend/eslint.config.mjs
Due: none

fix(config): Storybookファイルをビルド・Lint対象から除外 (#299)
  apps/frontend/eslint.config.mjs
  apps/frontend/tsconfig.json
Due: none

refactor(test): jq呼び出しを1回にまとめてパフォーマンス向上 (#306)
  scripts/test/generate-coverage-report.sh
Due: none

refactor(test): lines/statements計算の冗長なawk呼び出しを削減 (#306)
  scripts/test/generate-coverage-report.sh
Due: none

fix(coverage): coverage-final.jsonに対応したカバレッジレポート生成スクリプトの修正 (#299) (#306)
  apps/frontend/eslint.config.mjs
  apps/frontend/tsconfig.json
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  scripts/test/generate-coverage-report.sh
Due: none
