Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

docs: unify DeleteCategoryDto specification to use query parameter
  docs/detailed-design/FR-011_category-crud/class-diagrams.md
Due: none

docs: fix use case naming in controller implementation example
  docs/detailed-design/FR-011_category-crud/input-output-design.md
Due: none

docs: extend color code regex to support 3, 6, and 8 digit formats
  docs/detailed-design/FR-011_category-crud/input-output-design.md
Due: none

docs: optimize SELECT query to fetch only required columns
  docs/detailed-design/FR-011_category-crud/sequence-diagrams.md
Due: none

docs: add detailed design review lessons to code standards
  .cursor/rules/02-code-standards.md
Due: none

docs: improve usage API to return transaction sample details
  docs/detailed-design/FR-011_category-crud/class-diagrams.md
  docs/detailed-design/FR-011_category-crud/input-output-design.md
Due: none

docs: remove redundant batch-update API endpoint
  docs/detailed-design/FR-011_category-crud/README.md
Due: none

docs: clarify duplicate check rules with NFKC normalization
  docs/detailed-design/FR-011_category-crud/README.md
Due: none

docs: update checklist to reflect completed design documents
  docs/detailed-design/FR-011_category-crud/README.md
Due: none

docs: improve API response types and fix markdown table
  docs/detailed-design/FR-011_category-crud/input-output-design.md
Due: none

docs: add detailed design review lessons (2nd wave) to code standards
  .cursor/rules/02-code-standards.md
Due: none

docs: fix high priority issues from Gemini review (3rd wave)
  docs/detailed-design/FR-011_category-crud/class-diagrams.md
  docs/detailed-design/FR-011_category-crud/input-output-design.md
  docs/detailed-design/FR-011_category-crud/sequence-diagrams.md
Due: none

docs: fix medium priority issues from Gemini review (3rd wave)
  .cursor/rules/02-code-standards.md
  docs/detailed-design/FR-011_category-crud/README.md
Due: none

docs: FR-011 費目のカスタマイズ機能の詳細設計書 (#321)
  .cursor/rules/02-code-standards.md
  docs/detailed-design/FR-011_category-crud/README.md
  docs/detailed-design/FR-011_category-crud/class-diagrams.md
  docs/detailed-design/FR-011_category-crud/input-output-design.md
  docs/detailed-design/FR-011_category-crud/screen-transitions.md
  docs/detailed-design/FR-011_category-crud/sequence-diagrams.md
Due: none

feat: implement FR-011 category CRUD (Backend)
  apps/backend/src/modules/category/application/use-cases/check-category-usage.use-case.ts
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/delete-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-category-by-id.use-case.ts
  apps/backend/src/modules/category/application/use-cases/update-category.use-case.ts
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/category/presentation/controllers/category.controller.ts
  apps/backend/src/modules/category/presentation/dto/category-response.dto.ts
  apps/backend/src/modules/category/presentation/dto/create-category.dto.ts
  apps/backend/src/modules/category/presentation/dto/update-category.dto.ts
Due: unit, e2e-backend

test: add unit tests for category CRUD use cases
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/delete-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/update-category.use-case.spec.ts
Due: none

test: add E2E tests for category CRUD API
  apps/backend/test/category-crud.e2e-spec.ts
Due: none

fix: use import type for ICategoryRepository
  apps/backend/src/modules/category/application/use-cases/check-category-usage.use-case.ts
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/delete-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-category-by-id.use-case.ts
  apps/backend/src/modules/category/application/use-cases/update-category.use-case.ts
Due: unit, e2e-backend

fix: add new UseCases to CategoryController test providers
  apps/backend/src/modules/category/presentation/controllers/category.controller.spec.ts
Due: none

fix: correct unit test mock configurations
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/delete-category.use-case.spec.ts
Due: none

fix: correct NFKC normalization test case
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.spec.ts
Due: none

fix: correct supertest import statement
  apps/backend/test/category-crud.e2e-spec.ts
Due: none

fix: correct E2E test case for NFKC normalization
  apps/backend/test/category-crud.e2e-spec.ts
Due: none

fix: add missing update method to CategoryTypeOrmRepository
  apps/backend/src/modules/category/infrastructure/repositories/category-typeorm.repository.ts
Due: unit, e2e-backend

feat: implement category management UI (Frontend)
  apps/frontend/src/app/categories/page.tsx
  apps/frontend/src/components/categories/CategoryForm.tsx
  apps/frontend/src/components/categories/CategoryList.tsx
  apps/frontend/src/components/categories/DeleteConfirmModal.tsx
  apps/frontend/src/lib/api/categories.ts
  apps/frontend/src/lib/api/client.ts
Due: unit

test: add E2E tests for category management (Frontend)
  apps/frontend/e2e/category-management.spec.ts
Due: none

perf: optimize database queries in category use cases
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/update-category.use-case.ts
Due: unit, e2e-backend

refactor: improve code quality based on Gemini review
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.spec.ts
  apps/backend/src/modules/category/presentation/controllers/category.controller.ts
  apps/backend/test/category-crud.e2e-spec.ts
Due: unit, e2e-backend

docs: add section 18 - Gemini review insights (PR #322)
  .cursor/rules/02-code-standards.md
Due: none

fix: remove unused variable in E2E test
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix: update test expectations after error message changes
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/update-category.use-case.spec.ts
Due: none

docs: add test coverage report for FR-011 Category CRUD
  docs/testing/module-coverage/fr011-category-crud-coverage.md
Due: none

test: add missing unit tests and update coverage report
  apps/backend/src/modules/category/application/use-cases/check-category-usage.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-category-by-id.use-case.spec.ts
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/fr011-category-crud-coverage.md
  docs/testing/module-coverage/frontend.md
Due: none

fix: resolve all ESLint warnings in Frontend
  apps/frontend/src/app/categories/page.tsx
  apps/frontend/src/components/categories/CategoryForm.tsx
  apps/frontend/src/components/categories/CategoryList.tsx
  apps/frontend/src/components/categories/DeleteConfirmModal.tsx
Due: unit

fix: correct DeleteCategoryResponse type to match DTO
  apps/backend/src/modules/category/application/use-cases/delete-category.use-case.ts
Due: unit, e2e-backend

fix: resolve build errors and add Volta environment setup
  apps/frontend/src/app/categories/page.tsx
  apps/frontend/src/components/categories/CategoryForm.tsx
  apps/frontend/src/components/categories/CategoryList.tsx
  apps/frontend/src/components/categories/DeleteConfirmModal.tsx
  docs/development/volta-setup-guide.md
  libs/types/src/transaction.types.ts
  scripts/build/build.sh
  scripts/setup/volta-env.sh
Due: unit

fix(category): Frontend E2E テスト修正とQuery DTO バリデーション追加
  apps/backend/src/modules/category/presentation/controllers/category.controller.ts
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/src/app/categories/page.tsx
  apps/frontend/src/lib/api/categories.ts
Due: unit, e2e-backend

feat: FR-011 費目CRUD機能の実装（Backend） (#322)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/category/application/use-cases/check-category-usage.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/check-category-usage.use-case.ts
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/create-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/delete-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/delete-category.use-case.ts
  apps/backend/src/modules/category/application/use-cases/get-category-by-id.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/get-category-by-id.use-case.ts
  apps/backend/src/modules/category/application/use-cases/update-category.use-case.spec.ts
  apps/backend/src/modules/category/application/use-cases/update-category.use-case.ts
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/category/infrastructure/repositories/category-typeorm.repository.ts
  apps/backend/src/modules/category/presentation/controllers/category.controller.spec.ts
  apps/backend/src/modules/category/presentation/controllers/category.controller.ts
  apps/backend/src/modules/category/presentation/dto/category-response.dto.ts
  apps/backend/src/modules/category/presentation/dto/create-category.dto.ts
  apps/backend/src/modules/category/presentation/dto/update-category.dto.ts
  apps/backend/test/category-crud.e2e-spec.ts
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/src/app/categories/page.tsx
  apps/frontend/src/components/categories/CategoryForm.tsx
  apps/frontend/src/components/categories/CategoryList.tsx
  apps/frontend/src/components/categories/DeleteConfirmModal.tsx
  apps/frontend/src/lib/api/categories.ts
  apps/frontend/src/lib/api/client.ts
  docs/development/volta-setup-guide.md
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  libs/types/src/transaction.types.ts
  scripts/build/build.sh
  scripts/setup/volta-env.sh
Due: unit, e2e-backend

docs: FR-012詳細設計書README作成
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/README.md
Due: none

docs: FR-012詳細設計書完成（クラス図・シーケンス図・入出力設計）
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/class-diagrams.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/input-output-design.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/sequence-diagrams.md
Due: none

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
