Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

fix(backend): 未使用importの削除
  apps/backend/src/modules/alert/alert.module.ts
  apps/backend/src/modules/alert/alert.tokens.ts
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.spec.ts
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.ts
  apps/backend/src/modules/alert/application/use-cases/get-alerts.use-case.spec.ts
  apps/backend/src/modules/alert/application/use-cases/get-alerts.use-case.ts
  apps/backend/src/modules/alert/domain/repositories/alert.repository.interface.ts
  apps/backend/src/modules/alert/domain/services/alert.service.spec.ts
  apps/backend/src/modules/alert/domain/services/alert.service.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.spec.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.ts
Due: unit, e2e-backend

fix(alert): Geminiレビューコメント対応
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.spec.ts
  apps/backend/src/modules/alert/domain/entities/alert.entity.spec.ts
  apps/backend/src/modules/alert/domain/services/alert.service.spec.ts
  apps/backend/src/modules/alert/domain/services/alert.service.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.spec.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.ts
Due: unit, e2e-backend

fix(alert): CreateAlertUseCaseのDI修正
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.ts
Due: unit, e2e-backend

fix(alert): create-alert.use-case.spec.tsのDI修正
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.spec.ts
Due: none

fix(alert): create-alert.use-case.spec.tsのALERT_SERVICEトークン使用を修正
  apps/backend/src/modules/alert/application/use-cases/create-alert.use-case.spec.ts
Due: none

fix(alert): Geminiレビューコメント対応（最新）
  apps/backend/src/modules/alert/alert.module.ts
  apps/backend/src/modules/alert/domain/services/alert.service.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.spec.ts
  apps/backend/src/modules/alert/infrastructure/repositories/json-alert.repository.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.spec.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.ts
Due: unit, e2e-backend

docs: Geminiレビューから学んだ観点をルールファイルに追加
  .cursor/rules/02-code-standards.md
Due: none

fix(alert): Geminiレビューコメント対応（最新）
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/alert/application/use-cases/get-alerts.use-case.spec.ts
  apps/backend/src/modules/alert/domain/services/alert.service.ts
  docs/detailed-design/FR-015_inconsistency-alert/class-diagrams.md
Due: unit, e2e-backend

docs: Alertモジュールのテストカバレッジレポートを更新
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
Due: none

feat(frontend): クレジットカード管理画面にFR-012〜FR-015機能を統合
  apps/frontend/src/components/credit-cards/AggregateButton.tsx
  apps/frontend/src/components/credit-cards/CreditCardManagementPage.tsx
  apps/frontend/src/components/credit-cards/MonthlySummaryCard.tsx
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
  apps/frontend/src/components/credit-cards/ReconciliationResultCard.tsx
  apps/frontend/src/components/credit-cards/ReconciliationTab.tsx
  apps/frontend/src/components/credit-cards/StatusTab.tsx
  apps/frontend/src/lib/api/aggregation.ts
  apps/frontend/src/lib/api/payment-status.ts
  apps/frontend/src/lib/api/reconciliation.ts
  docs/development/issue-113-implementation-plan.md
Due: unit

docs: PR作成時にドラフトPRを使用しないルールを追加
  .cursor/rules/03-git-workflow.md
  .cursor/rules/templates/pr-description.md
Due: none

test: FR-012〜FR-014のAPIクライアントにユニットテストを追加
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
  apps/frontend/src/lib/api/__tests__/payment-status.test.ts
  apps/frontend/src/lib/api/__tests__/reconciliation.test.ts
Due: unit

fix: import文の位置を修正（Gemini指摘対応）
  apps/frontend/src/lib/api/aggregation.ts
  apps/frontend/src/lib/api/payment-status.ts
Due: unit

fix: pr-description.mdの不要なバッククオートを削除（Gemini指摘対応）
  .cursor/rules/templates/pr-description.md
Due: none

fix: React keyをsummary.idに変更（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/CreditCardManagementPage.tsx
Due: unit

fix: PaymentStatus型の重複を解消し、選択肢を定数化（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
  apps/frontend/src/lib/api/payment-status.ts
Due: unit

fix: StatusTabから未使用のcardIdプロパティを削除（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/CreditCardManagementPage.tsx
  apps/frontend/src/components/credit-cards/StatusTab.tsx
Due: unit

fix: StatusTabのエラーハンドリングを改善（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/StatusTab.tsx
Due: unit

fix: ReconciliationTabのステータスチェックロジックを簡略化（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/ReconciliationTab.tsx
Due: unit

refactor: データ取得ロジックの重複を解消（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/CreditCardManagementPage.tsx
Due: unit

docs: クレジットカード管理画面実装レビューから学んだ観点を追加（Gemini PR#304）
  .cursor/rules/02-code-standards.md
Due: none

fix: エラーログにIDを含める（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/CreditCardManagementPage.tsx
Due: unit

refactor: formatDate関数の重複を解消（Gemini指摘対応）
  apps/frontend/src/components/credit-cards/MonthlySummaryCard.tsx
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
  apps/frontend/src/components/credit-cards/ReconciliationResultCard.tsx
  apps/frontend/src/utils/date.utils.ts
Due: unit

docs: エラーハンドリングと共通ユーティリティ抽出の観点を追加（Gemini指摘対応）
  .cursor/rules/02-code-standards.md
Due: none

feat(aggregation): 月別集計APIのN+1問題を解消 - cardIdパラメータ対応
  apps/backend/src/modules/aggregation/aggregation.module.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-summaries-by-card-id.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-summaries-by-card-id.use-case.ts
  apps/backend/src/modules/aggregation/domain/repositories/aggregation.repository.interface.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.spec.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
  apps/frontend/src/components/credit-cards/CreditCardManagementPage.tsx
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
  apps/frontend/src/lib/api/aggregation.ts
  scripts/github/issues/issue-data/n1-aggregation-api.json
  scripts/github/issues/issue-data/n1-payment-status-api.json
  scripts/github/issues/issue-data/toast-notification-ui.json
Due: unit, e2e-backend

refactor(aggregation): API設計の一貫性向上 - エンドポイントを分割
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
  apps/frontend/src/lib/api/aggregation.ts
Due: unit, e2e-backend

docs(aggregation): ドキュメントと実装の整合性を修正
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
  scripts/github/issues/issue-data/n1-aggregation-api.json
Due: unit, e2e-backend

feat(payment-status): N+1問題を解消 - 一括取得エンドポイント追加
  apps/backend/src/modules/payment-status/application/use-cases/get-payment-statuses.use-case.spec.ts
  apps/backend/src/modules/payment-status/application/use-cases/get-payment-statuses.use-case.ts
  apps/backend/src/modules/payment-status/domain/repositories/payment-status.repository.interface.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.spec.ts
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.ts
  apps/backend/src/modules/payment-status/payment-status.module.ts
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.spec.ts
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.ts
  apps/frontend/src/components/credit-cards/StatusTab.tsx
  apps/frontend/src/lib/api/__tests__/payment-status.test.ts
  apps/frontend/src/lib/api/payment-status.ts
Due: unit, e2e-backend

test(payment-status): Controllerテストのモックを修正
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.spec.ts
Due: none

refactor(payment-status): Gemini指摘対応 - 不要なawaitを削除
  apps/backend/src/modules/payment-status/application/use-cases/get-payment-statuses.use-case.ts
Due: unit, e2e-backend

refactor(payment-status): Gemini指摘対応 - Repository実装を効率化
  apps/backend/src/modules/payment-status/infrastructure/repositories/json-payment-status.repository.ts
Due: unit, e2e-backend

refactor(payment-status): Gemini指摘対応 - Map変換処理をreduceで宣言的に記述
  apps/frontend/src/components/credit-cards/StatusTab.tsx
Due: unit

docs: Geminiレビュー観点取り込み - コードの簡潔性と効率性
  .cursor/rules/02-code-standards.md
Due: none

docs: Gemini指摘対応 - ルールファイルの見出しレベルを統一
  .cursor/rules/02-code-standards.md
Due: none

refactor(payment-status): Gemini指摘対応 - getStatusesメソッドを簡潔に
  apps/frontend/src/lib/api/payment-status.ts
Due: unit

refactor(payment-status): Gemini指摘対応 - 配列の順序を保証するためにソートを追加
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.ts
Due: unit, e2e-backend

docs: Geminiレビュー観点取り込み - 配列の順序保証
  .cursor/rules/02-code-standards.md
Due: none

test(payment-status): テストのモックを修正
  apps/frontend/src/lib/api/__tests__/payment-status.test.ts
Due: unit

feat(frontend): alert()をトースト通知UIコンポーネントに置き換え
  apps/frontend/src/components/categories/DeleteConfirmModal.tsx
  apps/frontend/src/components/credit-cards/AggregateButton.tsx
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
  apps/frontend/src/components/credit-cards/ReconciliationTab.tsx
Due: unit
