Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

test: TransactionControllerテストにGetTransactionByIdUseCaseのモックを追加
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.spec.ts
Due: none

test: 取引詳細画面のユニットテストとE2Eテストを追加 (Issue #109)
  apps/frontend/e2e/transaction-detail.spec.ts
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
Due: unit

test: 取引詳細ページのユニットテストを追加 (Issue #109)
  apps/frontend/src/app/transactions/[id]/__tests__/page.test.tsx
Due: unit

test: E2Eテストのエラーメッセージ検出を修正 (Issue #109)
  apps/frontend/e2e/transaction-detail.spec.ts
Due: none

fix: Geminiレビュー指摘事項の修正 (Issue #109)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.spec.ts
  apps/frontend/e2e/transaction-detail.spec.ts
  apps/frontend/src/app/transactions/[id]/__tests__/page.test.tsx
  apps/frontend/src/app/transactions/[id]/page.tsx
  apps/frontend/src/lib/api/transactions.ts
Due: unit

fix: サブカテゴリのエラーハンドリングを追加 (Issue #109)
  apps/frontend/src/app/transactions/[id]/page.tsx
Due: unit

docs: ストアのエラー状態の監視と表示の観点を追加 (Issue #109)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

[TASK] E-3: 取引詳細画面の実装 (Issue #109) (#393)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/application/use-cases/get-transaction-by-id.use-case.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/e2e/transaction-detail.spec.ts
  apps/frontend/src/app/transactions/[id]/__tests__/page.test.tsx
  apps/frontend/src/app/transactions/[id]/page.tsx
  apps/frontend/src/components/transactions/TransactionList.tsx
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
  apps/frontend/src/lib/api/transactions.ts
Due: unit, e2e-backend

feat(frontend): 費目編集画面をモーダルダイアログとして実装 (Issue #110)
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/src/app/categories/page.tsx
  apps/frontend/src/components/categories/CategoryEditModal.tsx
  apps/frontend/src/components/categories/CategoryForm.tsx
Due: unit

test(frontend): 費目編集モジュールのユニットテストを追加 (Issue #110)
  apps/frontend/src/components/categories/__tests__/CategoryEditModal.test.tsx
  apps/frontend/src/components/categories/__tests__/CategoryForm.test.tsx
  apps/frontend/src/components/categories/__tests__/CategoryList.test.tsx
Due: unit

fix(e2e): 費目管理E2Eテストを修正 (Issue #110)
  apps/frontend/e2e/category-management.spec.ts
  docs/development/github-scripts-config-constants.md
Due: none

test(e2e): 費目編集モーダルのE2Eテストを追加 (Issue #110)
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): waitForTimeoutをnot.toBeEmptyアサーションに置き換え (Gemini指摘対応)
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): 不要なwaitForTimeoutを削除 (Gemini指摘対応)
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): waitForFunctionのcatchブロックを削除 (Gemini指摘対応)
  apps/frontend/e2e/category-management.spec.ts
Due: none

refactor(frontend): handleSubmitで分割代入を使用してtypeを除外 (Gemini指摘対応)
  apps/frontend/src/components/categories/CategoryEditModal.tsx
  apps/frontend/src/components/categories/__tests__/CategoryEditModal.test.tsx
Due: unit

docs: Geminiレビュー指摘をルールに反映 (PR #395)
  .cursor/rules/02-code-standards.d/03-01-test-guidelines.md
Due: none

docs: Geminiレビュー指摘をルールに反映 - 追加分 (PR #395)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

fix(test): user.clear()の後にwaitForを追加してテストを修正
  apps/frontend/src/components/categories/__tests__/CategoryEditModal.test.tsx
Due: unit

feat(frontend): E-4: 費目編集画面の実装 (Issue #110) (#395)
  .cursor/rules/02-code-standards.d/03-01-test-guidelines.md
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/src/app/categories/page.tsx
  apps/frontend/src/components/categories/CategoryEditModal.tsx
  apps/frontend/src/components/categories/CategoryForm.tsx
  apps/frontend/src/components/categories/__tests__/CategoryEditModal.test.tsx
  apps/frontend/src/components/categories/__tests__/CategoryForm.test.tsx
  apps/frontend/src/components/categories/__tests__/CategoryList.test.tsx
  docs/development/github-scripts-config-constants.md
Due: unit

refactor: GitHub操作スクリプトの設定ファイル化
  scripts/github/issues/check-closed-issues-detailed.sh
  scripts/github/issues/check-closed-issues.sh
  scripts/github/issues/create-issue-graphql.sh
  scripts/github/issues/create-issue.sh
  scripts/github/issues/find-reopen-issues.sh
  scripts/github/pr-linking/link-issues-to-all-prs.sh
  scripts/github/pr-linking/link-pr-to-issues.sh
  scripts/github/projects/move-issues-to-backlog-graphql-simple.sh
  scripts/github/projects/move-issues-to-backlog-graphql.sh
  scripts/github/projects/move-issues-to-backlog.sh
  scripts/github/projects/update-issue-status.sh
  scripts/github/restore-all-statuses-pagination.sh
  scripts/github/workflow/config.sh
Due: none

refactor: Gemini指摘対応 - move-issues-to-backlog-graphql-simple.shの未使用REPO変数を削除
  scripts/github/projects/move-issues-to-backlog-graphql-simple.sh
Due: none

refactor: Gemini指摘対応 - move-issues-to-backlog-graphql.shの未使用REPO変数を削除
  scripts/github/projects/move-issues-to-backlog-graphql.sh
Due: none

refactor: Gemini指摘対応 - move-issues-to-backlog.shの未使用REPO変数を削除
  scripts/github/projects/move-issues-to-backlog.sh
Due: none

refactor: Gemini指摘対応 - config.shの未使用REPO_OWNER_ALIAS変数を削除
  scripts/github/workflow/config.sh
Due: none

refactor: Gemini指摘対応 - create-issue-graphql.shでREPO変数の意味の混乱を解消（REPO_NAMEを直接使用）
  scripts/github/issues/create-issue-graphql.sh
Due: none

refactor: Gemini指摘対応 - link-issues-to-all-prs.shでREPO変数の意味の混乱を解消（REPO_NAMEを直接使用）
  scripts/github/pr-linking/link-issues-to-all-prs.sh
Due: none

refactor: Gemini指摘対応 - link-pr-to-issues.shでREPO変数の意味の混乱を解消（REPO_NAMEを直接使用）
  scripts/github/pr-linking/link-pr-to-issues.sh
Due: none

refactor: config.shをscripts/github/直下に移動
  scripts/github/config.sh
  scripts/github/issues/check-closed-issues-detailed.sh
  scripts/github/issues/check-closed-issues.sh
  scripts/github/issues/create-issue-graphql.sh
  scripts/github/issues/create-issue.sh
  scripts/github/issues/find-reopen-issues.sh
  scripts/github/pr-linking/link-issues-to-all-prs.sh
  scripts/github/pr-linking/link-pr-to-issues.sh
  scripts/github/projects/move-issues-to-backlog-graphql-simple.sh
  scripts/github/projects/move-issues-to-backlog-graphql.sh
  scripts/github/projects/move-issues-to-backlog.sh
  scripts/github/projects/update-issue-status.sh
  scripts/github/restore-all-statuses-pagination.sh
  scripts/github/workflow/start-task.sh
Due: none

feat(frontend): 月次レポート画面の実装 (Issue #111)
  apps/frontend/src/app/aggregation/monthly-balance/category/page.tsx
  apps/frontend/src/app/aggregation/monthly-balance/institution/page.tsx
  apps/frontend/src/app/aggregation/monthly-balance/page.tsx
Due: unit

test: 月次レポート画面のユニットテストとE2Eテストを実装
  apps/frontend/e2e/monthly-balance-report.spec.ts
  apps/frontend/src/app/aggregation/monthly-balance/MonthlyBalanceReportContent.tsx
  apps/frontend/src/app/aggregation/monthly-balance/__tests__/page.test.tsx
  apps/frontend/src/app/aggregation/monthly-balance/category/CategoryBreakdownContent.tsx
  apps/frontend/src/app/aggregation/monthly-balance/category/__tests__/page.test.tsx
  apps/frontend/src/app/aggregation/monthly-balance/category/page.tsx
  apps/frontend/src/app/aggregation/monthly-balance/institution/InstitutionBreakdownContent.tsx
  apps/frontend/src/app/aggregation/monthly-balance/institution/__tests__/page.test.tsx
  apps/frontend/src/app/aggregation/monthly-balance/institution/page.tsx
  apps/frontend/src/app/aggregation/monthly-balance/page.tsx
Due: unit

fix(institution): Geminiレビュー対応 - URLパラメータの扱い方を改善
  apps/frontend/src/app/aggregation/monthly-balance/institution/InstitutionBreakdownContent.tsx
Due: unit

refactor(e2e): Geminiレビュー対応 - APIレスポンス待機ロジックをヘルパー関数化
  apps/frontend/e2e/monthly-balance-report.spec.ts
Due: none

test(e2e): Geminiレビュー対応 - セレクタの堅牢性向上
  apps/frontend/e2e/monthly-balance-report.spec.ts
Due: none

refactor(monthly-balance): Geminiレビュー対応 - マジックナンバーを定数化
  apps/frontend/src/app/aggregation/monthly-balance/MonthlyBalanceReportContent.tsx
Due: unit

fix(monthly-balance): Geminiレビュー対応 - アクセシビリティ改善
  apps/frontend/src/app/aggregation/monthly-balance/MonthlyBalanceReportContent.tsx
Due: unit

docs: Geminiレビュー観点をルールファイルに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

test(e2e): Geminiレビュー対応 - セレクタの堅牢性向上（詳細ボタン）
  apps/frontend/e2e/monthly-balance-report.spec.ts
Due: none

fix(monthly-balance): Geminiレビュー対応 - URLパラメータの扱い方を改善（BreakdownSection）
  apps/frontend/src/app/aggregation/monthly-balance/MonthlyBalanceReportContent.tsx
Due: unit

docs: Geminiレビュー観点をルールファイルに追加（2回目）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none
