Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

test: E2Eテストにタイムアウト設定を追加し、スケルトンUI対応を改善
  apps/frontend/e2e/category-management.spec.ts
Due: none

test: E2EテストのAPIレスポンス待機処理を改善
  apps/frontend/e2e/category-management.spec.ts
Due: none

feat: Alertコンポーネントを共通UIコンポーネントライブラリに追加
  apps/frontend/src/components/ui/Alert.stories.tsx
  apps/frontend/src/components/ui/Alert.tsx
  apps/frontend/src/components/ui/__tests__/Alert.test.tsx
  apps/frontend/src/components/ui/index.ts
Due: unit

feat: ErrorModalとErrorToastを共通UIコンポーネントライブラリに統合
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/categories/DeleteConfirmModal.tsx
  apps/frontend/src/components/credit-cards/AggregateButton.tsx
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
  apps/frontend/src/components/credit-cards/ReconciliationTab.tsx
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
  apps/frontend/src/components/ui/ErrorModal.tsx
  apps/frontend/src/components/ui/ErrorToast.tsx
  apps/frontend/src/components/ui/index.ts
Due: unit

fix: Geminiレビュー指摘対応 - Tailwind CSS動的クラス生成と型安全性の改善
  apps/frontend/src/components/ui/Alert.tsx
  apps/frontend/src/components/ui/ErrorModal.tsx
  apps/frontend/src/components/ui/ErrorToast.tsx
  apps/frontend/src/utils/notification.utils.ts
Due: unit

docs: Geminiレビュー観点をルールファイルに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

fix: Geminiレビュー指摘対応 - ユーティリティ関数の網羅性チェック追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/src/utils/notification.utils.ts
Due: unit

feat: E-13 エラー表示UI実装 - AlertコンポーネントとErrorModal/ErrorToastの統合 (#403)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/categories/DeleteConfirmModal.tsx
  apps/frontend/src/components/credit-cards/AggregateButton.tsx
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
  apps/frontend/src/components/credit-cards/ReconciliationTab.tsx
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
  apps/frontend/src/components/ui/Alert.stories.tsx
  apps/frontend/src/components/ui/Alert.tsx
  apps/frontend/src/components/ui/ErrorModal.tsx
  apps/frontend/src/components/ui/ErrorToast.tsx
  apps/frontend/src/components/ui/__tests__/Alert.test.tsx
  apps/frontend/src/components/ui/index.ts
  apps/frontend/src/utils/notification.utils.ts
Due: unit

feat(backend): ユニットテスト環境の整備
  apps/backend/README.md
  apps/backend/docs/unit-testing.md
  apps/backend/package.json
  apps/backend/src/common/test-utils/index.ts
  apps/backend/src/common/test-utils/mock-factories.ts
  apps/backend/src/common/test-utils/test-helpers.ts
Due: unit, e2e-backend

refactor(backend): Geminiレビュー対応 - Jest設定とドキュメントの整合性改善
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/docs/unit-testing.md
  apps/backend/package.json
  apps/backend/src/common/test-utils/mock-factories.ts
Due: unit, e2e-backend

feat(backend): Backendユニットテスト環境構築 (#404)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/README.md
  apps/backend/docs/unit-testing.md
  apps/backend/package.json
  apps/backend/src/common/test-utils/index.ts
  apps/backend/src/common/test-utils/mock-factories.ts
  apps/backend/src/common/test-utils/test-helpers.ts
Due: unit, e2e-backend

feat(frontend): ローディング・スケルトンUI実装 (Issue #118)
  apps/frontend/src/app/alerts/[id]/page.tsx
  apps/frontend/src/app/alerts/page.tsx
  apps/frontend/src/app/banks/[id]/edit/page.tsx
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/app/transactions/[id]/page.tsx
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/components/ui/LoadingOverlay.tsx
  apps/frontend/src/components/ui/LoadingSpinner.tsx
  apps/frontend/src/components/ui/PageLoading.tsx
  apps/frontend/src/components/ui/__tests__/LoadingOverlay.test.tsx
  apps/frontend/src/components/ui/__tests__/LoadingSpinner.test.tsx
  apps/frontend/src/components/ui/__tests__/PageLoading.test.tsx
  apps/frontend/src/components/ui/index.ts
Due: unit

docs: Geminiレビューから学んだ観点をルールファイルに追加 (PR #405)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

docs: start-taskの動作方針を明確化
  .cursor/rules/04-github-integration.d/04-start-task.md
  scripts/github/workflow/start-task.sh
Due: none

fix(e2e): カテゴリ管理E2Eテストのヘルパー関数統一
  apps/frontend/e2e/category-management.spec.ts
  scripts/github/issues/issue-data/focus-trap-react-missing.json
Due: none

feat(frontend): ローディング・スケルトンUI実装 (Issue #118) (#405)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  .cursor/rules/04-github-integration.d/04-start-task.md
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/src/app/alerts/[id]/page.tsx
  apps/frontend/src/app/alerts/page.tsx
  apps/frontend/src/app/banks/[id]/edit/page.tsx
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/app/transactions/[id]/page.tsx
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/components/categories/CategoryEditModal.tsx
  apps/frontend/src/components/categories/__tests__/CategoryEditModal.test.tsx
  apps/frontend/src/components/ui/CardSkeleton.stories.tsx
  apps/frontend/src/components/ui/CardSkeleton.tsx
  apps/frontend/src/components/ui/ListSkeleton.stories.tsx
  apps/frontend/src/components/ui/ListSkeleton.tsx
  apps/frontend/src/components/ui/LoadingOverlay.tsx
  apps/frontend/src/components/ui/LoadingSpinner.tsx
  apps/frontend/src/components/ui/PageLoading.tsx
  apps/frontend/src/components/ui/Skeleton.stories.tsx
  apps/frontend/src/components/ui/Skeleton.tsx
  apps/frontend/src/components/ui/TableSkeleton.stories.tsx
  apps/frontend/src/components/ui/TableSkeleton.tsx
  apps/frontend/src/components/ui/__tests__/CardSkeleton.test.tsx
  apps/frontend/src/components/ui/__tests__/ListSkeleton.test.tsx
  apps/frontend/src/components/ui/__tests__/LoadingOverlay.test.tsx
  apps/frontend/src/components/ui/__tests__/LoadingSpinner.test.tsx
  apps/frontend/src/components/ui/__tests__/PageLoading.test.tsx
  apps/frontend/src/components/ui/__tests__/Skeleton.test.tsx
  apps/frontend/src/components/ui/__tests__/TableSkeleton.test.tsx
  apps/frontend/src/components/ui/index.ts
  scripts/github/issues/issue-data/focus-trap-react-missing.json
  scripts/github/workflow/start-task.sh
Due: unit

fix(docker): skip postinstall scripts in Alpine Linux Docker images
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
Due: none

fix(docker): skip postinstall scripts in Alpine Linux Docker images (#407)
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
Due: none

docs: Frontendユニットテスト環境構築のドキュメント化
  docs/testing-guide.md
Due: none

docs: Frontendユニットテスト環境構築のドキュメント化 (#408)
  docs/testing-guide.md
Due: none

fix: PR #408のGeminiレビューコメント対応
  docs/testing-guide.md
Due: none

fix: Geminiレビューコメント対応 - 受動態を命令形に変更
  docs/testing-guide.md
Due: none

fix: PR #408のGeminiレビューコメント対応 (#409)
  docs/testing-guide.md
Due: none

test(domain): Domain層ユニットテストを追加
  apps/backend/src/modules/category/domain/entities/category.entity.spec.ts
  apps/backend/src/modules/category/domain/services/category-domain.service.spec.ts
  apps/backend/src/modules/category/domain/services/subcategory-tree-builder.service.spec.ts
  apps/backend/src/modules/sync/domain/strategies/incremental-sync.strategy.spec.ts
  apps/backend/src/modules/transaction/domain/entities/transaction-category-change-history.entity.spec.ts
Due: none

fix(e2e): APIレスポンス待機のタイミングを修正
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): waitForResponseの条件をより正確に修正
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): waitForResponseでレスポンスステータスコードも確認
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): waitForResponseの条件とナビゲーションテストを修正
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/e2e/home.spec.ts
Due: none

fix(e2e): 入力フィールドの値が入るまで確実に待機するように修正
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): すべての編集モーダルテストでwaitForFunctionを使用
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): waitForFunctionのタイムアウトを延長し、レンダリング待機を追加
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): キャンセルボタンテストでopenAndAwaitEditModalを使用
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): カテゴリタイプ無効化テストでレンダリング待機を追加
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): バリデーションエラーと複数フィールド変更テストでレンダリング待機を追加
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix(e2e): カテゴリタイプ無効化テストのタイムアウトを延長
  apps/frontend/e2e/category-management.spec.ts
Due: none

test(application): Application層ユニットテストを追加 (Issue #96)
  apps/backend/src/modules/aggregation/application/use-cases/delete-summary.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-all-summaries.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-summary-by-id.use-case.spec.ts
  apps/backend/src/modules/institution/application/use-cases/get-institution.use-case.spec.ts
  apps/backend/src/modules/institution/application/use-cases/get-institutions.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/get-sync-history.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/get-sync-status.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/create-transaction.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/get-transaction-by-id.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/get-transactions.use-case.spec.ts
  apps/frontend/tsconfig.tsbuildinfo
Due: none

chore: tsconfig.tsbuildinfoをgit管理から除外
  apps/frontend/tsconfig.tsbuildinfo
Due: none

chore: tsconfig.tsbuildinfoを.gitignoreに追加
  .gitignore
Due: none

test(transaction): JestのFake Timersで日時を固定 (Geminiレビュー対応)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/application/use-cases/create-transaction.use-case.spec.ts
Due: none

test(components): Reactコンポーネントのユニットテストを追加 (Issue #97)
  apps/frontend/src/components/alerts/__tests__/AlertList.test.tsx
  apps/frontend/src/components/categories/__tests__/CategoryList.test.tsx
  apps/frontend/src/components/forms/__tests__/ConnectionTestResult.test.tsx
Due: unit
