Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

docs: FR-022 イベントと収支の紐付け機能の詳細設計書を作成
  docs/detailed-design/FR-022_event-transaction-link/README.md
  docs/detailed-design/FR-022_event-transaction-link/class-diagrams.md
  docs/detailed-design/FR-022_event-transaction-link/input-output-design.md
  docs/detailed-design/FR-022_event-transaction-link/sequence-diagrams.md
Due: none

ci: 設計書の変更でもCIが実行されるように修正
  .github/workflows/ci.yml
  scripts/ci/local-ci-check.sh
Due: none

fix: Geminiレビュー指摘事項に対応（FR-022設計書）
  docs/detailed-design/FR-022_event-transaction-link/README.md
  docs/detailed-design/FR-022_event-transaction-link/class-diagrams.md
  docs/detailed-design/FR-022_event-transaction-link/input-output-design.md
  docs/development/detailed-design-guideline.md
Due: none

fix: Geminiレビュー第2回指摘事項に対応（FR-022設計書）
  docs/detailed-design/FR-022_event-transaction-link/README.md
  docs/detailed-design/FR-022_event-transaction-link/class-diagrams.md
  docs/detailed-design/FR-022_event-transaction-link/input-output-design.md
  docs/detailed-design/FR-022_event-transaction-link/sequence-diagrams.md
  docs/development/detailed-design-guideline.md
Due: none

docs: FR-022 イベントと収支の紐付け機能の詳細設計書を作成 (#379)
  .github/workflows/ci.yml
  docs/detailed-design/FR-022_event-transaction-link/README.md
  docs/detailed-design/FR-022_event-transaction-link/class-diagrams.md
  docs/detailed-design/FR-022_event-transaction-link/input-output-design.md
  docs/detailed-design/FR-022_event-transaction-link/sequence-diagrams.md
  docs/development/detailed-design-guideline.md
  scripts/ci/local-ci-check.sh
Due: none

feat: FR-022 イベントと収支の紐付け機能を実装
  apps/backend/src/modules/event/application/use-cases/get-event-financial-summary.use-case.ts
  apps/backend/src/modules/event/application/use-cases/suggest-related-transactions.use-case.ts
  apps/backend/src/modules/event/event.module.ts
  apps/backend/src/modules/event/presentation/controllers/event.controller.ts
  apps/backend/src/modules/event/presentation/dto/event-response.dto.ts
Due: unit, e2e-backend

test: FR-022 UseCaseのユニットテストを実装
  apps/backend/src/modules/event/application/use-cases/get-event-financial-summary.use-case.spec.ts
  apps/backend/src/modules/event/application/use-cases/suggest-related-transactions.use-case.spec.ts
Due: none

test: FR-022 EventControllerの統合テストを実装
  apps/backend/src/modules/event/presentation/controllers/event.controller.spec.ts
Due: none

refactor: Geminiレビュー指摘事項に対応（FR-022実装）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/event/application/use-cases/get-event-financial-summary.use-case.ts
  apps/backend/src/modules/event/application/use-cases/suggest-related-transactions.use-case.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

fix: Geminiレビュー指摘事項に対応（FR-022実装 - 第2回）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/event/application/use-cases/suggest-related-transactions.use-case.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

[FEATURE] FR-022: イベントと収支の紐付け機能の実装 (#380)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/event/application/use-cases/get-event-financial-summary.use-case.spec.ts
  apps/backend/src/modules/event/application/use-cases/get-event-financial-summary.use-case.ts
  apps/backend/src/modules/event/application/use-cases/suggest-related-transactions.use-case.spec.ts
  apps/backend/src/modules/event/application/use-cases/suggest-related-transactions.use-case.ts
  apps/backend/src/modules/event/event.module.ts
  apps/backend/src/modules/event/presentation/controllers/event.controller.spec.ts
  apps/backend/src/modules/event/presentation/controllers/event.controller.ts
  apps/backend/src/modules/event/presentation/dto/event-response.dto.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

feat(frontend): FR-025 カテゴリ別円グラフ表示機能を実装
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/CategoryPieChart.tsx
  apps/frontend/src/components/dashboard/CategoryPieChartContainer.tsx
  apps/frontend/src/lib/api/aggregation.ts
  docs/detailed-design/FR-025_category-pie-chart/README.md
  docs/detailed-design/FR-025_category-pie-chart/class-diagrams.md
  docs/detailed-design/FR-025_category-pie-chart/input-output-design.md
  docs/detailed-design/FR-025_category-pie-chart/sequence-diagrams.md
Due: unit

fix(frontend): Rechartsの型エラーを修正
  apps/frontend/src/components/dashboard/CategoryPieChart.tsx
Due: unit

test(frontend): FR-025 カテゴリ別円グラフの単体テストとE2Eテストを実装
  apps/frontend/e2e/dashboard.spec.ts
  apps/frontend/src/components/dashboard/__tests__/CategoryPieChart.test.tsx
Due: unit

test(frontend): CategoryPieChartContainerのテストを追加してカバレッジを改善
  apps/frontend/src/components/dashboard/__tests__/CategoryPieChart.test.tsx
  apps/frontend/src/components/dashboard/__tests__/CategoryPieChartContainer.test.tsx
Due: unit

test(e2e): E2Eテストの修正 - データ有無に対応
  apps/frontend/e2e/dashboard.spec.ts
Due: none

fix(frontend): Geminiレビュー指摘事項の修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/src/components/dashboard/CategoryPieChart.tsx
  apps/frontend/src/components/dashboard/CategoryPieChartContainer.tsx
  apps/frontend/src/components/dashboard/__tests__/CategoryPieChart.test.tsx
  docs/detailed-design/FR-025_category-pie-chart/class-diagrams.md
  docs/detailed-design/FR-025_category-pie-chart/input-output-design.md
  docs/detailed-design/FR-025_category-pie-chart/sequence-diagrams.md
Due: unit

fix(docs,test): Geminiレビュー指摘事項の修正（第2回）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/src/components/dashboard/__tests__/CategoryPieChartContainer.test.tsx
  docs/detailed-design/FR-025_category-pie-chart/README.md
  docs/detailed-design/FR-025_category-pie-chart/class-diagrams.md
  docs/detailed-design/FR-025_category-pie-chart/input-output-design.md
Due: unit

feat(frontend): FR-025 カテゴリ別円グラフ表示機能の実装 (#381)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/dashboard.spec.ts
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/CategoryPieChart.tsx
  apps/frontend/src/components/dashboard/CategoryPieChartContainer.tsx
  apps/frontend/src/components/dashboard/__tests__/CategoryPieChart.test.tsx
  apps/frontend/src/components/dashboard/__tests__/CategoryPieChartContainer.test.tsx
  apps/frontend/src/lib/api/aggregation.ts
  docs/detailed-design/FR-025_category-pie-chart/README.md
  docs/detailed-design/FR-025_category-pie-chart/class-diagrams.md
  docs/detailed-design/FR-025_category-pie-chart/input-output-design.md
  docs/detailed-design/FR-025_category-pie-chart/sequence-diagrams.md
Due: unit

docs: FR-026 金融機関別資産残高表示機能の詳細設計書を作成
  docs/detailed-design/FR-026_institution-asset-balance/README.md
  docs/detailed-design/FR-026_institution-asset-balance/class-diagrams.md
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
  docs/detailed-design/FR-026_institution-asset-balance/sequence-diagrams.md
Due: none

fix(docs): Geminiレビュー指摘を修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  docs/detailed-design/FR-026_institution-asset-balance/README.md
  docs/detailed-design/FR-026_institution-asset-balance/class-diagrams.md
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
Due: none

fix(docs): Geminiレビュー指摘（第2回）を修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  docs/detailed-design/FR-026_institution-asset-balance/class-diagrams.md
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
Due: none

fix(docs): Geminiレビュー指摘（第3回）を修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  docs/detailed-design/FR-026_institution-asset-balance/README.md
  docs/detailed-design/FR-026_institution-asset-balance/class-diagrams.md
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
Due: none

docs: FR-026 金融機関別資産残高表示機能の詳細設計書を作成 (#382)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  docs/detailed-design/FR-026_institution-asset-balance/README.md
  docs/detailed-design/FR-026_institution-asset-balance/class-diagrams.md
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
  docs/detailed-design/FR-026_institution-asset-balance/sequence-diagrams.md
Due: none

feat(backend): FR-026 資産残高集計APIエンドポイントを実装
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/asset-balance-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-asset-balance.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  docs/detailed-design/FR-026_institution-asset-balance/README.md
  docs/detailed-design/FR-026_institution-asset-balance/class-diagrams.md
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
Due: unit, e2e-backend

fix(backend): 負債の場合のpercentage計算を修正
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.ts
Due: unit, e2e-backend

feat(frontend): FR-026 金融機関別資産残高表示機能を実装
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/AssetBalanceCard.tsx
  apps/frontend/src/components/dashboard/AssetBalanceContainer.tsx
  apps/frontend/src/components/dashboard/AssetBalanceGraph.tsx
  apps/frontend/src/components/dashboard/InstitutionAssetList.tsx
  apps/frontend/src/lib/api/aggregation.ts
Due: unit

docs: FR-026の前月比計算ロジック実装Issueを作成
  scripts/github/issues/issue-data/fr-026-asset-balance-comparison.json
Due: none

test(backend): FR-026のユニットテストを追加
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/domain/services/asset-balance-domain.service.spec.ts
Due: none

test(frontend): FR-026のユニットテストを追加
  apps/frontend/src/components/dashboard/__tests__/AssetBalanceCard.test.tsx
  apps/frontend/src/components/dashboard/__tests__/AssetBalanceGraph.test.tsx
  apps/frontend/src/components/dashboard/__tests__/InstitutionAssetList.test.tsx
Due: unit

test(backend): AggregationControllerのテストにCalculateAssetBalanceUseCaseのモックを追加
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
Due: none

fix(e2e): ダッシュボードE2Eテストを修正
  apps/frontend/e2e/dashboard.spec.ts
Due: none

fix: Geminiレビュー指摘を修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/asset-balance-response.dto.ts
  apps/backend/src/modules/transaction/presentation/dto/get-asset-balance.dto.ts
  apps/frontend/src/components/dashboard/AssetBalanceGraph.tsx
  apps/frontend/src/lib/api/aggregation.ts
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
Due: unit, e2e-backend

fix: Geminiレビュー指摘を修正（第2回）
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.ts
  apps/backend/src/modules/transaction/presentation/dto/asset-balance-response.dto.ts
  apps/backend/src/modules/transaction/presentation/dto/get-asset-balance.dto.spec.ts
  apps/frontend/src/components/dashboard/__tests__/AssetBalanceCard.test.tsx
  apps/frontend/src/components/dashboard/__tests__/InstitutionAssetList.test.tsx
  apps/frontend/src/lib/api/aggregation.ts
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
  libs/types/src/account.types.ts
  libs/types/src/index.ts
Due: unit, e2e-backend

docs: Geminiレビュー観点をルールに追加（第2回）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

test: FR-026実装部分のテストカバレッジ向上
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/frontend/src/components/dashboard/__tests__/AssetBalanceContainer.test.tsx
Due: unit

docs: カバレッジレポートを更新（FR-026実装後）
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
Due: none

feat: FR-026 金融機関別資産残高表示機能の実装 (#384)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-asset-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/asset-balance-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/asset-balance-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/asset-balance-response.dto.ts
  apps/backend/src/modules/transaction/presentation/dto/get-asset-balance.dto.spec.ts
  apps/backend/src/modules/transaction/presentation/dto/get-asset-balance.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/e2e/dashboard.spec.ts
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/AssetBalanceCard.tsx
  apps/frontend/src/components/dashboard/AssetBalanceContainer.tsx
  apps/frontend/src/components/dashboard/AssetBalanceGraph.tsx
  apps/frontend/src/components/dashboard/InstitutionAssetList.tsx
  apps/frontend/src/components/dashboard/__tests__/AssetBalanceCard.test.tsx
  apps/frontend/src/components/dashboard/__tests__/AssetBalanceContainer.test.tsx
  apps/frontend/src/components/dashboard/__tests__/AssetBalanceGraph.test.tsx
  apps/frontend/src/components/dashboard/__tests__/InstitutionAssetList.test.tsx
  apps/frontend/src/lib/api/aggregation.ts
  docs/detailed-design/FR-026_institution-asset-balance/README.md
  docs/detailed-design/FR-026_institution-asset-balance/class-diagrams.md
  docs/detailed-design/FR-026_institution-asset-balance/input-output-design.md
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  libs/types/src/account.types.ts
  libs/types/src/index.ts
  scripts/github/issues/issue-data/fr-026-asset-balance-comparison.json
Due: unit, e2e-backend

feat: FR-027 収支推移のトレンド表示機能を実装
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-trend-analysis.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/TrendGraph.tsx
  apps/frontend/src/components/dashboard/TrendInsights.tsx
  apps/frontend/src/lib/api/aggregation.ts
Due: unit, e2e-backend

test: FR-027 トレンド分析機能のテストを実装
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/frontend/src/components/dashboard/__tests__/TrendGraph.test.tsx
  apps/frontend/src/components/dashboard/__tests__/TrendInsights.test.tsx
Due: unit
