Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

fix: テストケースを修正
  apps/backend/src/modules/transaction/domain/services/category-classification.service.spec.ts
Due: none

fix: CI対応 - import typeとunsafe return修正
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.ts
  apps/frontend/src/lib/api/classification.ts
Due: unit, e2e-backend

fix: Next.jsビルドエラー修正 - 型アサーションの改善
  apps/frontend/src/lib/api/classification.ts
Due: unit

fix: 型アサーション修正 - CI型エラー対応
  apps/frontend/src/lib/api/classification.ts
Due: unit

fix: E2Eテスト修正とルーティング問題の解決
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/frontend/e2e/classification.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/components/CategoryClassifier.tsx
  apps/frontend/src/lib/api/classification.ts
Due: unit, e2e-backend

fix: Geminiレビュー指摘対応（全6件）
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.ts
  apps/backend/src/modules/transaction/domain/services/category-classification.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/frontend/src/components/CategoryClassifier.tsx
  apps/frontend/src/lib/api/classification.ts
Due: unit, e2e-backend

docs: 詳細設計ルールを適切な場所に移動
  .cursor/rules/00-WORKFLOW-CHECKLIST.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: Gemini指摘対応 - キーワード評価順序を変更
  apps/backend/src/modules/transaction/domain/services/category-classification.service.ts
Due: unit, e2e-backend

test: Gemini指摘対応 - テスト日付を固定値に変更
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.spec.ts
Due: none

refactor: Gemini指摘対応 - getDefaultCategoryForTypeをリファクタリング
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.ts
Due: unit, e2e-backend

docs: Gemini指摘対応 - evaluateConfidenceの@deprecatedコメント削除
  apps/backend/src/modules/transaction/domain/services/category-classification.service.ts
Due: unit, e2e-backend

test: Gemini指摘対応 - E2Eテストのセレクタを改善
  apps/frontend/e2e/classification.spec.ts
Due: none

fix: E2Eテストセレクタを.first()に戻す
  apps/frontend/e2e/classification.spec.ts
Due: none

docs: FR-008-011 詳細設計書を作成（事後作成）
  docs/detailed-design/FR-008-011_data-classification/README.md
  docs/detailed-design/FR-008-011_data-classification/class-diagrams.md
  docs/detailed-design/FR-008-011_data-classification/input-output-design.md
  docs/detailed-design/FR-008-011_data-classification/sequence-diagrams.md
Due: none

refactor: Gemini指摘対応 - キーワード辞書を配列化し金額0の分類を改善
  apps/backend/src/modules/transaction/domain/services/category-classification.service.ts
Due: unit, e2e-backend

perf: Gemini指摘対応 - キーワード小文字変換処理を最適化
  apps/backend/src/modules/transaction/domain/services/category-classification.service.ts
Due: unit, e2e-backend

feat: FR-008 カテゴリ自動分類機能を実装 (#254)
  .cursor/rules/00-WORKFLOW-CHECKLIST.md
  .github/ISSUE_TEMPLATE/feature_request.md
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.ts
  apps/backend/src/modules/transaction/domain/services/category-classification.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/category-classification.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/e2e/classification.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/app/classification/page.tsx
  apps/frontend/src/components/CategoryClassifier.tsx
  apps/frontend/src/lib/api/classification.ts
  docs/detailed-design/FR-008-011_data-classification/README.md
  docs/detailed-design/FR-008-011_data-classification/class-diagrams.md
  docs/detailed-design/FR-008-011_data-classification/input-output-design.md
  docs/detailed-design/FR-008-011_data-classification/sequence-diagrams.md
Due: unit, e2e-backend

feat: Phase 1実装 - LocalとCIのテスト環境を統一 (#255)
  .nvmrc
  README.md
  apps/backend/package.json
  apps/backend/src/modules/credit-card/presentation/dto/connect-credit-card.dto.ts
  apps/backend/src/modules/health/presentation/dto/check-connection.dto.ts
  apps/backend/src/modules/health/presentation/dto/get-connection-history.dto.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/tsconfig.json
  apps/frontend/package.json
  apps/frontend/src/app/classification/page.tsx
  apps/frontend/src/components/CategoryClassifier.tsx
  package.json
Due: unit, e2e-backend

docs: README.mdのNode.jsバージョン表記を明確化
  README.md
Due: none

refactor: lint-stagedでlibsのESLint設定を明示的に指定
  package.json
Due: none

feat: Phase 1実装 - LocalとCIのテスト環境を統一 (#255) (#256)
  .nvmrc
  README.md
  apps/backend/package.json
  apps/backend/src/modules/credit-card/presentation/dto/connect-credit-card.dto.ts
  apps/backend/src/modules/health/presentation/dto/check-connection.dto.ts
  apps/backend/src/modules/health/presentation/dto/get-connection-history.dto.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/tsconfig.json
  apps/frontend/package.json
  apps/frontend/src/app/classification/page.tsx
  apps/frontend/src/components/CategoryClassifier.tsx
  package.json
Due: unit, e2e-backend

feat: TypeORM Repository実装 (Institution, Transaction) (#125)
  apps/backend/src/modules/institution/infrastructure/entities/account.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
Due: unit, e2e-backend

feat: Securities Repository の TypeORM 実装 (#125)
  apps/backend/src/modules/securities/infrastructure/entities/holding.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/securities-account.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/security-transaction.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/repositories/holding-typeorm.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/securities-account-typeorm.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/security-transaction-typeorm.repository.ts
Due: unit, e2e-backend

feat: モジュール設定とマイグレーション追加 (#125)
  apps/backend/src/migrations/1732300000000-AddSecuritiesTables.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/securities/securities.module.ts
Due: unit, e2e-backend

fix: マイグレーションスクリプトをTypeORM対応に修正 (#125)
  apps/backend/scripts/migrate-json-to-mysql.ts
Due: none

fix: ORM EntityのIndex定義をプロパティ名に修正 (#125)
  apps/backend/src/modules/institution/infrastructure/entities/account.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/holding.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/securities-account.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/security-transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
Due: unit, e2e-backend

fix: Geminiレビュー対応 (#125)
  apps/backend/src/modules/institution/infrastructure/entities/account.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/securities/securities.module.ts
  apps/backend/src/modules/transaction/transaction.module.ts
Due: unit, e2e-backend

fix: backend E2Eテスト修正 (#125)
  apps/backend/src/modules/securities/presentation/controllers/securities.controller.ts
  apps/backend/test/securities.e2e-spec.ts
Due: unit, e2e-backend

fix: backend E2Eテスト完全修正 (#125)
  apps/backend/src/config/database.config.ts
  apps/backend/src/migrations/1732300000000-AddSecuritiesTables.ts
  apps/backend/src/modules/securities/application/use-cases/connect-securities-account.use-case.ts
  apps/backend/src/modules/securities/infrastructure/entities/holding.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/securities-account.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/security-transaction.orm-entity.ts
  apps/backend/test/securities.e2e-spec.ts
Due: unit, e2e-backend

fix: Gemini 2ndレビュー対応 (#125)
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
Due: unit, e2e-backend

fix: Gemini 3rdレビュー対応 - コード重複削減とスキーマ一貫性向上 (#125)
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/securities/infrastructure/entities/holding.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/securities-account.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/security-transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
Due: unit, e2e-backend

fix: 外部キー用インデックスの重複を修正 (#125)
  apps/backend/src/migrations/1732300000000-AddSecuritiesTables.ts
  apps/backend/src/modules/securities/infrastructure/entities/holding.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/security-transaction.orm-entity.ts
Due: unit, e2e-backend

docs(database): 実装に基づきデータベーススキーマ設計書を更新
  docs/database-schema.md
Due: none

feat: Repository実装のDB対応 (#125) (#257)
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/config/database.config.ts
  apps/backend/src/migrations/1732300000000-AddSecuritiesTables.ts
  apps/backend/src/modules/institution/infrastructure/entities/account.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/securities/application/use-cases/connect-securities-account.use-case.ts
  apps/backend/src/modules/securities/infrastructure/entities/holding.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/securities-account.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/entities/security-transaction.orm-entity.ts
  apps/backend/src/modules/securities/infrastructure/repositories/holding-typeorm.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/securities-account-typeorm.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/security-transaction-typeorm.repository.ts
  apps/backend/src/modules/securities/presentation/controllers/securities.controller.ts
  apps/backend/src/modules/securities/securities.module.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/backend/test/securities.e2e-spec.ts
  docs/database-schema.md
Due: unit, e2e-backend

feat: Issue #201 @start-taskコマンドにIssue ID指定機能を追加
  .cursor/rules/04-github-integration.md
  .cursorrules
  README.md
  scripts/github/workflow/README.md
  scripts/github/workflow/config.sh
  scripts/github/workflow/start-task.sh
Due: none

fix: Geminiレビュー指摘対応 - ブランチ名生成とreadコマンド改善
  scripts/github/workflow/start-task.sh
Due: none

feat: Issue #201 @start-taskコマンドにIssue ID指定機能を追加 (#258)
  .cursor/rules/04-github-integration.md
  .cursorrules
  README.md
  scripts/github/workflow/README.md
  scripts/github/workflow/config.sh
  scripts/github/workflow/start-task.sh
Due: none

feat(test): パフォーマンステストの実装 (#126)
  docs/performance-test-report.md
Due: none

feat(test): パフォーマンステストの実装とESLint設定更新 (#126)
  apps/backend/eslint.config.mjs
  apps/backend/package.json
  apps/backend/src/modules/health/domain/adapters/api-client.interface.ts
  apps/backend/test/jest-perf.json
  apps/backend/test/performance/api-response-time.perf.spec.ts
  apps/backend/test/performance/database-query.perf.spec.ts
  apps/backend/test/performance/load-test.perf.spec.ts
  apps/frontend/e2e/performance.spec.ts
  apps/frontend/eslint.config.mjs
  docs/performance-test-report.md
  scripts/README.md
  scripts/test/test-perf.sh
Due: unit, e2e-backend

fix(test): ESLint warningの修正 - expect.arrayContainingの型アサーション追加 (#126)
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.spec.ts
Due: none
