Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

test: FR-027 カバレッジ向上のためのテスト追加
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.spec.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/dto/get-trend-analysis.dto.spec.ts
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
Due: unit

refactor: Gemini指摘対応 - 冗長な計算を排除し型安全性を向上
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.ts
Due: unit, e2e-backend

docs: Geminiレビュー観点をルールファイルに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

fix: Gemini指摘対応 - meanが負の値の場合のトレンド方向判定を修正
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.ts
Due: unit, e2e-backend

refactor: Gemini指摘対応 - ドメインサービスのメソッドでmeanを再計算しないように修正
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.ts
Due: unit, e2e-backend

fix: lintエラー修正 - 未使用のインポートを削除
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/trend-analysis-response.dto.ts
Due: unit, e2e-backend

docs: Geminiレビュー観点をルールファイルに追加（第2回）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

refactor: Gemini指摘対応 - calculateCoefficientOfVariationの改善
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.ts
Due: unit, e2e-backend

refactor: Gemini指摘対応 - TrendAnalysisResponseを共有パッケージに移動
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/TrendGraph.tsx
  apps/frontend/src/components/dashboard/TrendInsights.tsx
  apps/frontend/src/components/dashboard/__tests__/TrendGraph.test.tsx
  apps/frontend/src/components/dashboard/__tests__/TrendInsights.test.tsx
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
  apps/frontend/src/lib/api/aggregation.ts
  libs/types/src/api/trend-analysis-response.ts
  libs/types/src/index.ts
Due: unit

docs: Geminiレビュー観点をルールファイルに追加（第3回）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

feat(transaction): FR-027 収支推移のトレンド表示機能を実装 (#385)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-trend-analysis.use-case.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/trend-analysis-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-trend-analysis.dto.spec.ts
  apps/backend/src/modules/transaction/presentation/dto/get-trend-analysis.dto.ts
  apps/backend/src/modules/transaction/presentation/dto/trend-analysis-response.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/TrendGraph.tsx
  apps/frontend/src/components/dashboard/TrendInsights.tsx
  apps/frontend/src/components/dashboard/__tests__/TrendGraph.test.tsx
  apps/frontend/src/components/dashboard/__tests__/TrendInsights.test.tsx
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
  apps/frontend/src/lib/api/aggregation.ts
  libs/types/src/api/trend-analysis-response.ts
  libs/types/src/index.ts
Due: unit, e2e-backend

test: 金融機関更新機能のコントローラーテストを追加
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.spec.ts
Due: none

test: 金融機関更新機能のコントローラーテストを追加 (#386)
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.spec.ts
Due: none

docs: FR-030の詳細設計書を作成
  docs/detailed-design/FR-030_sync-settings/README.md
  docs/detailed-design/FR-030_sync-settings/class-diagrams.md
  docs/detailed-design/FR-030_sync-settings/input-output-design.md
  docs/detailed-design/FR-030_sync-settings/screen-transitions.md
  docs/detailed-design/FR-030_sync-settings/sequence-diagrams.md
  docs/detailed-design/FR-030_sync-settings/state-transitions.md
Due: none

fix: Geminiレビューコメントに対応
  docs/detailed-design/FR-030_sync-settings/class-diagrams.md
  docs/detailed-design/FR-030_sync-settings/input-output-design.md
  docs/detailed-design/FR-030_sync-settings/sequence-diagrams.md
  docs/development/detailed-design-guideline.md
Due: none

docs: 詳細設計ガイドラインにGeminiレビュー観点を追加
  docs/development/detailed-design-guideline.md
Due: none

fix: Geminiレビューコメント（第2回）に対応
  docs/detailed-design/FR-030_sync-settings/README.md
  docs/detailed-design/FR-030_sync-settings/class-diagrams.md
  docs/detailed-design/FR-030_sync-settings/input-output-design.md
  docs/detailed-design/FR-030_sync-settings/screen-transitions.md
  docs/detailed-design/FR-030_sync-settings/sequence-diagrams.md
  docs/development/detailed-design-guideline.md
Due: none

fix: 詳細設計ガイドラインの重複項目を削除
  docs/development/detailed-design-guideline.md
Due: none

fix: Geminiレビューコメント（第3回）に対応
  docs/detailed-design/FR-030_sync-settings/README.md
  docs/detailed-design/FR-030_sync-settings/input-output-design.md
  docs/detailed-design/FR-030_sync-settings/sequence-diagrams.md
Due: none

fix: sequence-diagrams.mdの残りのPUTをPATCHに修正、README.mdのアーキテクチャ図を修正
  docs/detailed-design/FR-030_sync-settings/README.md
  docs/detailed-design/FR-030_sync-settings/sequence-diagrams.md
Due: none

docs: FR-030の詳細設計書を作成 (#387)
  docs/detailed-design/FR-030_sync-settings/README.md
  docs/detailed-design/FR-030_sync-settings/class-diagrams.md
  docs/detailed-design/FR-030_sync-settings/input-output-design.md
  docs/detailed-design/FR-030_sync-settings/screen-transitions.md
  docs/detailed-design/FR-030_sync-settings/sequence-diagrams.md
  docs/detailed-design/FR-030_sync-settings/state-transitions.md
  docs/development/detailed-design-guideline.md
Due: none

feat: Domain層のEnumを実装（SyncIntervalType, TimeUnit, InstitutionSyncStatus）
  apps/backend/src/modules/sync/domain/enums/institution-sync-status.enum.ts
  apps/backend/src/modules/sync/domain/enums/sync-interval-type.enum.ts
  apps/backend/src/modules/sync/domain/enums/time-unit.enum.ts
Due: unit, e2e-backend

feat: SyncInterval Value Objectを実装
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.ts
Due: unit, e2e-backend

feat: SyncSettings Entityを実装
  apps/backend/src/modules/sync/domain/entities/sync-settings.entity.ts
Due: unit, e2e-backend

feat: InstitutionSyncSettings Entityを実装
  apps/backend/src/modules/sync/domain/entities/institution-sync-settings.entity.ts
Due: unit, e2e-backend

feat: ISyncSettingsRepositoryインターフェースを定義
  apps/backend/src/modules/sync/domain/repositories/sync-settings.repository.interface.ts
Due: unit, e2e-backend

feat: ISchedulerServiceインターフェースを定義（Application層）
  apps/backend/src/modules/sync/application/services/scheduler.service.interface.ts
Due: unit, e2e-backend

feat: GetSyncSettingsUseCaseを実装
  apps/backend/src/modules/sync/application/use-cases/get-sync-settings.use-case.ts
  apps/backend/src/modules/sync/sync.tokens.ts
Due: unit, e2e-backend

feat: UpdateSyncSettingsUseCaseを実装
  apps/backend/src/modules/sync/application/use-cases/update-sync-settings.use-case.ts
Due: unit, e2e-backend

feat: GetInstitutionSyncSettingsUseCaseとGetAllInstitutionSyncSettingsUseCaseを実装
  apps/backend/src/modules/sync/application/use-cases/get-all-institution-sync-settings.use-case.ts
  apps/backend/src/modules/sync/application/use-cases/get-institution-sync-settings.use-case.ts
Due: unit, e2e-backend

fix: ISchedulerServiceのメソッドシグネチャを修正
  apps/backend/src/modules/sync/application/jobs/scheduled-sync.job.ts
  apps/backend/src/modules/sync/application/services/scheduler.service.interface.ts
  apps/backend/src/modules/sync/application/use-cases/update-institution-sync-settings.use-case.ts
  apps/backend/src/modules/sync/application/use-cases/update-sync-settings.use-case.ts
  apps/backend/src/modules/sync/infrastructure/repositories/json-sync-settings.repository.ts
Due: unit, e2e-backend

feat: 同期設定のDTOsを実装
  apps/backend/src/modules/sync/presentation/dto/sync-settings.dto.ts
Due: unit, e2e-backend

feat: SyncSettingsControllerを実装
  apps/backend/src/modules/sync/presentation/controllers/sync-settings.controller.ts
Due: unit, e2e-backend

feat: SyncModuleに新しいコンポーネントを登録
  apps/backend/src/modules/sync/sync.module.ts
Due: unit, e2e-backend

test: GetSyncSettingsUseCaseとUpdateSyncSettingsUseCaseのテストを追加
  apps/backend/src/modules/sync/application/use-cases/get-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/update-sync-settings.use-case.spec.ts
Due: none

test: 金融機関同期設定UseCaseのテストを追加
  apps/backend/src/modules/sync/application/use-cases/get-all-institution-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/get-institution-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/update-institution-sync-settings.use-case.spec.ts
Due: none

test: SyncInterval Value Objectのテストを追加
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.spec.ts
Due: none

test: SyncInterval Value Objectのテストを修正
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.spec.ts
Due: none

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
