Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

fix(e2e): 金融機関作成時の重複エラーハンドリングを改善
  apps/frontend/e2e/helpers/test-data.ts
Due: none

fix(frontend): AggregateButtonでエラーメッセージを動的に取得
  apps/frontend/src/components/credit-cards/AggregateButton.tsx
Due: unit

fix(frontend): PaymentStatusCardでエラーメッセージを動的に取得
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
Due: unit

docs: フロントエンドでのエラーメッセージ動的取得のベストプラクティスを追加
  .cursor/rules/02-code-standards.md
Due: none

fix(e2e): エラーハンドリングを改善してデバッグを容易に
  apps/frontend/e2e/helpers/test-data.ts
Due: none

refactor(frontend): エラーメッセージ抽出ロジックを共通ユーティリティ関数に抽出
  apps/frontend/src/components/credit-cards/AggregateButton.tsx
  apps/frontend/src/components/credit-cards/PaymentStatusCard.tsx
  apps/frontend/src/utils/error.utils.ts
Due: unit

docs: エラーハンドリングのベストプラクティスを追加（コード重複回避・複数エラー情報保持）
  .cursor/rules/02-code-standards.md
Due: none

docs(aggregation): FR-016月別収支集計機能の詳細設計書を作成
  docs/detailed-design/FR-016_monthly-balance-aggregation/README.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/screen-transitions.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
Due: none

docs(aggregation): aggregateByCategoryの戻り値型を修正
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
Due: none

docs(aggregation): IncomeExpenseSummaryからTransactionEntityを削除しTransactionDtoを定義
  docs/detailed-design/FR-016_monthly-balance-aggregation/README.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
Due: none

docs(aggregation): 貯蓄率計算でincomeが0の場合のエッジケースを明確化
  docs/detailed-design/FR-016_monthly-balance-aggregation/README.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
Due: none

docs(aggregation): チェックリストの項目を現状に合わせて更新
  docs/detailed-design/FR-016_monthly-balance-aggregation/README.md
Due: none

docs(aggregation): バリデーション実装例をNestJSのベストプラクティスに修正
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
Due: none

docs(guideline): Geminiレビューから学んだ観点を詳細設計ガイドラインに追加
  docs/development/detailed-design-guideline.md
Due: none

docs(aggregation): Geminiレビュー指摘に対応（クラス図の改善）
  docs/detailed-design/FR-016_monthly-balance-aggregation/README.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
Due: none

docs(aggregation): Application層とPresentation層のクラス図を修正
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
Due: none

docs(aggregation): Presentation層のクラス図を完全に修正
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
Due: none

docs(guideline): Geminiレビューから学んだ観点を追加（クラス図の表現）
  docs/development/detailed-design-guideline.md
Due: none

docs(aggregation): FR-016月別収支集計機能の詳細設計書を作成 (#341)
  docs/detailed-design/FR-016_monthly-balance-aggregation/README.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/screen-transitions.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
  docs/development/detailed-design-guideline.md
Due: none

feat(aggregation): FR-016月別収支集計機能を実装
  apps/backend/src/modules/transaction/application/use-cases/calculate-monthly-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-monthly-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/monthly-balance-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/monthly-balance-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-monthly-balance.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
Due: unit, e2e-backend

refactor(aggregation): Geminiレビュー指摘に対応
  apps/backend/src/modules/transaction/application/use-cases/calculate-monthly-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/monthly-balance-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/monthly-balance-domain.service.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

test(aggregation): テストカバレッジ改善
  apps/backend/src/modules/transaction/application/use-cases/calculate-monthly-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/domain/services/monthly-balance-domain.service.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/dto/get-monthly-balance.dto.spec.ts
Due: none

refactor(aggregation): Geminiレビュー指摘に対応（第2弾）
  apps/backend/src/modules/transaction/application/use-cases/calculate-monthly-balance.use-case.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

feat(aggregation): FR-016月別収支集計機能を実装 (#342)
  apps/backend/src/modules/transaction/application/use-cases/calculate-monthly-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-monthly-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/monthly-balance-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/monthly-balance-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-monthly-balance.dto.spec.ts
  apps/backend/src/modules/transaction/presentation/dto/get-monthly-balance.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

docs: FR-018 カテゴリ別集計機能の詳細設計書を作成
  docs/detailed-design/FR-018_category-aggregation/README.md
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
  docs/detailed-design/FR-018_category-aggregation/input-output-design.md
  docs/detailed-design/FR-018_category-aggregation/sequence-diagrams.md
Due: none

docs: Gemini指摘対応 - Domain層のSubcategoryAggregationDataからsubcategoryNameを削除
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
Due: none

docs: Gemini指摘対応 - UseCaseとControllerの戻り値型を修正
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
Due: none

docs: Gemini指摘対応 - N+1問題を解決するためfindByIdsメソッドを追加
  docs/detailed-design/FR-018_category-aggregation/sequence-diagrams.md
Due: none

docs: Gemini指摘対応 - Infrastructure層のクラス図にfindByIdsメソッドを追加
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
Due: none

docs: Gemini指摘対応 - README.mdの将来対応項目を[x]から[ ]に修正
  docs/detailed-design/FR-018_category-aggregation/README.md
Due: none

docs: Gemini指摘対応 - Mermaidクラス図のジェネリクス表記を~から<>に変更
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
Due: none

docs: Gemini指摘対応 - APIレスポンスを統一（特定カテゴリも配列で返す）
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
  docs/detailed-design/FR-018_category-aggregation/input-output-design.md
Due: none

docs: Gemini指摘対応 - シーケンス図のレスポンス形式を統一
  docs/detailed-design/FR-018_category-aggregation/sequence-diagrams.md
Due: none

docs: Gemini指摘対応 - Periodインターフェースの型をDateからstringに変更
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
  docs/detailed-design/FR-018_category-aggregation/input-output-design.md
Due: none

docs: Geminiレビューから学んだ観点を詳細設計ガイドラインに追加
  docs/development/detailed-design-guideline.md
Due: none

docs: レビューチェックリストとMermaid記法ガイドを更新
  docs/development/detailed-design-guideline.md
Due: none

docs: Gemini指摘対応 - Controller実装例の戻り値型を修正
  docs/detailed-design/FR-018_category-aggregation/input-output-design.md
Due: none

docs: Gemini指摘対応 - 残りの4件の修正
  docs/detailed-design/FR-018_category-aggregation/README.md
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
  docs/detailed-design/FR-018_category-aggregation/sequence-diagrams.md
Due: none

docs: FR-018 カテゴリ別集計機能の詳細設計書作成 (#343)
  docs/detailed-design/FR-018_category-aggregation/README.md
  docs/detailed-design/FR-018_category-aggregation/class-diagrams.md
  docs/detailed-design/FR-018_category-aggregation/input-output-design.md
  docs/detailed-design/FR-018_category-aggregation/sequence-diagrams.md
  docs/development/detailed-design-guideline.md
Due: none

feat: FR-018 カテゴリ別集計機能の実装
  apps/backend/src/modules/category/domain/repositories/category.repository.interface.ts
  apps/backend/src/modules/category/infrastructure/repositories/category-typeorm.repository.ts
  apps/backend/src/modules/category/infrastructure/repositories/category.repository.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-category-aggregation.use-case.ts
  apps/backend/src/modules/transaction/domain/services/category-aggregation-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-category-aggregation.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
Due: unit, e2e-backend
