Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

fix(testing): Geminiレビュー指摘を修正（PR #451）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/connection-failure-notification.spec.ts
Due: none

docs: E2Eテストのエラー解決アプローチをルールファイルに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

docs: Phase 1 要件定義書の作成開始 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/README.md
Due: none

docs: Phase 1 クラス図の作成完了 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/class-diagrams.md
Due: none

docs: Phase 1 シーケンス図の作成完了 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/sequence-diagrams.md
Due: none

docs: Phase 1 入出力設計の作成完了 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/input-output-design.md
Due: none

docs: Phase 1 画面遷移図の作成完了 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/screen-transitions.md
Due: none

docs: Phase 1 要件定義書作成完了、チェックリスト更新 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/README.md
Due: none

docs: Gemini指摘対応 - README.mdのany型をunknownに変更 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/README.md
Due: none

docs: Gemini指摘対応 - input-output-design.mdのany型をunknownに変更 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/input-output-design.md
Due: none

docs: Gemini指摘対応 - DTOバリデーションロジックをPresentation Layerに修正 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/README.md
Due: none

docs: Gemini指摘対応 - class-diagrams.mdのプレースホルダーを削除 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/class-diagrams.md
Due: none

docs: Gemini指摘対応 - 接続テストフローからCryptoService呼び出しを削除 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/sequence-diagrams.md
Due: none

docs: Gemini指摘対応 - 金融機関登録成功時のレスポンスを201 Createdに修正 (Issue #410)
  docs/detailed-design/FR-410_bank-authentication-extension/sequence-diagrams.md
Due: none

docs: Geminiレビュー観点の取り込み - 設計書の品質向上 (Issue #410)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

docs: Phase 1 銀行認証方式拡張の要件定義書作成 (Issue #410) (#452)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  docs/detailed-design/FR-410_bank-authentication-extension/README.md
  docs/detailed-design/FR-410_bank-authentication-extension/class-diagrams.md
  docs/detailed-design/FR-410_bank-authentication-extension/input-output-design.md
  docs/detailed-design/FR-410_bank-authentication-extension/screen-transitions.md
  docs/detailed-design/FR-410_bank-authentication-extension/sequence-diagrams.md
Due: none

feat: AuthenticationType enum追加、BankCredentials型とBank型の拡張 (Issue #410)
  libs/types/src/bank.types.ts
Due: none

fix: ESLintエラーの修正 - 型安全性の向上 (Issue #410)
  apps/backend/src/modules/institution/application/use-cases/test-bank-connection.use-case.ts
  apps/backend/src/modules/institution/infrastructure/adapters/mock-bank-api.adapter.ts
  apps/backend/src/modules/institution/infrastructure/data/banks.data.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.ts
Due: unit, e2e-backend

test: テストファイルの修正 - authenticationTypeフィールドを追加 (Issue #410)
  apps/backend/src/modules/institution/infrastructure/adapters/mock-bank-api.adapter.spec.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.spec.ts
Due: none

feat: APIクライアントの拡張 - authenticationType, userId, passwordフィールド追加 (Issue #410)
  apps/frontend/src/lib/api/institutions.ts
Due: unit

feat: BankCredentialsFormの拡張 - 認証方式に応じたフォーム切り替え (Issue #410)
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
Due: unit

feat: AddBankPageの拡張 - 認証方式に応じた処理 (Issue #410)
  apps/frontend/src/app/banks/add/page.tsx
Due: unit

feat: 編集ページの拡張 - 認証方式に応じた処理 (Issue #410)
  apps/frontend/src/app/banks/[id]/edit/page.tsx
Due: unit

test: BankCredentialsFormテストの修正 - authenticationTypeフィールド追加 (Issue #410)
  apps/frontend/src/components/forms/__tests__/BankCredentialsForm.test.tsx
Due: unit

test: USERID_PASSWORD認証のテストケースを追加
  apps/backend/src/modules/institution/infrastructure/adapters/mock-bank-api.adapter.spec.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.spec.ts
  apps/frontend/e2e/bank-integration.spec.ts
  apps/frontend/src/components/forms/__tests__/BankCredentialsForm.test.tsx
Due: unit

fix: E2Eテストの修正
  apps/frontend/e2e/bank-integration.spec.ts
  apps/frontend/e2e/helpers/test-data.ts
  scripts/test/test-e2e.sh
Due: none

fix: Backend E2EテストでauthenticationTypeを追加
  apps/backend/test/aggregation.e2e-spec.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/sync-settings.e2e-spec.ts
  apps/backend/test/sync.e2e-spec.ts
  apps/backend/test/transaction.e2e-spec.ts
Due: none

refactor: Geminiレビューコメント対応
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/institution/infrastructure/adapters/mock-bank-api.adapter.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.ts
Due: unit, e2e-backend

fix: test-bank-connection.dto.spec.tsのテストケースにauthenticationTypeを追加
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.spec.ts
Due: none

docs: ルールファイルにプロパティレベル条件付きバリデーションの実装方法を追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

fix: 銀行接続テストのエラーハンドリングを改善
  apps/frontend/src/app/banks/add/page.tsx
Due: unit

fix: 銀行接続テストでsuccess: falseの場合にエラーとして処理
  apps/frontend/src/lib/api/institutions.ts
Due: unit

fix: 認証タイプに応じてapiKey/apiSecretのバリデーションを条件付きに変更
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.ts
Due: unit, e2e-backend

feat: 接続テスト結果にデバッグ情報を追加
  apps/frontend/src/app/banks/add/page.tsx
  apps/frontend/src/components/forms/ConnectionTestResult.tsx
  apps/frontend/src/lib/api/institutions.ts
Due: unit

feat: 三菱UFJ銀行APIアダプターの実装を追加
  apps/backend/src/modules/institution/application/use-cases/test-bank-connection.use-case.ts
  apps/backend/src/modules/institution/infrastructure/adapters/bank-api-adapter.factory.ts
  apps/backend/src/modules/institution/infrastructure/adapters/mufg-bank-api.adapter.ts
  apps/backend/src/modules/institution/institution.module.ts
  docs/mufg-bank-api-specification.md
Due: unit, e2e-backend

feat: 三菱UFJ銀行API仕様書に基づく実装を追加
  apps/backend/src/modules/institution/infrastructure/adapters/mufg-bank-api.adapter.ts
  docs/mufg-bank-api-specification.md
Due: unit, e2e-backend

feat: 三菱UFJ銀行APIキーとシークレットの設定管理を改善
  apps/backend/src/app.module.ts
  apps/backend/src/config/mufg-bank.config.ts
  apps/backend/src/modules/institution/infrastructure/adapters/mufg-bank-api.adapter.ts
  docs/mufg-bank-api-specification.md
Due: unit, e2e-backend

fix: BankApiAdapterFactoryにConfigServiceを注入
  apps/backend/src/modules/institution/infrastructure/adapters/bank-api-adapter.factory.ts
Due: unit, e2e-backend

fix: app.module.tsにmufgBankConfigのインポートを追加
  apps/backend/src/app.module.ts
Due: unit, e2e-backend

docs: .env.exampleファイルを追加
  docs/detailed-design/FR-410_bank-authentication-extension/input-output-design.md
  docs/detailed-design/FR-410_bank-authentication-extension/sequence-diagrams.md
  docs/mufg-bank-api-specification.md
Due: none
