Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

fix: lintエラーの修正 - webpack型定義を追加して型安全性を確保
  apps/frontend/eslint.config.mjs
  apps/frontend/next.config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: none

[infrastructure] 開発環境のDocker化 - コンテナベースの開発環境構築 (#173)
  .dockerignore
  .env.example
  .github/workflows/ci.yml
  README.md
  SETUP.md
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/frontend/Dockerfile
  apps/frontend/Dockerfile.dev
  apps/frontend/next.config.ts
  apps/frontend/package.json
  docker-compose.yml
  pnpm-lock.yaml
  scripts/dev/dev-docker.sh
  scripts/dev/dev.sh
  scripts/dev/reset-docker.sh
  scripts/dev/stop-docker.sh
Due: none

fix(test): E2Eテストを削除してコンポーネントテストに変更
  apps/frontend/e2e/error-notification.spec.ts
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
Due: unit

fix(test): ErrorModalテストを修正
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
Due: unit

fix: Geminiの指摘に対応 - onRetryとtimestampの改善
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
  apps/frontend/src/components/notifications/ErrorModal.tsx
Due: unit

docs(rules): Geminiレビューから学んだ教訓を追加
  .cursor/rules/code-quality-checklist.md
Due: none

feat(frontend): 接続失敗時のポップアップ通知機能 (#27) (#180)
  .cursor/rules/code-quality-checklist.md
  .cursor/rules/commit.md
  .cursor/rules/pr.md
  .cursor/rules/task-trigger.md
  .cursor/rules/test.md
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
  apps/frontend/src/components/notifications/ErrorModal.tsx
  apps/frontend/src/components/notifications/ErrorToast.tsx
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
  apps/frontend/src/stores/__tests__/notification.store.test.ts
  apps/frontend/src/stores/notification.store.ts
  pnpm-lock.yaml
Due: unit

docs: Epic管理ドキュメントの誤情報を修正
  docs/api-epic-investigation.md
  docs/epic-hierarchy-setup-guide.md
  docs/sub-issue-investigation-result.md
Due: none

docs: GitHub Projectsステータス復元作業の記録を追加
  docs/project-status-restoration-report.md
  scripts/github/restore-all-statuses-fixed.sh
  scripts/github/restore-all-statuses-pagination.sh
Due: none

docs: Epic作成とSub-issue設定の完全な作業記録を追加
  docs/epic-completion-report.md
  docs/epic-list.md
  docs/epic-project-management.md
  scripts/github/add-epic-tasklists.sh
  scripts/github/add-sub-issues-via-api.sh
  scripts/github/create-epics.sh
  scripts/github/phase3-link-epics.sh
  scripts/github/phase4-analyze-unlinked.sh
  scripts/github/phase6-link-remaining.sh
  scripts/github/restore-issue-status.sh
  scripts/github/setup-all-epic-subissues.sh
  scripts/github/setup-epic-hierarchy.sh
  scripts/github/update-epic-status.sh
  tmp/epic-001.md
  tmp/epic-002.md
  tmp/epic-003.md
  tmp/epic-004.md
  tmp/epic-005.md
  tmp/epic-006.md
  tmp/epic-007.md
  tmp/epic-008.md
  tmp/epic-009.md
  tmp/epic-010.md
  tmp/epic-011.md
  tmp/epic-012.md
  tmp/epic-013.md
  tmp/epic-014.md
  tmp/epic-015.md
  tmp/epic-016.md
Due: none

docs: GitHub Projects & Epic管理のルールを追加・更新
  .cursor/rules/github-projects.md
  .cursor/rules/project.md
Due: none

chore: 再利用性のないスクリプトと一時ファイルを削除
  scripts/github/add-epic-tasklists.sh
  scripts/github/add-sub-issues-via-api.sh
  scripts/github/create-epics.sh
  scripts/github/phase3-link-epics.sh
  scripts/github/phase4-analyze-unlinked.sh
  scripts/github/phase6-link-remaining.sh
  scripts/github/restore-all-statuses-fixed.sh
  scripts/github/restore-issue-status.sh
  scripts/github/setup-epic-hierarchy.sh
  tmp/epic-001.md
  tmp/epic-002.md
  tmp/epic-003.md
  tmp/epic-004.md
  tmp/epic-005.md
  tmp/epic-006.md
  tmp/epic-007.md
  tmp/epic-008.md
  tmp/epic-009.md
  tmp/epic-010.md
  tmp/epic-011.md
  tmp/epic-012.md
  tmp/epic-013.md
  tmp/epic-014.md
  tmp/epic-015.md
  tmp/epic-016.md
Due: none

chore: Epic設定用の一度きりスクリプトを削除
  scripts/github/setup-all-epic-subissues.sh
  scripts/github/update-epic-status.sh
Due: none

docs: GitHub Projects & Epic管理ガイドの追加 (#197)
  .cursor/rules/github-projects.md
  .cursor/rules/project.md
  docs/api-epic-investigation.md
  docs/epic-completion-report.md
  docs/epic-hierarchy-setup-guide.md
  docs/epic-list.md
  docs/epic-project-management.md
  docs/project-status-restoration-report.md
  docs/sub-issue-investigation-result.md
  scripts/github/restore-all-statuses-pagination.sh
Due: none

feat: Issue作成時に自動的にBacklogステータスを設定
  scripts/github/issues/create-issue.sh
Due: none

refactor: Geminiレビュー指摘への対応 - IDの変数化とエラーハンドリング改善
  scripts/github/issues/create-issue.sh
Due: none

feat: Issue作成時に自動的にBacklogステータスを設定 (#202)
  scripts/github/issues/create-issue.sh
Due: none

feat(infrastructure): .cursorrulesファイルを作成してルール自動読み込みを実現
  .cursorrules
Due: none

fix: Geminiの指摘に対応 - .cursorrulesのフォーマットを簡潔化
  .cursorrules
Due: none

docs: Geminiレビューから学んだ教訓をcode-quality-checklistに追加
  .cursor/rules/code-quality-checklist.md
Due: none

feat(infrastructure): .cursorrulesファイルを作成してルール自動読み込みを実現 (#206)
  .cursor/rules/code-quality-checklist.md
  .cursorrules
Due: none

feat: Phase 1-5 MySQL/Docker基盤構築完了
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/config/database.config.ts
  apps/backend/src/config/typeorm-migration.config.ts
  apps/backend/src/migrations/1700000000000-InitialMigration.ts
  apps/backend/src/modules/category/infrastructure/entities/category.orm-entity.ts
  apps/backend/src/modules/category/infrastructure/repositories/category-typeorm.repository.ts
  apps/backend/src/modules/credit-card/infrastructure/entities/credit-card.orm-entity.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card-typeorm.repository.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  docker-compose.yml
  docker/mysql/init/01-init.sql
  pnpm-lock.yaml
Due: unit, e2e-backend

feat: Phase 6-12 MySQL移行完了
  .github/workflows/ci.yml
  README.md
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/credit-card/credit-card.module.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  docs/database-setup.md
  scripts/data/backup-database.sh
  scripts/data/restore-database.sh
  scripts/dev/reset-database.sh
  scripts/dev/start-database.sh
  scripts/dev/stop-database.sh
Due: unit, e2e-backend

fix: Phase 8完全実装 - E2Eテスト MySQL対応
  apps/backend/test/helpers/database-helper.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/setup-e2e.ts
Due: none

fix: 全E2Eテストにデータベースヘルパー統合
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/health.e2e-spec.ts
Due: none

fix: CI/CDを4つのジョブに分割
  .github/workflows/ci.yml
Due: none

fix: ローカルでのE2Eテスト実行に対応
  apps/backend/package.json
  apps/backend/src/config/database.config.ts
  apps/backend/src/modules/category/infrastructure/repositories/category-typeorm.repository.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/setup-e2e.ts
Due: unit, e2e-backend

fix: CI用にbuild:libsスクリプトを追加
  package.json
Due: none

fix: CIのマイグレーションステップで.envファイルをコピー
  .github/workflows/ci.yml
Due: none

fix: マイグレーション設定を簡素化し、entitiesパスを修正
  apps/backend/src/config/typeorm-migration.config.ts
Due: unit, e2e-backend

fix: ts-nodeでのマイグレーション実行を修正
  apps/backend/package.json
  apps/backend/src/config/typeorm-migration.config.ts
Due: unit, e2e-backend

fix: CIのE2Eテストで環境変数を明示的に設定
  .github/workflows/ci.yml
Due: none

fix: E2Eテストのデフォルト環境変数をCI環境と一致させる
  apps/backend/test/setup-e2e.ts
Due: none

fix: CIでPlaywrightブラウザをfrontendディレクトリでインストール
  .github/workflows/ci.yml
Due: none

refactor: Geminiレビュー指摘事項の対応
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/config/database-common.config.ts
  apps/backend/src/config/database.config.ts
  apps/backend/src/config/typeorm-migration.config.ts
  apps/backend/src/migrations/1700000000000-InitialMigration.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card-typeorm.repository.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  scripts/data/backup-database.sh
  scripts/data/restore-database.sh
  scripts/dev/reset-database.sh
Due: unit, e2e-backend

refactor: Gemini 2回目レビュー指摘事項の対応
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/migrations/1700000000000-InitialMigration.ts
  apps/backend/src/modules/category/infrastructure/entities/category.orm-entity.ts
  apps/backend/src/modules/category/infrastructure/repositories/category-typeorm.repository.ts
  apps/backend/src/modules/credit-card/infrastructure/entities/credit-card.orm-entity.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card-typeorm.repository.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  apps/backend/test/helpers/database-helper.ts
Due: unit, e2e-backend

fix: Gemini 3回目レビュー指摘事項の対応
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/modules/credit-card/infrastructure/entities/credit-card.orm-entity.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card-typeorm.repository.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
Due: unit, e2e-backend

fix: データ移行スクリプトの型エラーを修正
  apps/backend/scripts/migrate-json-to-mysql.ts
Due: none

fix: Gemini 4回目レビュー指摘事項の対応
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/test/helpers/database-helper.ts
  scripts/data/backup-database.sh
  scripts/data/restore-database.sh
  scripts/dev/reset-database.sh
Due: unit, e2e-backend

fix: Gemini 5回目レビュー指摘事項の対応
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card-typeorm.repository.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/test/institution.e2e-spec.ts
Due: unit, e2e-backend

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
