Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

fix(controllers): add BadRequestException import and update HealthController tests
  apps/backend/src/modules/category/presentation/controllers/subcategory.controller.ts
  apps/backend/src/modules/health/presentation/controllers/health.controller.spec.ts
Due: unit, e2e-backend

refactor(alert): simplify NotFoundException format in AlertController.getAlert()
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.ts
Due: unit, e2e-backend

refactor(reconciliation): use object format for NotFoundException in ReconciliationController
  apps/backend/src/modules/reconciliation/presentation/controllers/reconciliation.controller.ts
Due: unit, e2e-backend

refactor(controllers): use object format for NotFoundException in PaymentStatus and CreditCard controllers
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.ts
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.ts
Due: unit, e2e-backend

test(filters): add comprehensive tests for HttpExceptionFilter
  apps/backend/src/common/filters/http-exception.filter.spec.ts
Due: none

docs(filters): update HttpExceptionFilter documentation
  apps/backend/src/common/filters/http-exception.filter.ts
Due: unit, e2e-backend

refactor(filters): improve validation error handling with exceptionFactory
  .cursor/rules/02-code-standards.md
  apps/backend/src/common/filters/http-exception.filter.ts
  apps/backend/src/main.ts
  apps/backend/test/helpers/test-setup.ts
Due: unit, e2e-backend

docs(rules): add Gemini Code Assist review feedback to gemini-learnings.md
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

refactor(backend): Exception Filterの導入によるエラーハンドリングの一元化（全体スコープ） (#372)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  .cursor/rules/02-code-standards.md
  apps/backend/src/common/filters/http-exception.filter.spec.ts
  apps/backend/src/common/filters/http-exception.filter.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/alert/presentation/controllers/alert.controller.ts
  apps/backend/src/modules/category/presentation/controllers/subcategory.controller.ts
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.ts
  apps/backend/src/modules/health/presentation/controllers/health.controller.spec.ts
  apps/backend/src/modules/health/presentation/controllers/health.controller.ts
  apps/backend/src/modules/payment-status/presentation/controllers/payment-status.controller.ts
  apps/backend/src/modules/reconciliation/presentation/controllers/reconciliation.controller.ts
  apps/backend/test/helpers/test-setup.ts
Due: unit, e2e-backend

chore(frontend): Rechartsライブラリを追加
  apps/frontend/package.json
  pnpm-lock.yaml
Due: none

feat(frontend): FR-023 月間収支グラフ表示機能を実装
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/MonthlyBalanceGraph.tsx
  apps/frontend/src/components/dashboard/__tests__/MonthlyBalanceGraph.test.tsx
  apps/frontend/src/lib/api/aggregation.ts
Due: unit

test(frontend): 月間収支グラフコンポーネントのテストカバレッジを向上
  apps/frontend/src/components/dashboard/CustomTooltip.tsx
  apps/frontend/src/components/dashboard/MonthlyBalanceGraph.tsx
  apps/frontend/src/components/dashboard/__tests__/CustomTooltip.test.tsx
  apps/frontend/src/components/dashboard/__tests__/MonthlyBalanceGraph.test.tsx
Due: unit

docs: カバレッジレポートを更新（Issue #52）
  docs/testing/coverage-report.md
  docs/testing/module-coverage/frontend.md
Due: none

refactor(frontend): Geminiレビュー指摘に対応（PR #373）
  apps/frontend/src/components/dashboard/MonthlyBalanceGraph.tsx
Due: unit

docs: Geminiレビューから学んだ観点を追加（PR #373）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

fix(frontend): useIdでlinearGradientのID衝突を防止（PR #373）
  apps/frontend/src/components/dashboard/MonthlyBalanceGraph.tsx
Due: unit

fix(frontend): CustomTooltipのkeyをindexからitem.nameに変更（PR #373）
  apps/frontend/src/components/dashboard/CustomTooltip.tsx
Due: unit

refactor(frontend): MonthlyBalanceResponseの型定義をリファクタリング（PR #373）
  apps/frontend/src/lib/api/aggregation.ts
Due: unit

docs: Geminiレビューから学んだ観点を追加（PR #373 - 第2弾）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

feat(frontend): FR-023 月間収支グラフ表示機能を実装 (#373)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/package.json
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/CustomTooltip.tsx
  apps/frontend/src/components/dashboard/MonthlyBalanceGraph.tsx
  apps/frontend/src/components/dashboard/__tests__/CustomTooltip.test.tsx
  apps/frontend/src/components/dashboard/__tests__/MonthlyBalanceGraph.test.tsx
  apps/frontend/src/lib/api/aggregation.ts
  docs/testing/coverage-report.md
  docs/testing/module-coverage/frontend.md
  pnpm-lock.yaml
Due: unit

feat(frontend): FR-024 年間収支グラフ表示機能を実装
  apps/frontend/src/components/dashboard/YearlyBalanceGraph.tsx
  apps/frontend/src/components/dashboard/__tests__/YearlyBalanceGraph.test.tsx
  apps/frontend/src/lib/api/aggregation.ts
Due: unit

feat(frontend): FR-024 年間収支グラフをページに統合
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/YearlyBalanceGraph.tsx
  apps/frontend/src/components/dashboard/__tests__/YearlyBalanceGraph.test.tsx
  apps/frontend/src/lib/api/aggregation.ts
  scripts/github/issues/issue-data/fr-024-e2e-test-yearly-graph.json
  scripts/github/issues/issue-data/fr-024-integrate-yearly-graph.json
Due: unit

refactor(frontend): Geminiレビュー対応 - データ取得ロジックの重複解消とComposedChartの修正
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/YearlyBalanceGraph.tsx
  apps/frontend/src/components/dashboard/__tests__/YearlyBalanceGraph.test.tsx
Due: unit

docs: Geminiレビューから学んだ観点をルールファイルに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

refactor(frontend): Geminiレビュー対応 - マジックナンバー定数化、パース処理厳格化、UI一貫性向上
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/YearlyBalanceGraph.tsx
Due: unit

docs: Geminiレビューから学んだ観点をルールファイルに追加（第2回）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

test(frontend): テストカバレッジ80%以上を満たすためのテスト追加
  apps/frontend/src/app/dashboard/__tests__/page.test.tsx
  apps/frontend/src/components/dashboard/__tests__/YearlyBalanceGraph.test.tsx
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
Due: unit

docs: カバレッジレポートを更新
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
Due: none

[FEATURE] FR-024: 年間収支グラフをページに統合 (#376)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/src/app/dashboard/__tests__/page.test.tsx
  apps/frontend/src/app/dashboard/page.tsx
  apps/frontend/src/components/dashboard/YearlyBalanceGraph.tsx
  apps/frontend/src/lib/api/__tests__/aggregation.test.ts
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  scripts/github/issues/issue-data/fr-024-e2e-test-yearly-graph.json
  scripts/github/issues/issue-data/fr-024-integrate-yearly-graph.json
Due: unit

feat(frontend): FR-024 年間収支グラフのE2Eテスト追加
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

test(frontend): Gemini指摘対応 - データが空の場合のテストを修正
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

test(frontend): Gemini指摘対応 - 無効な年のテストを削除
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

test(frontend): Gemini指摘対応 - ヘルパー関数を追加してコード重複を削減
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

test(frontend): Gemini指摘対応 - 凡例のアサーション強化とセレクタ範囲の限定
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

docs: Geminiレビューから学んだ観点を追加（PR #378）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

test(frontend): Gemini指摘対応 - マジックストリングを定数化、ヘルパー関数の利用、optionのvalue属性を直接取得
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

docs: Geminiレビューから学んだ観点を追加（PR #378 - 第2回）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

test(frontend): strict mode violationを修正 - グラフセクション内に限定して凡例を検索
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

test(frontend): Rechartsの凡例検証を修正 - recharts-legend-item-textクラスを使用
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

feat(frontend): FR-024 年間収支グラフのE2Eテスト追加 (#378)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/yearly-balance-graph.spec.ts
Due: none

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
