Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

docs: .env.exampleファイルを追加（再作成）
  apps/backend/.env.example
Due: none

fix: BankSelectorにエラーログを追加
  apps/frontend/src/components/forms/BankSelector.tsx
Due: unit

fix: APIクライアントとBankSelectorのエラーハンドリングを改善
  apps/frontend/src/components/forms/BankSelector.tsx
  apps/frontend/src/lib/api/client.ts
Due: unit

fix: エラーログの詳細情報を改善
  apps/frontend/src/components/forms/BankSelector.tsx
  apps/frontend/src/lib/api/client.ts
Due: unit

fix: fetchエラーの詳細ログを改善
  apps/frontend/src/lib/api/client.ts
Due: unit

fix: InstitutionAggregationServiceでBankApiAdapterFactoryを使用
  apps/backend/src/modules/health/application/services/institution-aggregation.service.ts
Due: unit, e2e-backend

fix: 接続テスト結果にsuccessフィールドを含める
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.ts
Due: unit, e2e-backend

Create .managed.vaml
  .cursor/rules/.managed.vaml
Due: none

Create .managed.vaml (#456)
  .cursor/rules/.managed.vaml
Due: none

Rename .managed.vaml to .managed.yaml
  .cursor/rules/.managed.yaml
Due: none

chore: Update .cursorrules from RepoAdmin
  .cursor/rules/00-workflow-checklist.d/01-overview.md
  .cursor/rules/01-project.d/02-01-data-access.md
  .cursor/rules/01-project.d/02-02-architecture.md
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  .cursor/rules/02-task-start.md
  .cursor/rules/04-github-integration.d/04-github-actions.md
  .cursor/rules/04-github-integration.d/04-github-integration.md
  .cursor/rules/04-github-integration.d/05-jira-integration.md
  .cursor/rules/05-jira-integration.md
Due: none

chore: Update scripts from RepoAdmin
  scripts/github/config.sh
  scripts/github/issues/create-issue-graphql.sh
  scripts/github/issues/create-issue.sh
  scripts/github/pr-linking/link-pr-to-issues.sh
  scripts/github/projects/set-issue-done.sh
  scripts/github/projects/set-issue-in-progress.sh
  scripts/github/projects/update-issue-status.sh
  scripts/github/test_script.sh
  scripts/github/workflow/start-task.sh
Due: none

chore: Update scripts from RepoAdmin
  scripts/jira/common.sh
  scripts/jira/config.local.sh.example
  scripts/jira/config.sh
  scripts/jira/issues/create-issue.sh
  scripts/jira/issues/delete-issue.sh
  scripts/jira/issues/get-issue-types.sh
  scripts/jira/issues/get-issue.sh
  scripts/jira/projects/get-project-info.sh
  scripts/jira/projects/get-transitions.sh
  scripts/jira/projects/set-issue-done.sh
  scripts/jira/projects/set-issue-in-progress.sh
  scripts/jira/projects/transition-issue.sh
  scripts/jira/workflow/start-task.sh
Due: none

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
