Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

fix: SyncInterval.toMinutes()をpublicに変更
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.spec.ts
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.ts
Due: unit, e2e-backend

test: SyncInterval Value Objectのテストを修正
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.spec.ts
Due: none

test: PR #388で追加されたファイルのテストを実装
  =
  apps/backend/src/modules/sync/application/jobs/scheduled-sync.job.spec.ts
  apps/backend/src/modules/sync/domain/entities/institution-sync-settings.entity.spec.ts
  apps/backend/src/modules/sync/domain/entities/sync-settings.entity.spec.ts
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.spec.ts
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.ts
  apps/backend/src/modules/sync/infrastructure/repositories/json-sync-settings.repository.spec.ts
  apps/backend/src/modules/sync/presentation/controllers/sync-settings.controller.spec.ts
  nightModeEnd
Due: unit, e2e-backend

fix: ビルドエラーを修正
  apps/backend/package.json
  apps/backend/src/modules/sync/application/jobs/scheduled-sync.job.ts
  apps/backend/src/modules/sync/presentation/controllers/sync-settings.controller.spec.ts
  apps/backend/src/modules/sync/presentation/controllers/sync-settings.controller.ts
  apps/backend/src/modules/sync/presentation/dto/sync-settings.dto.ts
  pnpm-lock.yaml
Due: unit, e2e-backend

fix: Geminiレビュー指摘を修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/sync/application/jobs/scheduled-sync.job.spec.ts
  apps/backend/src/modules/sync/application/jobs/scheduled-sync.job.ts
  apps/backend/src/modules/sync/application/services/scheduler.service.interface.ts
  apps/backend/src/modules/sync/application/use-cases/update-institution-sync-settings.use-case.ts
  apps/backend/src/modules/sync/application/use-cases/update-sync-settings.use-case.ts
  apps/backend/src/modules/sync/domain/entities/institution-sync-settings.entity.ts
  apps/backend/src/modules/sync/infrastructure/repositories/json-sync-settings.repository.ts
  apps/backend/src/modules/sync/presentation/controllers/sync-settings.controller.ts
Due: unit, e2e-backend

feat: FR-030 データ同期間隔の設定機能を実装 (#388)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  =
  apps/backend/package.json
  apps/backend/src/modules/sync/application/jobs/scheduled-sync.job.spec.ts
  apps/backend/src/modules/sync/application/jobs/scheduled-sync.job.ts
  apps/backend/src/modules/sync/application/services/scheduler.service.interface.ts
  apps/backend/src/modules/sync/application/use-cases/get-all-institution-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/get-all-institution-sync-settings.use-case.ts
  apps/backend/src/modules/sync/application/use-cases/get-institution-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/get-institution-sync-settings.use-case.ts
  apps/backend/src/modules/sync/application/use-cases/get-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/get-sync-settings.use-case.ts
  apps/backend/src/modules/sync/application/use-cases/update-institution-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/update-institution-sync-settings.use-case.ts
  apps/backend/src/modules/sync/application/use-cases/update-sync-settings.use-case.spec.ts
  apps/backend/src/modules/sync/application/use-cases/update-sync-settings.use-case.ts
  apps/backend/src/modules/sync/domain/entities/institution-sync-settings.entity.spec.ts
  apps/backend/src/modules/sync/domain/entities/institution-sync-settings.entity.ts
  apps/backend/src/modules/sync/domain/entities/sync-settings.entity.spec.ts
  apps/backend/src/modules/sync/domain/entities/sync-settings.entity.ts
  apps/backend/src/modules/sync/domain/enums/institution-sync-status.enum.ts
  apps/backend/src/modules/sync/domain/enums/sync-interval-type.enum.ts
  apps/backend/src/modules/sync/domain/enums/time-unit.enum.ts
  apps/backend/src/modules/sync/domain/repositories/sync-settings.repository.interface.ts
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.spec.ts
  apps/backend/src/modules/sync/domain/value-objects/sync-interval.vo.ts
  apps/backend/src/modules/sync/infrastructure/repositories/json-sync-settings.repository.spec.ts
  apps/backend/src/modules/sync/infrastructure/repositories/json-sync-settings.repository.ts
  apps/backend/src/modules/sync/presentation/controllers/sync-settings.controller.spec.ts
  apps/backend/src/modules/sync/presentation/controllers/sync-settings.controller.ts
  apps/backend/src/modules/sync/presentation/dto/sync-settings.dto.ts
  apps/backend/src/modules/sync/sync.module.ts
  apps/backend/src/modules/sync/sync.tokens.ts
  nightModeEnd
  pnpm-lock.yaml
Due: unit, e2e-backend

feat(frontend): FR-030 データ同期間隔設定機能のフロントエンド実装
  apps/frontend/src/app/sync-settings/page.tsx
  apps/frontend/src/components/sync-settings/GlobalSettingsTab.tsx
  apps/frontend/src/components/sync-settings/InstitutionSettingsTab.tsx
  apps/frontend/src/lib/api/sync-settings.ts
  libs/types/src/index.ts
  libs/types/src/sync-settings.types.ts
Due: unit

test(frontend): FR-030 同期設定機能のテスト実装
  apps/frontend/src/components/sync-settings/__tests__/GlobalSettingsTab.test.tsx
  apps/frontend/src/components/sync-settings/__tests__/InstitutionSettingsTab.test.tsx
  apps/frontend/src/lib/api/__tests__/sync-settings.test.ts
Due: unit

refactor(frontend): Gemini指摘対応 - GlobalSettingsTabの未使用state変数を削除
  apps/frontend/src/components/sync-settings/GlobalSettingsTab.tsx
Due: unit

feat(frontend): Gemini指摘対応 - InstitutionSettingsTabに保存中ボタン無効化処理を追加
  apps/frontend/src/components/sync-settings/InstitutionSettingsTab.tsx
Due: unit

perf(frontend): Gemini指摘対応 - InstitutionSettingsTabの保存後処理を最適化
  apps/frontend/src/components/sync-settings/InstitutionSettingsTab.tsx
Due: unit

perf(frontend): Gemini指摘対応 - getInstitutionName関数をuseMemoで最適化
  apps/frontend/src/components/sync-settings/InstitutionSettingsTab.tsx
Due: unit

docs: Gemini PR#389レビューから学んだ観点を追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

feat(frontend): FR-030 データ同期間隔設定機能の実装 (#389)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/src/app/sync-settings/page.tsx
  apps/frontend/src/components/sync-settings/GlobalSettingsTab.tsx
  apps/frontend/src/components/sync-settings/InstitutionSettingsTab.tsx
  apps/frontend/src/components/sync-settings/__tests__/GlobalSettingsTab.test.tsx
  apps/frontend/src/components/sync-settings/__tests__/InstitutionSettingsTab.test.tsx
  apps/frontend/src/lib/api/__tests__/sync-settings.test.ts
  apps/frontend/src/lib/api/sync-settings.ts
  libs/types/src/index.ts
  libs/types/src/sync-settings.types.ts
Due: unit

feat: データエクスポート機能の実装 (FR-031)
  apps/backend/src/modules/transaction/application/services/export.service.ts
  apps/backend/src/modules/transaction/application/use-cases/export-transactions.use-case.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/transactions.ts
Due: unit, e2e-backend

test: ExportTransactionsUseCaseのモックをテストに追加
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.spec.ts
Due: none

test: データエクスポート機能のテストを実装
  apps/backend/src/modules/transaction/application/services/export.service.spec.ts
  apps/backend/src/modules/transaction/application/services/export.service.ts
  apps/backend/src/modules/transaction/application/use-cases/export-transactions.use-case.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.spec.ts
  apps/frontend/e2e/transaction-export.spec.ts
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
Due: unit, e2e-backend

fix: ExportServiceの型エラーを修正
  apps/backend/src/modules/transaction/application/services/export.service.ts
Due: unit, e2e-backend

test: ExportServiceのテストをTransactionEntityの型定義に合わせて修正
  apps/backend/src/modules/transaction/application/services/export.service.spec.ts
Due: none

fix: E2Eテストのファイル名検証を修正
  apps/frontend/e2e/transaction-export.spec.ts
  apps/frontend/src/lib/api/client.ts
Due: unit

docs: E2Eテストのファイルダウンロード検証に関する観点をルールに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

fix: Geminiレビュー指摘事項の修正
  apps/backend/src/modules/transaction/application/services/export.service.ts
  apps/backend/src/modules/transaction/application/use-cases/export-transactions.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/export-transactions.use-case.ts
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/transactions.ts
Due: unit, e2e-backend

docs: Geminiレビュー指摘事項の観点をルールに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

fix: Geminiレビュー第2回指摘事項の修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/application/services/export.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/frontend/e2e/transaction-export.spec.ts
Due: unit, e2e-backend

feat: FR-031 データエクスポート機能の実装 (#390)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/application/services/export.service.spec.ts
  apps/backend/src/modules/transaction/application/services/export.service.ts
  apps/backend/src/modules/transaction/application/use-cases/export-transactions.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/export-transactions.use-case.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/e2e/transaction-export.spec.ts
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/transactions.ts
Due: unit, e2e-backend

feat(frontend): 取引履歴一覧画面にフィルタリング・ソート機能を追加
  apps/frontend/src/app/transactions/page.tsx
Due: unit

test(frontend): 取引履歴一覧画面のテストを追加
  apps/frontend/src/app/transactions/__tests__/page.test.tsx
  scripts/github/issues/issue-data/transaction-list-pagination.json
Due: unit

fix(frontend): Geminiレビュー指摘に対応
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/src/app/transactions/__tests__/page.test.tsx
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/utils/export.utils.ts
Due: unit

fix: E2Eテストの失敗を解消（dateフィールドのDateオブジェクト変換）
  apps/frontend/debug-export-buttons.png
  apps/frontend/e2e/global-setup.ts
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/e2e/transaction-export.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/utils/export.utils.ts
  scripts/github/issues/issue-data/status-change-failure.yml
  scripts/test/test-e2e.sh
Due: unit

fix(e2e): E2Eテストのタイムアウトとエラーハンドリングを改善
  apps/frontend/e2e/transaction-category-edit.spec.ts
Due: none

fix(e2e): PlaywrightのwebServer設定を修正
  apps/frontend/playwright.config.ts
Due: none

fix(e2e): response.method()をresponse.request().method()に修正
  apps/frontend/e2e/transaction-category-edit.spec.ts
Due: none

fix(e2e): APIリクエスト失敗時のエラーハンドリングを改善
  apps/frontend/e2e/transaction-category-edit.spec.ts
Due: none

fix(e2e): 未使用の変数を削除
  apps/frontend/e2e/transaction-category-edit.spec.ts
Due: none

fix(e2e): APIレスポンスの検証を改善
  apps/frontend/e2e/transaction-category-edit.spec.ts
Due: none

debug: PATCHリクエストのデバッグログを追加
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/frontend/src/lib/api/client.ts
Due: unit, e2e-backend

fix: E2Eテストのタイムアウト問題を修正
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/src/components/transactions/TransactionList.tsx
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/transactions.ts
Due: unit, e2e-backend

feat(frontend): 取引履歴一覧画面にフィルタリング・ソート機能を追加 (Issue #108) (#392)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/frontend/debug-export-buttons.png
  apps/frontend/e2e/global-setup.ts
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/e2e/transaction-export.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/app/transactions/__tests__/page.test.tsx
  apps/frontend/src/app/transactions/page.tsx
  apps/frontend/src/components/transactions/TransactionList.tsx
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/transactions.ts
  apps/frontend/src/utils/export.utils.ts
  scripts/github/issues/issue-data/status-change-failure.yml
  scripts/github/issues/issue-data/transaction-list-pagination.json
  scripts/test/test-e2e.sh
Due: unit, e2e-backend

feat: 取引詳細画面の実装 (Issue #109)
  apps/backend/src/modules/transaction/application/use-cases/get-transaction-by-id.use-case.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/src/app/transactions/[id]/page.tsx
  apps/frontend/src/components/transactions/TransactionList.tsx
  apps/frontend/src/lib/api/transactions.ts
Due: unit, e2e-backend
