Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

feat: 接続テストエラーハンドリングの堅牢性向上
  apps/backend/src/common/errors/http-error.interface.ts
  apps/backend/src/modules/health/infrastructure/services/connection-checker.service.ts
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
Due: unit, e2e-backend

refactor: Geminiレビュー指摘対応 - 型ガードとエラーメッセージの改善
  apps/backend/src/common/errors/http-error.interface.ts
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
Due: unit, e2e-backend

docs: Geminiレビュー観点をコーディング規約に取り込み
  .cursor/rules/02-code-standards.md
Due: none

[改善] 接続テストエラーハンドリングの堅牢性向上 (#237)
  .cursor/rules/02-code-standards.md
  .cursorrules
  apps/backend/src/common/errors/http-error.interface.ts
  apps/backend/src/modules/health/infrastructure/services/connection-checker.service.ts
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
Due: unit, e2e-backend

fix(frontend): resolve ESLint warnings for Frontend
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
  apps/frontend/src/components/forms/__tests__/BankCredentialsForm.test.tsx
  apps/frontend/src/lib/api/client.ts
Due: unit

fix(frontend): resolve closure bug in error retry handler
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
Due: unit

docs(rules): add React closure and useCallback best practices
  .cursor/rules/02-code-standards.md
Due: none

fix(frontend): resolve ESLint warnings for Frontend #226 (#238)
  .cursor/rules/02-code-standards.md
  apps/frontend/src/components/forms/BankCredentialsForm.tsx
  apps/frontend/src/components/forms/__tests__/BankCredentialsForm.test.tsx
  apps/frontend/src/lib/api/client.ts
Due: unit

docs: Issue作成方法のルール明確化とgh issue create禁止
  .cursor/rules/03-git-workflow.md
  .cursor/rules/04-github-integration.md
  .cursorrules
  docs/troubleshooting/issue-239-investigation.md
Due: none

docs: スクリプトパス表記を統一
  docs/troubleshooting/issue-239-investigation.md
Due: none

docs: Issue作成方法のルール明確化とgh issue create禁止 #239 (#245)
  .cursor/rules/03-git-workflow.md
  .cursor/rules/04-github-integration.md
  .cursorrules
  docs/troubleshooting/issue-239-investigation.md
Due: none

fix: E2Eテスト実行時にMySQL自動起動を実装 (#240)
  README.md
  scripts/test/test-e2e.sh
Due: none

refactor: Geminiレビュー指摘対応 - docker filterとREADME改善
  README.md
  scripts/test/test-e2e.sh
Due: none

fix: Dockerフィルター構文を互換性の高い方法に修正
  scripts/test/test-e2e.sh
Due: none

fix: Backend E2Eテスト用のMySQLテストユーザーとDB設定を追加
  apps/backend/src/config/database.config.ts
  docker/mysql/init/01-init.sql
Due: unit, e2e-backend

docs: テストスクリプトの引数とE2Eテストの記載を修正
  scripts/README.md
Due: none

docs: テストセクションの記載を簡潔化・整理
  scripts/README.md
Due: none

[fix] E2Eテスト実行時にMySQL自動起動を実装 (#240) (#246)
  README.md
  apps/backend/src/config/database.config.ts
  docker/mysql/init/01-init.sql
  scripts/README.md
  scripts/test/test-e2e.sh
Due: unit, e2e-backend

feat: GraphQL Issue作成スクリプトの実装
  .cursor/rules/04-github-integration.md
  scripts/github/issues/create-issue-graphql.README.md
  scripts/github/issues/create-issue-graphql.sh
  scripts/github/issues/templates/bug-template.md
  scripts/github/issues/templates/enhancement-template.md
  scripts/github/issues/templates/feature-template.md
Due: none

refactor: Geminiレビュー指摘事項の対応
  scripts/github/issues/create-issue-graphql.sh
Due: none

[enhancement] Issue登録スクリプトの作成（GraphQL API使用） (#247)
  .cursor/rules/04-github-integration.md
  scripts/github/issues/create-issue-graphql.README.md
  scripts/github/issues/create-issue-graphql.sh
  scripts/github/issues/templates/bug-template.md
  scripts/github/issues/templates/enhancement-template.md
  scripts/github/issues/templates/feature-template.md
Due: none

fix: ステータスオプション取得のGraphQLクエリ修正
  scripts/github/issues/create-issue-graphql.sh
Due: none

docs: POST /api/institutions エンドポイントの仕様を明確化
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
Due: none

docs: credentials構造の具体例を追加
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
Due: none

[docs] POST /api/institutions エンドポイントの仕様を明確化 (#249)
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
Due: none

refactor: E2Eテストのセットアップロジックを共通化
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/health.e2e-spec.ts
  apps/backend/test/helpers/test-setup.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/securities.e2e-spec.ts
Due: none

fix: validationPipeOptionsのnullチェックを追加
  apps/backend/test/helpers/test-setup.ts
Due: none

[refactor] E2Eテストのセットアップロジックを共通化 (#250)
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/health.e2e-spec.ts
  apps/backend/test/helpers/test-setup.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/securities.e2e-spec.ts
Due: none

fix: Backend E2Eテストの警告を解消 (#225)
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/health.e2e-spec.ts
  apps/backend/test/helpers/database-helper.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/jest-e2e.json
  turbo.json
Due: none

refactor: forceExitを削除してJest推奨設定に変更
  apps/backend/test/jest-e2e.json
Due: none

feat: E2Eテストにシャットダウンフックを追加
  apps/backend/test/helpers/test-setup.ts
Due: none

docs: Jest forceExitの使用禁止を観点に追加
  .cursor/rules/02-code-standards.md
Due: none

fix: Backend E2Eテストの警告を解消 (#225) (#251)
  .cursor/rules/02-code-standards.md
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/health.e2e-spec.ts
  apps/backend/test/helpers/database-helper.ts
  apps/backend/test/helpers/test-setup.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/jest-e2e.json
  turbo.json
Due: none

docs: データベーススキーマ設計書を作成
  docs/database-schema.md
Due: none

docs: transactionsテーブルの自己参照外部キー制約の欠落を明記
  docs/database-schema.md
Due: none

[TASK] F-2: データベーススキーマ設計 (#123) (#252)
  docs/database-schema.md
Due: none

feat: マイグレーション管理の整備
  apps/backend/src/migrations/1732248000000-AddRelatedTransactionForeignKey.ts
  apps/backend/src/migrations/README.md
Due: unit, e2e-backend

docs: マイグレーション管理READMEを改善
  apps/backend/src/migrations/README.md
Due: unit, e2e-backend

[TASK] F-3: マイグレーションスクリプト作成 (#124) (#253)
  apps/backend/src/migrations/1732248000000-AddRelatedTransactionForeignKey.ts
  apps/backend/src/migrations/README.md
Due: unit, e2e-backend

feat: FR-008 カテゴリ自動分類機能を実装
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/classify-transaction.use-case.ts
  apps/backend/src/modules/transaction/domain/services/category-classification.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/category-classification.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/transaction.controller.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/e2e/classification.spec.ts
  apps/frontend/src/app/classification/page.tsx
  apps/frontend/src/components/CategoryClassifier.tsx
  apps/frontend/src/lib/api/classification.ts
Due: unit, e2e-backend
