Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

docs(rules): Geminiレビューから学んだ観点を追加（PR #356 第2回）
  .cursor/rules/02-code-standards.md
Due: none

refactor(institution): UseCaseレイヤーでの抽象化の維持
  apps/backend/src/modules/institution/application/use-cases/delete-institution.use-case.ts
  apps/backend/src/modules/institution/domain/repositories/institution.repository.interface.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/institution/presentation/dto/delete-institution.dto.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction.repository.interface.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction.repository.ts
Due: unit, e2e-backend

fix(institution): EntityManagerのインポートを追加
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
Due: unit, e2e-backend

docs(rules): Geminiレビューから学んだ観点を追加（PR #356 第3回）
  .cursor/rules/02-code-standards.md
Due: none

test: DeleteInstitutionDtoのテストカバレッジを100%に向上
  apps/backend/src/modules/institution/application/use-cases/delete-institution.use-case.spec.ts
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.spec.ts
  apps/backend/src/modules/institution/presentation/dto/delete-institution.dto.spec.ts
Due: none

feat(institution): 金融機関削除機能の実装 (#356)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/institution/application/use-cases/delete-institution.use-case.spec.ts
  apps/backend/src/modules/institution/application/use-cases/delete-institution.use-case.ts
  apps/backend/src/modules/institution/domain/repositories/institution.repository.interface.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.spec.ts
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.ts
  apps/backend/src/modules/institution/presentation/dto/delete-institution.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/delete-institution.dto.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction.repository.interface.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction.repository.ts
  apps/frontend/src/components/institutions/DeleteConfirmModal.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/institutions.ts
Due: unit, e2e-backend

feat(frontend): 金融機関設定画面の同期エラーハンドリングUI実装
  apps/frontend/src/components/institutions/InstitutionCard.tsx
Due: unit

fix(frontend): 同期失敗時にも状態更新を実行
  .cursor/rules/02-code-standards.md
  apps/frontend/src/components/institutions/InstitutionCard.tsx
Due: unit

test(frontend): 同期失敗時にもonUpdateが呼ばれることをテスト
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
Due: unit

feat(frontend): Issue #353 - 削除確認モーダルにラジオボタンUIを実装
  apps/frontend/src/components/institutions/DeleteConfirmModal.tsx
  apps/frontend/src/components/institutions/__tests__/DeleteConfirmModal.test.tsx
Due: unit

test(frontend): Gemini指摘対応 - ラジオボタンのテストケースを統合
  apps/frontend/src/components/institutions/__tests__/DeleteConfirmModal.test.tsx
Due: unit

docs: テストケース統合のベストプラクティスをルールに追加
  .cursor/rules/02-code-standards.md
Due: none

feat(institution): 金融機関登録機能の改善
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/frontend/src/app/banks/add/page.tsx
Due: unit, e2e-backend

fix(e2e): 銀行タイプの金融機関作成時のcredentials形式を修正
  apps/frontend/e2e/helpers/test-data.ts
Due: none

fix(institution): Geminiレビュー指摘対応とBackend e2eエラー修正
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/frontend/src/app/banks/add/page.tsx
Due: unit, e2e-backend

refactor(institution): Geminiレビュー指摘対応（第2弾）
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/frontend/src/app/banks/add/page.tsx
  scripts/github/issues/issue-data/status-change-failure.yml
Due: unit, e2e-backend

feat(institution): 金融機関登録機能の改善 (#359)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.ts
  apps/frontend/e2e/helpers/test-data.ts
  apps/frontend/src/app/banks/add/page.tsx
  scripts/github/issues/issue-data/status-change-failure.yml
Due: unit, e2e-backend

docs: FR-020詳細設計書を作成
  docs/detailed-design/FR-020_yearly-balance-aggregation/README.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/batch-processing.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/screen-transitions.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/sequence-diagrams.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/state-transitions.md
Due: none

docs: FR-020詳細設計書から不要なテンプレートファイルを削除
  docs/detailed-design/FR-020_yearly-balance-aggregation/batch-processing.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/screen-transitions.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/state-transitions.md
Due: none

docs: Geminiレビュー指摘事項に対応
  docs/detailed-design/FR-020_yearly-balance-aggregation/README.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/sequence-diagrams.md
Due: none

docs: 詳細設計ガイドラインにエラーレスポンス形式の標準化を追加
  docs/development/detailed-design-guideline.md
Due: none

docs: FR-016設計書のエラーレスポンス形式を標準形式に修正
  docs/detailed-design/FR-016_monthly-balance-aggregation/README.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
Due: none

docs: FR-016シーケンス図のエラーレスポンス形式を標準形式に修正
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
Due: none

docs: Geminiレビュー指摘事項に対応（第2弾）
  docs/detailed-design/FR-020_yearly-balance-aggregation/README.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/sequence-diagrams.md
Due: none

docs: クラス図のMonthlyBalanceResponseDtoをMonthlyBalanceSummaryDtoに修正（完全版）
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
Due: none

docs: クラス図のPresentation層のMonthlyBalanceResponseDtoをMonthlyBalanceSummaryDtoに修正
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
Due: none

docs: クラス図のPresentation層のMonthlyBalanceResponseDtoをMonthlyBalanceSummaryDtoに修正（最終版）
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
Due: none

docs: Geminiレビュー指摘事項に対応（第3弾）
  docs/detailed-design/FR-020_yearly-balance-aggregation/README.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
Due: none

docs: sequence-diagrams.mdと詳細設計ガイドラインの修正を完了
  docs/development/detailed-design-guideline.md
Due: none

docs: sequence-diagrams.mdのMonthlyBalanceResponseDtoをすべてMonthlyBalanceSummaryDtoに修正
  docs/detailed-design/FR-020_yearly-balance-aggregation/sequence-diagrams.md
Due: none

docs: Geminiレビュー指摘事項に対応（第4弾）
  docs/detailed-design/FR-020_yearly-balance-aggregation/README.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/input-output-design.md
  docs/development/detailed-design-guideline.md
Due: none

docs: input-output-design.mdのTrendAnalysisをTrendAnalysisDtoに修正
  docs/detailed-design/FR-020_yearly-balance-aggregation/input-output-design.md
Due: none

docs: FR-020年間収支推移表示機能の詳細設計書を作成 (#360)
  docs/detailed-design/FR-016_monthly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-016_monthly-balance-aggregation/sequence-diagrams.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/README.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/class-diagrams.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/input-output-design.md
  docs/detailed-design/FR-020_yearly-balance-aggregation/sequence-diagrams.md
  docs/development/detailed-design-guideline.md
Due: none

feat: FR-020 年間収支推移表示機能の実装
  apps/backend/src/modules/transaction/application/use-cases/calculate-yearly-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/yearly-balance-domain.service.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-yearly-balance.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
Due: unit, e2e-backend

fix: E2EテストのESLintエラーを修正
  apps/backend/src/modules/transaction/application/use-cases/calculate-yearly-balance.use-case.spec.ts
  apps/backend/src/modules/transaction/domain/services/yearly-balance-domain.service.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/frontend/e2e/yearly-balance.spec.ts
Due: none

fix: Geminiレビュー指摘事項に対応（PR#361）
  apps/backend/src/modules/transaction/application/use-cases/calculate-yearly-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/yearly-balance-domain.service.ts
  apps/frontend/e2e/yearly-balance.spec.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

fix: E2EテストのAPI URL構築方法を修正
  apps/frontend/e2e/yearly-balance.spec.ts
Due: none

fix: E2EテストのAPI URL構築方法を修正（完全なURLを指定）
  apps/frontend/e2e/yearly-balance.spec.ts
Due: none

fix: AggregationControllerのパスからapiプレフィックスを削除
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
Due: unit, e2e-backend

fix: Geminiレビュー指摘事項の修正
  apps/backend/src/modules/transaction/application/use-cases/calculate-yearly-balance.use-case.ts
  apps/backend/src/modules/transaction/domain/services/yearly-balance-domain.service.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend
