Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

feat: APIエンドポイント統合テストを追加
  apps/backend/src/modules/aggregation/presentation/dto/aggregate-card-transactions.dto.ts
  apps/backend/src/modules/credit-card/infrastructure/entities/credit-card.orm-entity.ts
  apps/backend/test/aggregation.e2e-spec.ts
  apps/backend/test/credit-card.e2e-spec.ts
  apps/backend/test/payment-status.e2e-spec.ts
  apps/backend/test/reconciliation.e2e-spec.ts
  apps/backend/test/sync-settings.e2e-spec.ts
  apps/backend/test/sync.e2e-spec.ts
  apps/backend/test/transaction.e2e-spec.ts
Due: unit, e2e-backend

fix: E2Eテストのパス修正とMockCreditCardAPIAdapterの修正
  apps/backend/src/modules/credit-card/infrastructure/adapters/mock-credit-card-api.adapter.ts
  apps/backend/test/aggregation.e2e-spec.ts
  apps/backend/test/transaction.e2e-spec.ts
Due: unit, e2e-backend

fix: category-management.spec.tsのテスト間の状態クリーンアップを追加
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix: credit_cardsテーブルのIDカラム長を39文字に変更するマイグレーションを追加
  apps/backend/src/migrations/17345000000000-UpdateCreditCardIdLength.ts
  apps/backend/src/modules/aggregation/presentation/dto/aggregate-card-transactions.dto.ts
  apps/backend/src/modules/credit-card/infrastructure/adapters/mock-credit-card-api.adapter.ts
  apps/frontend/e2e/category-management.spec.ts
Due: unit, e2e-backend

fix: マイグレーションファイルのクラス名を修正
  apps/backend/src/migrations/17345000000000-UpdateCreditCardIdLength.ts
Due: unit, e2e-backend

fix: aggregation.e2e-spec.tsのテストを修正
  apps/backend/src/migrations/1734500000000-UpdateCreditCardIdLength.ts
  apps/backend/test/aggregation.e2e-spec.ts
Due: unit, e2e-backend

fix: category-management.spec.tsのbeforeEachを最適化
  apps/frontend/e2e/category-management.spec.ts
Due: none

feat: APIエンドポイント統合テストを追加 (Issue #98) (#415)
  apps/backend/src/migrations/1734500000000-UpdateCreditCardIdLength.ts
  apps/backend/src/migrations/17345000000000-UpdateCreditCardIdLength.ts
  apps/backend/src/modules/credit-card/infrastructure/entities/credit-card.orm-entity.ts
  apps/backend/test/aggregation.e2e-spec.ts
  apps/backend/test/credit-card.e2e-spec.ts
  apps/backend/test/payment-status.e2e-spec.ts
  apps/backend/test/reconciliation.e2e-spec.ts
  apps/backend/test/sync-settings.e2e-spec.ts
  apps/backend/test/sync.e2e-spec.ts
  apps/backend/test/transaction.e2e-spec.ts
  apps/frontend/e2e/category-management.spec.ts
Due: unit, e2e-backend

test: ユニットテストカバレッジを改善
  apps/backend/src/modules/health/infrastructure/repositories/connection-history.repository.spec.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.spec.ts
Due: none

test: bank-connection-exception.filterのユニットテストを追加
  apps/backend/src/modules/institution/presentation/filters/bank-connection-exception.filter.spec.ts
Due: none

test: ユニットテストカバレッジを改善（続き）
  apps/backend/src/modules/category/presentation/controllers/category.controller.spec.ts
  apps/backend/src/modules/event/presentation/controllers/event.controller.spec.ts
  apps/backend/src/modules/health/infrastructure/services/connection-checker.service.spec.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/get-institutions.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/get-supported-banks.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/update-institution.dto.spec.ts
Due: none

test: Geminiレビュー指摘に対応
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/health/infrastructure/repositories/connection-history.repository.spec.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.spec.ts
Due: none

test: ユニットテストカバレッジを改善 (#417)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/category/presentation/controllers/category.controller.spec.ts
  apps/backend/src/modules/event/presentation/controllers/event.controller.spec.ts
  apps/backend/src/modules/health/infrastructure/repositories/connection-history.repository.spec.ts
  apps/backend/src/modules/health/infrastructure/services/connection-checker.service.spec.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.spec.ts
  apps/backend/src/modules/institution/presentation/dto/create-institution.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/get-institutions.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/get-supported-banks.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/test-bank-connection.dto.spec.ts
  apps/backend/src/modules/institution/presentation/dto/update-institution.dto.spec.ts
  apps/backend/src/modules/institution/presentation/filters/bank-connection-exception.filter.spec.ts
Due: none

fix: page.reload()を削除してE2Eテストのタイムアウト問題を修正 (Issue #414)
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix: 入力フィールドの値読み込み待機のタイムアウトを延長 (Issue #414)
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix: ローカル環境でもworkers: 1に設定して並列実行を無効化 (Issue #414)
  apps/frontend/playwright.config.ts
Due: none

fix: CategoryFormが表示されるまで待機してデータ読み込みを確実にする (Issue #414)
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix: Geminiレビュー対応 - page.reload()のみで状態をリセット (Issue #414)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/category-management.spec.ts
Due: none

fix: category-management.spec.tsのテスト間の状態クリーンアップを追加 (Issue #414) (#416)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/playwright.config.ts
Due: none

feat(test): Repository統合テストの実装
  apps/backend/test/repository-integration/category-typeorm.repository.integration.e2e-spec.ts
  apps/backend/test/repository-integration/transaction-typeorm.repository.integration.e2e-spec.ts
Due: none

refactor(test): Geminiレビュー対応 - テストコードの改善
  apps/backend/test/repository-integration/category-typeorm.repository.integration.e2e-spec.ts
  apps/backend/test/repository-integration/transaction-typeorm.repository.integration.e2e-spec.ts
Due: none

docs(rules): Geminiレビューから学んだ観点を追加（PR #418）
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

feat(test): Repository統合テストの実装 (Issue #99) (#418)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/test/repository-integration/category-typeorm.repository.integration.e2e-spec.ts
  apps/backend/test/repository-integration/transaction-typeorm.repository.integration.e2e-spec.ts
Due: none

feat(testing): FR-001 銀行口座との連携 E2Eテスト実装
  apps/frontend/e2e/bank-integration.spec.ts
  scripts/github/issues/create-e2e-test-issues.sh
Due: none

fix(testing): Geminiレビュー指摘事項の修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/bank-integration.spec.ts
  scripts/github/issues/create-e2e-test-issues.sh
Due: none

fix(testing): E2Eテストのstrict mode violationを修正
  apps/frontend/e2e/bank-integration.spec.ts
Due: none

[testing] E2Eテスト: FR-001 銀行口座との連携 (#443)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/bank-integration.spec.ts
  scripts/github/issues/create-e2e-test-issues.sh
Due: none

test(e2e): FR-004 バックグラウンド接続確認のE2Eテスト実装
  apps/frontend/e2e/background-connection-check.spec.ts
Due: none

fix(e2e): Geminiレビュー指摘事項の修正
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/background-connection-check.spec.ts
Due: none

[testing] E2Eテスト: FR-004 アプリ起動時のバックグラウンド接続確認 (#446)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/frontend/e2e/background-connection-check.spec.ts
Due: none

feat(frontend): FR-002 クレジットカード追加画面の実装
  apps/backend/src/modules/credit-card/application/use-cases/get-supported-card-companies.use-case.ts
  apps/backend/src/modules/credit-card/application/use-cases/test-credit-card-connection.use-case.ts
  apps/backend/src/modules/credit-card/credit-card.module.ts
  apps/backend/src/modules/credit-card/infrastructure/adapters/mock-credit-card-api.adapter.ts
  apps/backend/src/modules/credit-card/infrastructure/data/card-companies.data.ts
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.spec.ts
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.ts
  apps/backend/src/modules/credit-card/presentation/dto/get-supported-card-companies.dto.ts
  apps/backend/src/modules/credit-card/presentation/dto/test-credit-card-connection.dto.ts
  apps/frontend/src/app/credit-cards/add/page.tsx
  apps/frontend/src/components/forms/CardCompanySelector.tsx
  apps/frontend/src/components/forms/ConnectionTestResult.tsx
  apps/frontend/src/components/forms/CreditCardCredentialsForm.tsx
  apps/frontend/src/lib/api/credit-cards.ts
  libs/types/src/credit-card-company.types.ts
  libs/types/src/index.ts
Due: unit, e2e-backend

fix(credit-card): Geminiレビューコメントに対応
  apps/backend/src/modules/credit-card/application/use-cases/test-credit-card-connection.use-case.ts
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.ts
  apps/frontend/src/app/credit-cards/add/page.tsx
  apps/frontend/src/components/forms/CardCompanySelector.tsx
  apps/frontend/src/components/forms/ConnectionTestResult.tsx
  apps/frontend/src/components/forms/CreditCardCredentialsForm.tsx
Due: unit, e2e-backend

docs: PR #447レビューから学んだ観点をルールに追加
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
Due: none

test(credit-card): 新規追加モジュールのテストを追加
  apps/backend/src/modules/credit-card/application/use-cases/get-supported-card-companies.use-case.spec.ts
  apps/backend/src/modules/credit-card/application/use-cases/test-credit-card-connection.use-case.spec.ts
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.spec.ts
Due: none

[FEATURE] FR-002: クレジットカード追加画面の実装 (#447)
  .cursor/rules/02-code-standards.d/04-01-gemini-learnings.md
  apps/backend/src/modules/credit-card/application/use-cases/get-supported-card-companies.use-case.spec.ts
  apps/backend/src/modules/credit-card/application/use-cases/get-supported-card-companies.use-case.ts
  apps/backend/src/modules/credit-card/application/use-cases/test-credit-card-connection.use-case.spec.ts
  apps/backend/src/modules/credit-card/application/use-cases/test-credit-card-connection.use-case.ts
  apps/backend/src/modules/credit-card/credit-card.module.ts
  apps/backend/src/modules/credit-card/infrastructure/adapters/mock-credit-card-api.adapter.ts
  apps/backend/src/modules/credit-card/infrastructure/data/card-companies.data.ts
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.spec.ts
  apps/backend/src/modules/credit-card/presentation/controllers/credit-card.controller.ts
  apps/backend/src/modules/credit-card/presentation/dto/get-supported-card-companies.dto.ts
  apps/backend/src/modules/credit-card/presentation/dto/test-credit-card-connection.dto.ts
  apps/frontend/src/app/credit-cards/add/page.tsx
  apps/frontend/src/components/forms/CardCompanySelector.tsx
  apps/frontend/src/components/forms/ConnectionTestResult.tsx
  apps/frontend/src/components/forms/CreditCardCredentialsForm.tsx
  apps/frontend/src/lib/api/credit-cards.ts
  libs/types/src/credit-card-company.types.ts
  libs/types/src/index.ts
Due: unit, e2e-backend

fix(test-e2e): E2E関連プロセスの正確な検出と停止処理を改善
  scripts/test/test-e2e.sh
Due: none

fix: E2Eテストのタイムアウトとバリデーションエラーを修正
  apps/frontend/e2e/credit-card-integration.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/components/forms/CreditCardCredentialsForm.tsx
  apps/frontend/src/lib/api/credit-cards.ts
  docker-compose.e2e.yml
  scripts/test/test-e2e.sh
Due: unit

fix: Geminiレビューコメントに対応
  apps/frontend/e2e/credit-card-integration.spec.ts
  docker-compose.e2e.yml
  scripts/test/test-e2e.sh
Due: none

fix: E2Eテストのタイムアウトとバリデーションエラーを修正 (Issue #420) (#450)
  apps/frontend/e2e/credit-card-integration.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/components/forms/CreditCardCredentialsForm.tsx
  apps/frontend/src/lib/api/credit-cards.ts
  docker-compose.e2e.yml
  scripts/test/test-e2e.sh
Due: unit

feat(testing): FR-005 接続失敗時のポップアップ通知 E2Eテスト実装
  apps/frontend/e2e/connection-failure-notification.spec.ts
Due: none
