Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

fix: Geminiレビューコメント対応（PR#348）
  apps/backend/src/modules/transaction/application/use-cases/calculate-subcategory-aggregation.use-case.ts
  apps/backend/src/modules/transaction/domain/services/subcategory-aggregation-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/subcategory-aggregation-domain.service.ts
  docs/development/detailed-design-guideline.md
Due: unit, e2e-backend

fix: E2Eテストのパス修正
  apps/backend/test/subcategory-aggregation.e2e-spec.ts
Due: none

fix: AggregationControllerのテストにCalculateSubcategoryAggregationUseCaseを追加
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
Due: none

refactor: Geminiレビューコメント対応 - パフォーマンス最適化とコード改善
  apps/backend/src/modules/transaction/application/use-cases/calculate-subcategory-aggregation.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-subcategory-aggregation.use-case.ts
  apps/backend/src/modules/transaction/domain/services/subcategory-aggregation-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/subcategory-aggregation-domain.service.ts
Due: unit, e2e-backend

docs: 詳細設計ガイドラインにGeminiレビュー観点を追加
  docs/development/detailed-design-guideline.md
Due: none

test: AggregationControllerのgetSubcategoryAggregationエンドポイントのテストを追加
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
Due: none

docs: テストカバレッジレポートを更新
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
Due: none

fix: Promise.allから不要なfindByParentId呼び出しを削除
  apps/backend/src/modules/transaction/application/use-cases/calculate-subcategory-aggregation.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-subcategory-aggregation.use-case.ts
  docs/testing/module-coverage/frontend.md
  scripts/test/generate-coverage-report.sh
Due: unit, e2e-backend

feat: FR-019 費目別集計機能の実装 (#348)
  apps/backend/src/modules/transaction/application/use-cases/calculate-subcategory-aggregation.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/calculate-subcategory-aggregation.use-case.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction.repository.interface.ts
  apps/backend/src/modules/transaction/domain/services/subcategory-aggregation-domain.service.spec.ts
  apps/backend/src/modules/transaction/domain/services/subcategory-aggregation-domain.service.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction.repository.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/transaction/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/transaction/presentation/dto/get-subcategory-aggregation.dto.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/backend/test/subcategory-aggregation.e2e-spec.ts
  docs/development/detailed-design-guideline.md
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  scripts/test/generate-coverage-report.sh
Due: unit, e2e-backend

feat(frontend): 金融機関設定画面の実装
  apps/frontend/src/app/banks/page.tsx
  apps/frontend/src/components/institutions/DeleteConfirmModal.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/InstitutionList.tsx
  apps/frontend/src/lib/api/sync.ts
Due: unit

style(backend): Prettierフォーマット修正
  apps/backend/src/common/interceptors/transform.interceptor.ts
  apps/backend/src/migrations/1732248000000-AddRelatedTransactionForeignKey.ts
  apps/backend/src/migrations/1732400000000-AddSubcategoriesAndMerchantsTables.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card.repository.ts
  apps/backend/src/modules/health/infrastructure/repositories/connection-history.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/securities-account-typeorm.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/securities.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/security-transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-category-change-history.repository.ts
  apps/backend/src/modules/transaction/presentation/dto/get-institution-summary.dto.ts
Due: unit, e2e-backend

chore(frontend): Playwrightブラウザの自動インストールを追加
  apps/frontend/package.json
Due: none

test(e2e): 既存の失敗テストをスキップ
  apps/frontend/e2e/category-management.spec.ts
Due: none

refactor(frontend): Geminiレビューコメントに対応
  apps/backend/src/common/interceptors/transform.interceptor.ts
  apps/backend/src/migrations/1732248000000-AddRelatedTransactionForeignKey.ts
  apps/backend/src/migrations/1732400000000-AddSubcategoriesAndMerchantsTables.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card.repository.ts
  apps/backend/src/modules/health/infrastructure/repositories/connection-history.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/securities-account-typeorm.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/securities.repository.ts
  apps/backend/src/modules/securities/infrastructure/repositories/security-transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-category-change-history.repository.ts
  apps/backend/src/modules/transaction/presentation/dto/get-institution-summary.dto.ts
  apps/frontend/src/components/institutions/DeleteConfirmModal.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/InstitutionList.tsx
Due: unit, e2e-backend

docs: Geminiレビュー観点をルールファイルに追加
  .cursor/rules/02-code-standards.md
Due: none

refactor(frontend): エラーハンドリングの改善とドキュメント修正
  .cursor/rules/02-code-standards.md
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/InstitutionList.tsx
Due: unit

docs: Geminiレビュー観点を追加（エラーハンドリングとテストスキップ）
  .cursor/rules/02-code-standards.md
Due: none

docs: カバレッジレポートにIssue #114の情報を追加
  docs/testing/coverage-report.md
Due: none

docs: Issue #114の未実施タスク一覧を作成
  docs/development/issue-114-pending-tasks.md
Due: none

test: Issue #114のテストコードを作成
  apps/frontend/src/app/banks/__tests__/page.test.tsx
  apps/frontend/src/components/institutions/__tests__/DeleteConfirmModal.test.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionList.test.tsx
  apps/frontend/src/lib/api/__tests__/sync.test.ts
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
Due: unit

fix: BackendのJest設定にjsonレポーターを追加
  apps/backend/package.json
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
Due: none

docs: カバレッジレポートを更新
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  scripts/test/generate-coverage-report.sh
Due: none

docs: Issue #114の新規機能カバレッジ状況を追加
  docs/testing/coverage-report.md
Due: none

fix: DeleteConfirmModalのオーバーレイにrole="presentation"を追加
  .cursor/rules/02-code-standards.md
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/src/components/institutions/DeleteConfirmModal.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/InstitutionList.tsx
  apps/frontend/src/components/institutions/__tests__/DeleteConfirmModal.test.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionList.test.tsx
  apps/frontend/src/lib/api/sync.ts
  libs/types/src/sync.types.ts
Due: unit

fix: InstitutionListテストのエラーメッセージ期待値を修正
  apps/frontend/src/components/institutions/__tests__/InstitutionList.test.tsx
Due: unit

feat(frontend): 金融機関設定画面の実装 (Issue #114) (#349)
  .cursor/rules/02-code-standards.md
  apps/backend/package.json
  apps/frontend/e2e/category-management.spec.ts
  apps/frontend/package.json
  apps/frontend/src/app/banks/__tests__/page.test.tsx
  apps/frontend/src/app/banks/page.tsx
  apps/frontend/src/components/institutions/DeleteConfirmModal.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/components/institutions/InstitutionList.tsx
  apps/frontend/src/components/institutions/__tests__/DeleteConfirmModal.test.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
  apps/frontend/src/components/institutions/__tests__/InstitutionList.test.tsx
  apps/frontend/src/lib/api/__tests__/sync.test.ts
  apps/frontend/src/lib/api/sync.ts
  docs/development/issue-114-pending-tasks.md
  docs/testing/coverage-report.md
  docs/testing/module-coverage/backend.md
  docs/testing/module-coverage/frontend.md
  libs/types/src/sync.types.ts
  scripts/test/generate-coverage-report.sh
Due: unit

fix: start-task.shの確認プロンプトを削除し、既存ブランチ対応を追加
  scripts/github/workflow/start-task.sh
Due: none

feat: 金融機関編集機能の実装 (Issue #350)
  apps/backend/src/modules/institution/application/use-cases/update-institution.use-case.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.ts
  apps/backend/src/modules/institution/presentation/dto/update-institution.dto.ts
  apps/frontend/src/app/banks/[id]/edit/page.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/lib/api/institutions.ts
Due: unit, e2e-backend

test: InstitutionControllerのテストにUpdateInstitutionUseCaseのモックを追加
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.spec.ts
Due: none

test: UpdateInstitutionUseCaseのテストを追加してカバレッジ100%を達成
  apps/backend/src/modules/institution/application/use-cases/update-institution.use-case.spec.ts
Due: none

refactor: getInstitution関数をバックエンドのGET /api/institutions/:idエンドポイントを使用するように修正 (Gemini PR#355レビュー対応)
  apps/backend/src/modules/institution/application/use-cases/get-institution.use-case.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.spec.ts
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.ts
  apps/frontend/src/lib/api/institutions.ts
  scripts/github/issues/issue-data/institution-create-feature.json
Due: unit, e2e-backend

refactor: UpdateInstitutionUseCaseのエンティティ更新ロジックを簡潔化 (Gemini PR#355レビュー対応)
  apps/backend/src/modules/institution/application/use-cases/update-institution.use-case.ts
Due: unit, e2e-backend

refactor: EditBankPageコンポーネントの冗長なsetCurrentStep('select')呼び出しを削除 (Gemini PR#355レビュー対応)
  apps/frontend/src/app/banks/[id]/edit/page.tsx
Due: unit

docs: Geminiレビューから学んだ観点をルールファイルに追加 (PR#355レビュー対応)
  .cursor/rules/02-code-standards.md
Due: none

refactor: EditBankPageコンポーネントの状態管理をuseReducerに変更 (Gemini PR#355レビュー対応)
  apps/frontend/src/app/banks/[id]/edit/page.tsx
Due: unit

feat(institution): 金融機関削除機能の実装
  apps/backend/src/modules/institution/application/use-cases/delete-institution.use-case.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.ts
  apps/backend/src/modules/institution/presentation/dto/delete-institution.dto.ts
  apps/frontend/src/components/institutions/DeleteConfirmModal.tsx
  apps/frontend/src/components/institutions/InstitutionCard.tsx
  apps/frontend/src/lib/api/client.ts
  apps/frontend/src/lib/api/institutions.ts
Due: unit, e2e-backend

test(institution): DeleteInstitutionUseCaseのモックをテストに追加
  apps/backend/src/modules/institution/presentation/controllers/institution.controller.spec.ts
  apps/frontend/src/components/institutions/__tests__/InstitutionCard.test.tsx
Due: unit

perf(transaction): 取引履歴の一括削除メソッドを追加（N+1問題の解決）
  apps/backend/src/modules/institution/application/use-cases/delete-institution.use-case.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction.repository.interface.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction.repository.ts
  apps/frontend/src/components/institutions/InstitutionCard.tsx
Due: unit, e2e-backend

docs(rules): Geminiレビューから学んだ観点を追加（PR #356）
  .cursor/rules/02-code-standards.md
Due: none

perf(institution): 削除操作の原子性確保（トランザクションの導入）
  apps/backend/src/modules/institution/application/use-cases/delete-institution.use-case.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction.repository.ts
  apps/frontend/src/lib/api/institutions.ts
Due: unit, e2e-backend
