Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

fix(design): 指摘1,2対応 - Onion Architecture違反と割引の重複適用問題を修正
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/README.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/class-diagrams.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/input-output-design.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/sequence-diagrams.md
Due: none

fix(design): Geminiレビュー2回目対応 - 全7件の指摘を修正
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/class-diagrams.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/input-output-design.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/sequence-diagrams.md
Due: none

fix(design): Geminiレビュー3回目対応 - 全6件の指摘を修正
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/README.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/class-diagrams.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/input-output-design.md
Due: none

fix(design): Geminiレビュー最終回対応 - 全3件の指摘を修正
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/class-diagrams.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/input-output-design.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/sequence-diagrams.md
Due: none

docs: FR-012 クレジットカード月別集計 詳細設計書 (#323)
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/README.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/class-diagrams.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/input-output-design.md
  docs/detailed-design/FR-012_credit-card-monthly-aggregation/sequence-diagrams.md
Due: none

feat(aggregation): Domain層実装 - Phase 1完了
  apps/backend/src/modules/aggregation/domain/entities/monthly-card-summary.entity.ts
  apps/backend/src/modules/aggregation/domain/enums/payment-status.enum.ts
  apps/backend/src/modules/aggregation/domain/repositories/aggregation.repository.interface.ts
  apps/backend/src/modules/aggregation/domain/value-objects/category-amount.vo.ts
Due: unit, e2e-backend

feat(aggregation): BillingPeriodCalculator実装 - Application層 Part 1
  apps/backend/src/modules/aggregation/application/services/billing-period-calculator.service.spec.ts
  apps/backend/src/modules/aggregation/application/services/billing-period-calculator.service.ts
Due: unit, e2e-backend

feat(aggregation): AggregateCardTransactionsUseCase実装 - Application層 Part 2
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
Due: unit, e2e-backend

feat(aggregation): Infrastructure層実装
  apps/backend/src/modules/aggregation/infrastructure/entities/monthly-card-summary.orm-entity.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.spec.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.ts
Due: unit, e2e-backend

feat(aggregation): Presentation層実装
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/aggregation/presentation/dto/aggregate-card-transactions.dto.ts
  apps/backend/src/modules/aggregation/presentation/dto/monthly-card-summary.dto.ts
Due: unit, e2e-backend

feat(aggregation): Module統合・DI設定
  apps/backend/src/app.module.ts
  apps/backend/src/modules/aggregation/aggregation.module.ts
Due: unit, e2e-backend

fix(aggregation): TypeScript型エラーとimport修正
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
Due: unit, e2e-backend

test(aggregation): Domain層テストカバレッジ改善
  apps/backend/src/modules/aggregation/domain/entities/monthly-card-summary.entity.spec.ts
  apps/backend/src/modules/aggregation/domain/value-objects/category-amount.vo.spec.ts
Due: none

fix(aggregation): DI設定修正 - CreditCardModule依存解決
  apps/backend/src/modules/aggregation/aggregation.module.ts
Due: unit, e2e-backend

fix(aggregation): 集計再実行時のUpsert対応
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
Due: unit, e2e-backend

refactor(aggregation): DIトークンをSymbolで統一
  apps/backend/src/modules/aggregation/aggregation.module.ts
  apps/backend/src/modules/aggregation/aggregation.tokens.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
Due: unit, e2e-backend

refactor(aggregation): Controller層のOnion Architecture違反修正
  apps/backend/src/modules/aggregation/aggregation.module.ts
  apps/backend/src/modules/aggregation/application/use-cases/delete-summary.use-case.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-all-summaries.use-case.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-summary-by-id.use-case.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
Due: unit, e2e-backend

refactor(aggregation): Medium優先度指摘対応
  apps/backend/src/modules/aggregation/application/services/billing-period-calculator.service.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
Due: unit, e2e-backend

docs(rules): Gemini PR#325レビューから学んだ観点を追加
  .cursor/rules/02-code-standards.md
Due: none

fix(aggregation): CI失敗修正
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.spec.ts
Due: unit, e2e-backend

refactor(aggregation): Gemini PR#325 第2回レビュー対応
  apps/backend/src/modules/aggregation/aggregation.module.ts
  apps/backend/src/modules/aggregation/application/services/billing-period-calculator.service.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
Due: unit, e2e-backend

docs(rules): Gemini PR#325 第2回レビューから学んだ観点を追加
  .cursor/rules/02-code-standards.md
Due: none

refactor(aggregation): Gemini PR#325 最終レビュー対応
  apps/backend/src/modules/aggregation/application/services/billing-period-calculator.service.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
Due: unit, e2e-backend

docs(rules): Gemini PR#325 最終レビューから学んだ観点を追加
  .cursor/rules/02-code-standards.md
Due: none

feat(aggregation): FR-012 クレジットカード月別集計機能実装 (#325)
  .cursor/rules/02-code-standards.md
  apps/backend/src/app.module.ts
  apps/backend/src/modules/aggregation/aggregation.module.ts
  apps/backend/src/modules/aggregation/aggregation.tokens.ts
  apps/backend/src/modules/aggregation/application/services/billing-period-calculator.service.spec.ts
  apps/backend/src/modules/aggregation/application/services/billing-period-calculator.service.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.spec.ts
  apps/backend/src/modules/aggregation/application/use-cases/aggregate-card-transactions.use-case.ts
  apps/backend/src/modules/aggregation/application/use-cases/delete-summary.use-case.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-all-summaries.use-case.ts
  apps/backend/src/modules/aggregation/application/use-cases/find-summary-by-id.use-case.ts
  apps/backend/src/modules/aggregation/domain/entities/monthly-card-summary.entity.spec.ts
  apps/backend/src/modules/aggregation/domain/entities/monthly-card-summary.entity.ts
  apps/backend/src/modules/aggregation/domain/enums/payment-status.enum.ts
  apps/backend/src/modules/aggregation/domain/repositories/aggregation.repository.interface.ts
  apps/backend/src/modules/aggregation/domain/value-objects/category-amount.vo.spec.ts
  apps/backend/src/modules/aggregation/domain/value-objects/category-amount.vo.ts
  apps/backend/src/modules/aggregation/infrastructure/entities/monthly-card-summary.orm-entity.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.spec.ts
  apps/backend/src/modules/aggregation/infrastructure/repositories/aggregation-typeorm.repository.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.spec.ts
  apps/backend/src/modules/aggregation/presentation/controllers/aggregation.controller.ts
  apps/backend/src/modules/aggregation/presentation/dto/aggregate-card-transactions.dto.ts
  apps/backend/src/modules/aggregation/presentation/dto/monthly-card-summary.dto.ts
Due: unit, e2e-backend

docs: FR-010詳細設計書を更新 - 画面遷移図追加と残作業明記
  docs/detailed-design/FR-010_manual-category-edit/README.md
  docs/detailed-design/FR-010_manual-category-edit/screen-transitions.md
Due: none

docs: Geminiレビュー対応 - FR-010設計書の矛盾を修正
  docs/detailed-design/FR-010_manual-category-edit/README.md
  docs/detailed-design/FR-010_manual-category-edit/screen-transitions.md
Due: none

docs: FR-010費目の手動修正機能 - 詳細設計書を更新 (#326)
  docs/detailed-design/FR-010_manual-category-edit/README.md
  docs/detailed-design/FR-010_manual-category-edit/screen-transitions.md
Due: none

feat(frontend): #39 /transactionsページを実装
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/src/app/transactions/page.tsx
Due: unit

feat(e2e): #39 E2Eテストデータ投入機能を実装
  apps/frontend/e2e/global-setup.ts
  apps/frontend/e2e/helpers/test-data.ts
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/playwright.config.ts
  docs/testing/module-coverage/FR-010-manual-category-edit-coverage.md
Due: none

test(frontend): #39 transactions API Clientのユニットテストを追加
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
Due: unit

docs: #39 FR-010カバレッジレポートを更新（API Client 100%達成）
  docs/testing/module-coverage/FR-010-manual-category-edit-coverage.md
Due: none

refactor(frontend): #39 Geminiレビュー対応 - JSX共通レイアウトの抽出
  .cursor/rules/02-code-standards.md
  apps/frontend/src/app/transactions/page.tsx
Due: unit

fix(frontend): #39 E2Eテストデータのstatus値を小文字に修正
  apps/frontend/e2e/helpers/test-data.ts
Due: none

fix(frontend): #39 E2Eテストデータ投入の改善
  apps/frontend/e2e/helpers/test-data.ts
Due: none

docs: push前チェックの厳格化 - ローカルテスト必須ルール追加
  .cursor/rules/00-WORKFLOW-CHECKLIST.md
  .cursor/rules/03-git-workflow.md
Due: none

fix(frontend): Next.js not-found.tsxページを追加
  apps/frontend/src/app/not-found.tsx
Due: unit

test(e2e): E2Eテストデータ投入のログ追加と環境変数設定の改善
  apps/frontend/e2e/global-setup.ts
  apps/frontend/e2e/helpers/test-data.ts
  apps/frontend/playwright.config.ts
Due: none

fix(frontend): transactions APIエンドポイントに/apiプレフィックスを追加
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/lib/api/transactions.ts
Due: unit

test(frontend): transactions APIエンドポイントのテストを/apiプレフィックスに更新
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/src/lib/api/__tests__/transactions.test.ts
Due: unit

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
