Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%

ignore:
  - "**/test/**"
  - "**/dist/**"
  - "**/*.spec.ts"
  - "**/*.e2e-spec.ts"
  - "**/node_modules/**"
  - "**/coverage/**"
  - "**/playwright-report/**"
  - "**/test-results/**"

flags:
  unit:
    paths:
      - apps/backend/src
      - apps/frontend/src
    carryforward: true
  e2e-backend:
    paths:
      - apps/backend/src
    carryforward: true

docs(rules): Geminiレビューから学んだ観点をルールファイルに反映
  .cursor/rules/03-git-workflow.md
  .cursor/rules/05-ci-cd.md
Due: none

feat(ci): マークダウン変更時のCI実行をスキップし、全JobにタイムアウトとCI最適化ドキュメントを追加 (#267) (#271)
  .cursor/rules/03-git-workflow.md
  .cursor/rules/05-ci-cd.md
  .github/workflows/ci.yml
Due: none

feat(infrastructure): Phase 2-4 環境別Docker設定とスクリプト対応 (#270)
  DOCKER-COMPOSE.md
  docker-compose.dev.yml
  docker-compose.e2e.yml
  docker-compose.test.yml
  scripts/dev/reset-database.sh
  scripts/dev/start-database.sh
  scripts/dev/stop-database.sh
  scripts/test/test-e2e.sh
Due: none

feat(frontend): Phase 5 Playwright設定の環境対応 (#270)
  apps/frontend/playwright.config.ts
Due: none

feat(ci): Phase 6 CI環境の環境別ポート対応 (#270)
  .github/workflows/ci.yml
Due: none

docs: Phase 8 READMEに環境分離情報を追加 (#270)
  README.md
Due: none

feat(infrastructure): 環境分離の安全性強化 - 誤接続防止機構 (#270)
  DOCKER-COMPOSE.md
  apps/backend/src/config/database-common.config.ts
  docker-compose.dev.yml
  docker-compose.e2e.yml
  docker-compose.test.yml
  scripts/dev/start-database.sh
Due: unit, e2e-backend

docs: 環境分離機能に詳細ドキュメントを追加 (#270)
  DOCKER-COMPOSE.md
  apps/backend/src/config/database-common.config.ts
  scripts/dev/start-database.sh
Due: unit, e2e-backend

fix(ci): Geminiレビュー対応 - NODE_ENV設定とTEST_ENV追加 (#270)
  .github/workflows/ci.yml
  DOCKER-COMPOSE.md
  apps/frontend/playwright.config.ts
  docker-compose.test.yml
Due: none

fix(ci): Backend E2Eテストの.env確認を追加 (#270)
  .github/workflows/ci.yml
Due: none

fix(test): setup-e2e.tsでdotenvを明示的に読み込み、デフォルトポートを3316に変更 (#270)
  apps/backend/test/setup-e2e.ts
Due: none

[infrastructure] develop/test/lint/e2e環境の完全分離（ポート・DB・コンテナ名） (#270) (#272)
  .github/workflows/ci.yml
  DOCKER-COMPOSE.md
  README.md
  apps/backend/src/config/database-common.config.ts
  apps/backend/test/setup-e2e.ts
  apps/frontend/playwright.config.ts
  docker-compose.dev.yml
  docker-compose.e2e.yml
  docker-compose.test.yml
  scripts/dev/reset-database.sh
  scripts/dev/start-database.sh
  scripts/dev/stop-database.sh
  scripts/test/test-e2e.sh
Due: unit, e2e-backend

test: テスト実行時のエラー出力を抑制
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.spec.ts
  apps/backend/src/modules/sync/application/use-cases/sync-transactions.use-case.spec.ts
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
Due: unit

test: NotificationCleanupServiceのエラー出力を抑制
  apps/backend/src/modules/health/application/services/notification-cleanup.service.spec.ts
Due: none

refactor: テストのモッククリーンアップを統一
  apps/backend/src/modules/health/application/services/notification-cleanup.service.spec.ts
  apps/backend/src/modules/sync/application/use-cases/sync-transactions.use-case.spec.ts
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
Due: unit

docs: テストのモッククリーンアップベストプラクティスをルールに追加
  .cursor/rules/02-code-standards.md
Due: none

docs: ターミナルコマンド実行時の権限設定ルールを追加
  .cursor/rules/03-git-workflow.md
  .cursor/rules/04-github-integration.md
Due: none

refactor: Geminiレビュー対応 - モック実装の改善
  .cursor/rules/02-code-standards.md
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
Due: unit

test: テスト実行時のエラー出力を抑制 (#273)
  .cursor/rules/02-code-standards.md
  .cursor/rules/03-git-workflow.md
  .cursor/rules/04-github-integration.md
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.spec.ts
  apps/backend/src/modules/health/application/services/notification-cleanup.service.spec.ts
  apps/backend/src/modules/sync/application/use-cases/sync-transactions.use-case.spec.ts
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
Due: unit

refactor: healthモジュールのレスポンスDTOをinterfaceに変更
  apps/backend/src/modules/health/presentation/dto/check-connection.dto.ts
  apps/backend/src/modules/health/presentation/dto/get-connection-history.dto.ts
Due: unit, e2e-backend

fix: ローカルE2Eテスト環境でMySQL環境変数が正しく渡されるように修正
  apps/frontend/playwright.config.ts
  scripts/test/test-e2e.sh
Due: none

refactor: status と institutionType を厳密な文字列リテラルユニオン型に変更
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.ts
  apps/backend/src/modules/health/application/use-cases/get-connection-history.use-case.ts
  apps/backend/src/modules/health/domain/types/connection-status-result.type.ts
  apps/backend/src/modules/health/presentation/dto/check-connection.dto.ts
  apps/backend/src/modules/health/presentation/dto/get-connection-history.dto.ts
Due: unit, e2e-backend

docs: DTO設計ルールに型の厳密化に関する記述を追加
  .cursor/rules/02-code-standards.md
Due: none

refactor: 型ガード関数を使用した安全な型変換の実装
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.ts
  apps/backend/src/modules/health/application/use-cases/get-connection-history.use-case.ts
  apps/backend/src/modules/health/domain/types/connection-status-result.type.ts
  apps/backend/src/modules/health/domain/types/connection.types.ts
  apps/backend/src/modules/health/presentation/dto/check-connection.dto.ts
  apps/backend/src/modules/health/presentation/dto/get-connection-history.dto.ts
Due: unit, e2e-backend

refactor: healthモジュールのレスポンスDTOをinterfaceに変更 (#274)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.ts
  apps/backend/src/modules/health/application/use-cases/get-connection-history.use-case.ts
  apps/backend/src/modules/health/domain/types/connection-status-result.type.ts
  apps/backend/src/modules/health/domain/types/connection.types.ts
  apps/backend/src/modules/health/presentation/dto/check-connection.dto.ts
  apps/backend/src/modules/health/presentation/dto/get-connection-history.dto.ts
  apps/frontend/playwright.config.ts
  scripts/test/test-e2e.sh
Due: unit, e2e-backend

docs: Geminiレビューから得られた型安全性の観点をルールに追加
  .cursor/rules/02-code-standards.md
Due: none

test: FR-010費目手動修正機能のテスト実装
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.spec.ts
  apps/backend/test/transaction-category-update.e2e-spec.ts
Due: none

feat: FR-010費目手動修正機能の実装完了
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.ts
  apps/backend/src/modules/transaction/domain/entities/transaction-category-change-history.entity.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction-category-change-history.repository.interface.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction-category-change-history.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-category-change-history.repository.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/src/components/transactions/TransactionList.tsx
  apps/frontend/src/components/transactions/__tests__/TransactionList.test.tsx
Due: unit, e2e-backend

fix: テストエラー修正とビルドスクリプト追加
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.spec.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-category-change-history.repository.ts
  apps/frontend/src/components/transactions/__tests__/TransactionList.test.tsx
  scripts/test/build.sh
Due: unit, e2e-backend

fix: Geminiレビュー指摘事項の修正
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction-category-change-history.orm-entity.ts
  apps/backend/test/transaction-category-update.e2e-spec.ts
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/src/components/transactions/TransactionList.tsx
Due: unit, e2e-backend

docs: Geminiレビューから得られた観点をルールに追加
  .cursor/rules/02-code-standards.md
Due: none

fix: トランザクション管理に伴うテスト修正
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.spec.ts
Due: none

fix: E2Eテストの修正
  apps/backend/test/transaction-category-update.e2e-spec.ts
Due: none

test: Frontend E2Eテストをスキップ
  apps/frontend/e2e/transaction-category-edit.spec.ts
Due: none

fix: Geminiレビュー指摘への対応とルール更新
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.spec.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/backend/test/transaction-category-update.e2e-spec.ts
  apps/frontend/src/components/transactions/TransactionList.tsx
  scripts/test/build.sh
Due: unit, e2e-backend

feat: FR-010費目手動修正機能の完全実装 (#275)
  .cursor/rules/02-code-standards.md
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.spec.ts
  apps/backend/src/modules/transaction/application/use-cases/update-transaction-category.use-case.ts
  apps/backend/src/modules/transaction/domain/entities/transaction-category-change-history.entity.ts
  apps/backend/src/modules/transaction/domain/repositories/transaction-category-change-history.repository.interface.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction-category-change-history.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-category-change-history.repository.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/backend/test/transaction-category-update.e2e-spec.ts
  apps/frontend/e2e/transaction-category-edit.spec.ts
  apps/frontend/src/components/transactions/TransactionList.tsx
  apps/frontend/src/components/transactions/__tests__/TransactionList.test.tsx
  scripts/test/build.sh
Due: unit, e2e-backend

docs: FR-006詳細設計書のREADME作成
  docs/detailed-design/FR-006_auto-fetch-transactions/README.md
Due: none

docs: FR-006詳細設計書のクラス図作成
  docs/detailed-design/FR-006_auto-fetch-transactions/class-diagrams.md
Due: none

docs: FR-006詳細設計書のシーケンス図作成
  docs/detailed-design/FR-006_auto-fetch-transactions/sequence-diagrams.md
Due: none

docs: FR-006詳細設計書の入出力設計作成
  docs/detailed-design/FR-006_auto-fetch-transactions/input-output-design.md
Due: none
