Repository kencom2400/account-book: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e-backend

feat: 初回環境セットアップスクリプトの作成 (#176)
  README.md
  scripts/setup/initial-setup.sh
Due: none

[Infrastructure] MySQL + Docker データ永続化基盤の構築 (#165) (#207)
  .github/workflows/ci.yml
  README.md
  apps/backend/package.json
  apps/backend/scripts/migrate-json-to-mysql.ts
  apps/backend/src/app.module.ts
  apps/backend/src/config/database-common.config.ts
  apps/backend/src/config/database.config.ts
  apps/backend/src/config/typeorm-migration.config.ts
  apps/backend/src/migrations/1700000000000-InitialMigration.ts
  apps/backend/src/modules/category/category.module.ts
  apps/backend/src/modules/category/infrastructure/entities/category.orm-entity.ts
  apps/backend/src/modules/category/infrastructure/repositories/category-typeorm.repository.ts
  apps/backend/src/modules/credit-card/credit-card.module.ts
  apps/backend/src/modules/credit-card/infrastructure/entities/credit-card.orm-entity.ts
  apps/backend/src/modules/credit-card/infrastructure/repositories/credit-card-typeorm.repository.ts
  apps/backend/src/modules/institution/infrastructure/entities/institution.orm-entity.ts
  apps/backend/src/modules/institution/infrastructure/repositories/institution-typeorm.repository.ts
  apps/backend/src/modules/institution/institution.module.ts
  apps/backend/src/modules/transaction/infrastructure/entities/transaction.orm-entity.ts
  apps/backend/src/modules/transaction/infrastructure/repositories/transaction-typeorm.repository.ts
  apps/backend/src/modules/transaction/transaction.module.ts
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/health.e2e-spec.ts
  apps/backend/test/helpers/database-helper.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/setup-e2e.ts
  docker-compose.yml
  docker/mysql/init/01-init.sql
  docs/database-setup.md
  package.json
  pnpm-lock.yaml
  scripts/data/backup-database.sh
  scripts/data/restore-database.sh
  scripts/dev/reset-database.sh
  scripts/dev/start-database.sh
  scripts/dev/stop-database.sh
Due: unit, e2e-backend

fix: Geminiレビューコメントに対応 (#176)
  scripts/setup/initial-setup.sh
Due: none

feat: 初回環境セットアップスクリプトの作成 (#176) (#208)
  README.md
  scripts/setup/initial-setup.sh
Due: none

feat: プロジェクトステータスをDoneに更新するスクリプトを追加
  scripts/github/projects/set-issue-done.sh
Due: none

feat: task-trigger.mdを更新 - To DoステータスからIssueを取得するように変更
  .cursor/rules/task-trigger.md
Due: none

docs: FR-001~005 金融機関連携機能の詳細設計書を作成 (#198)
  docs/detailed-design/FR-001-005_institution-integration/README.md
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
  docs/detailed-design/FR-001-005_institution-integration/screen-transitions.md
  docs/detailed-design/FR-001-005_institution-integration/sequence-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/state-transitions.md
Due: none

docs: Geminiレビュー指摘のドキュメント修正
  docs/detailed-design/FR-001-005_institution-integration/README.md
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
  docs/detailed-design/FR-001-005_institution-integration/screen-transitions.md
Due: none

docs: Geminiレビュー第2弾の指摘を反映
  docs/detailed-design/FR-001-005_institution-integration/README.md
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
  docs/detailed-design/FR-001-005_institution-integration/sequence-diagrams.md
Due: none

docs: Geminiレビュー第3弾の指摘を反映
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
Due: none

docs: Geminiレビュー第4弾の指摘を反映
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/sequence-diagrams.md
Due: none

docs: FR-001~005 金融機関連携機能の詳細設計書を作成 (#210)
  docs/detailed-design/FR-001-005_institution-integration/README.md
  docs/detailed-design/FR-001-005_institution-integration/batch-processing.md
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
  docs/detailed-design/FR-001-005_institution-integration/screen-transitions.md
  docs/detailed-design/FR-001-005_institution-integration/sequence-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/state-transitions.md
Due: none

feat(ci): GitHub Actions CI パイプラインの改善
  .github/workflows/ci.yml
  README.md
Due: none

docs(ci): Geminiレビュー指摘への対応とrule更新
  .cursor/rules/ci-cd.md
  README.md
Due: none

[TASK] A-6: GitHub Actions CI パイプライン構築 (#216)
  .cursor/rules/ci-cd.md
  .github/workflows/ci.yml
  README.md
Due: none

feat: GitHub Actionsでissue/PRクローズ時にプロジェクトステータスを自動更新
  .github/ISSUE_MANAGEMENT.md
  .github/workflows/update-project-status.yml
  README.md
Due: none

docs: 以前の自動化ルールを復元し、実装済み/計画中を明確化
  .github/ISSUE_MANAGEMENT.md
Due: none

[enhancement] GitHub ActionsでIssue/PRクローズ時にプロジェクトステータスを自動更新 (#217)
  .github/ISSUE_MANAGEMENT.md
  .github/workflows/update-project-status.yml
  README.md
Due: none

feat(health): NotificationServiceの呼び出し責務をApplication層に移動
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.spec.ts
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.ts
  apps/backend/src/modules/health/application/services/notification.service.spec.ts
  apps/backend/src/modules/health/application/services/notification.service.ts
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.spec.ts
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.ts
  apps/backend/src/modules/health/domain/events/connection-failed.event.ts
  apps/backend/src/modules/health/health.module.ts
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/sequence-diagrams.md
  package.json
  pnpm-lock.yaml
Due: unit, e2e-backend

fix(health): Geminiレビュー指摘事項の修正
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.spec.ts
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.ts
  apps/backend/src/modules/health/application/services/notification.service.spec.ts
  apps/backend/src/modules/health/application/services/notification.service.ts
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.ts
  apps/backend/src/modules/health/domain/events/connection-failed.event.ts
  apps/backend/src/modules/health/domain/types/connection-status-result.type.ts
  apps/backend/src/modules/health/presentation/controllers/health.controller.ts
  package.json
Due: unit, e2e-backend

chore: pnpm-lock.yamlを更新
  pnpm-lock.yaml
Due: none

feat(health): NotificationServiceの呼び出し責務をApplication層に移動 (#218)
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.spec.ts
  apps/backend/src/modules/health/application/handlers/connection-failed.handler.ts
  apps/backend/src/modules/health/application/services/notification.service.spec.ts
  apps/backend/src/modules/health/application/services/notification.service.ts
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.spec.ts
  apps/backend/src/modules/health/application/use-cases/check-connection-status.use-case.ts
  apps/backend/src/modules/health/domain/events/connection-failed.event.ts
  apps/backend/src/modules/health/domain/types/connection-status-result.type.ts
  apps/backend/src/modules/health/health.module.ts
  apps/backend/src/modules/health/presentation/controllers/health.controller.ts
  docs/detailed-design/FR-001-005_institution-integration/class-diagrams.md
  docs/detailed-design/FR-001-005_institution-integration/sequence-diagrams.md
  pnpm-lock.yaml
Due: unit, e2e-backend

fix: GITHUB_TOKENの権限不足によるプロジェクトステータス更新失敗を修正
  .github/ISSUE_MANAGEMENT.md
  .github/workflows/update-project-status.yml
  README.md
  docs/github-actions-project-token-investigation.md
Due: none

feat: AIアシスタントによるIssue/PRステータス管理への移行
  .cursor/rules/issue-status-management.md
  .cursorrules
  .github/ISSUE_MANAGEMENT.md
Due: none

chore: Issue #209で実装したCIワークフローの削除
  .github/workflows/update-project-status.yml
  README.md
Due: none

refactor: Geminiレビュー指摘への対応
  .cursor/rules/issue-status-management.md
  .github/ISSUE_MANAGEMENT.md
Due: none

[enhancement] AIアシスタントによるIssue/PRステータス管理への移行 (#220)
  .cursor/rules/issue-status-management.md
  .cursorrules
  .github/ISSUE_MANAGEMENT.md
  .github/workflows/update-project-status.yml
  README.md
Due: none

refactor(api): エラーレスポンスdetailsフィールドの形式を配列に統一
  apps/backend/src/common/filters/http-exception.filter.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/institution/presentation/filters/bank-connection-exception.filter.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/frontend/src/components/notifications/ErrorModal.tsx
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
  apps/frontend/src/lib/api/client.ts
  docs/detailed-design/FR-001-005_institution-integration/input-output-design.md
  libs/types/src/api.types.ts
  libs/types/src/api/error-response.ts
Due: unit, e2e-backend

test: ErrorModalのテストを配列形式のdetailsに対応
  apps/frontend/src/components/notifications/__tests__/ErrorModal.test.tsx
Due: unit

fix: Geminiの指摘に対応 - ErrorDetailを共有ライブラリからインポート、型アサーションを安全化
  apps/backend/src/common/filters/http-exception.filter.ts
Due: unit, e2e-backend

fix: Geminiの指摘に対応 - BankConnectionExceptionFilterでErrorDetailを共有ライブラリからインポート
  apps/backend/src/modules/institution/presentation/filters/bank-connection-exception.filter.ts
Due: unit, e2e-backend

fix: Geminiの指摘に対応 - ErrorModalでErrorDetailを共有ライブラリからインポート
  apps/frontend/src/components/notifications/ErrorModal.tsx
Due: unit

fix: Geminiの指摘に対応 - APIクライアントでErrorDetailとErrorResponseを共有ライブラリからインポート
  apps/frontend/src/lib/api/client.ts
Due: unit

fix: Geminiの指摘に対応 - E2Eテストの型定義を改善、フォールバックロジックを削除
  apps/backend/test/institution.e2e-spec.ts
Due: none

fix: E2EテストにErrorDetail型のインポートを追加
  apps/backend/test/institution.e2e-spec.ts
Due: none

fix: Geminiの指摘に対応 - ErrorModalで配列のkeyを改善
  apps/frontend/src/components/notifications/ErrorModal.tsx
Due: unit

fix: CIエラー修正 - error-responseのインポートパスを修正
  apps/backend/src/common/filters/http-exception.filter.ts
  apps/backend/src/modules/institution/presentation/filters/bank-connection-exception.filter.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/frontend/src/components/notifications/ErrorModal.tsx
  apps/frontend/src/lib/api/client.ts
  libs/types/src/index.ts
Due: unit, e2e-backend

fix: E2EテストにHttpExceptionFilterを追加
  apps/backend/test/app.e2e-spec.ts
  apps/backend/test/health.e2e-spec.ts
  apps/backend/test/institution.e2e-spec.ts
  apps/backend/test/securities.e2e-spec.ts
Due: none

fix: E2EテストでHttpExceptionFilterをグローバルに設定
  apps/backend/test/institution.e2e-spec.ts
Due: none

fix: E2Eテストの残りのエラーレスポンス形式チェックを修正
  apps/backend/test/institution.e2e-spec.ts
Due: none

Path conditions:
  unit: any of: apps/backend/src, apps/frontend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
  e2e-backend: any of: apps/backend/src, but not: **/test/**, **/dist/**, **/*.spec.ts, **/*.e2e-spec.ts, **/node_modules/**, **/coverage/**, **/playwright-report/**, **/test-results/**
